<div class="compliance-page-header main-text-color">
  <app-fav-button [status]="isFavorite" [url]="href" [title]="title"></app-fav-button>
  <span [innerHTML]="title"></span>
</div>
<div class="main-container content-background">
  <!-- <div *ngIf="alarms && alarms.length > 0" class="btn-container">
    <app-acknowledgement [alarms]="alarms" [acknowledgements]="acknowledgements"></app-acknowledgement>
  </div> -->

  <div class="country-health health-container">
    <div class="dashboard-container">
      <div class="health-stats-dashboard main-text-color">
        <p class="dashboard-region-header">Area Health</p>
      </div>
      <div class="row main-cards-container">
        <div class="col-12 col-xl-6">
          <div class="info-card-box svg-map-background svg-box-shadow">
            <app-health-details [healthInfo]="healthInfo"></app-health-details>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="header-title">Assets</p>

  <div class="row no-margin">
    <div class="asset-card-box info-card-box svg-map-backgroud" *ngFor="let item of alertList">
      <app-asset-card [item]="item"></app-asset-card>
    </div>
  </div>

  <div *ngIf="alertList.length == 0">
    <div class="layout-error-container main-text-color">
      <p class="error-title">There are no assets in this Facility Area</p>
    </div>
  </div>
</div>
