@import '~styles/variables';

:host {
  display: block;
}

.layout-error-container {
  position: relative;
  text-align: center;
  padding-bottom: 9px;
  padding-left: 8px;
  padding-top: 14px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;

  p {
    margin: 0;
    display: inline-block;
  }
}

.main-container {
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
    padding-left: 12px;
  }
}

.error-text {
  font-family: FranklinGothic-Light;
  color: #767d8b;
  font-size: 16px;
  width: 100%;
}

.error-title {
  color: #70829e;
  font-size: 24px;
}

svg {
  height: 100%;
}

.image-box {
  text-align: center;
}

.info-card {
  font-family: FranklinGothic-Light;
  width: 300px;
  height: 150px;
  border-radius: 6px;
  .info-card-title {
    border-top-left-radius: 6px;

    .title-text {
      font-weight: bold;
      font-size: 24px;
      padding: 12px 6px 12px 6px;
      margin: 0;

      &.right-corner {
        font-weight: normal;
        opacity: 0.9;
      }
    }

    &.right-corner {
      border-top-right-radius: 6px;
      background: rgba(#000000, 0.1);
    }
  }

  .info-card-container {
    position: relative;
    padding: 12px;

    .component-icon {
      position: absolute;
      width: 125px;
      right: 12px;
      opacity: 0.3;

      &.dark {
        opacity: 0.1;
      }
    }

    .info-card-text {
      padding: 6px;

      &.timer {
        margin-bottom: 0px;
      }

      &.description {
        font-size: 16px;
      }

      &.bottom {
        position: absolute;
        bottom: 0;
        font-size: 16px;

        .card-desc {
          width: 100%;
          display: inline-block;
          text-align: left;
        }
      }
    }

    .info-card-bold-text {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 18px;

      &.mid-section {
        margin-bottom: 10px;
      }
    }

    &.bottom {
      height: 140px;
    }
  }
}

.my-button {
  text-align: center;
  font-family: FranklinGothic-Medium;
  color: white;
  border: none;
  cursor: pointer;

  &.primary {
    width: 100%;
    display: block;
    height: 50px;
    margin: auto;
    font-size: 14px;
    border-radius: 100px;
  }

  &.secondary {
    width: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    height: 35px;
    font-size: 12px;
    justify-content: center;

    &.right-btn {
      border-right: 1px solid black;
    }

    &.left-btn {
      border-left: 1px solid black;
    }
  }
}

.info-card-bottom {
  display: flex;
  margin-top: 20px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

.header-title {
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  color: #f7faff;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.asset-card-box {
  max-width: 300px;
  margin: 0 15px 30px;
}

.health-container {
  margin-bottom: 40px;
  .dashboard-container {
    padding: 0;

    .health-stats-dashboard {
      padding-top: 20px;
      font-size: 22px;
      font-weight: 600;

      @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
        font-size: 28px;
      }

      .dashboard-region-header {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 0;
        display: inline-block;
        text-transform: capitalize;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          font-size: 22px;
        }
      }
    }
  }

  .info-card-box {
    width: 100%;
    display: inline-block;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    padding-bottom: 10px;
  }

  .info-card-box-odd {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  .main-asset {
    width: 90%;
    height: 90%;
  }
}

.main-asset {
  width: 90%;
  height: 90%;
}
