.compliance-sidenav-content {
  border-left: 2px solid #425778;
}

.left-menu-header {
  height: 24px;
  width: 112px;
  margin: 14px 0 0 16px;
  color: #f7faff;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  font-family: FranklinGothic-Heavy;
}

.left-expand-btn-container {
  width: 50px;
  position: absolute;
  top: 0;
  bottom: -225px;
  text-align: center;
  padding-top: 10px;
}

.right-expand-btn-container {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
}

.tree-header-company {
  margin-top: 12px;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 700;
  cursor: pointer;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-container2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.search-btn {
  width: 80%;
}

.mhs-tree-invisible {
  display: none;
}

.mhs-tree ul,
.mhs-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.green-icon {
  fill: green;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.red-border {
  border: 1px solid #ef9a9a;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
  border: 1px solid #cddc39;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid #ffca28;
}

.tree-header {
  margin-left: 20px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.search-sidenav,
.sidenav-content {
  height: calc(100% - 16px);

  .mat-nested-tree-node {
    .mat-tree-node {
      min-height: 28px;

      a {
        color: black;
      }
    }

    ul {
      padding: 0 0 0 20px;
    }
  }

  .mat-icon-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}

.details-sidenav {
  .mat-list .mat-list-item {
    height: 36px;
    padding-left: 10px;
  }

  .mat-icon {
    height: 17px;
    width: 17px;
    margin-right: 10px;
    font-size: 17px;
  }

  .mat-drawer.mat-drawer-end {
    border: 1px solid;
    right: 0;
  }

  .toggle-btn {
    display: block;
    margin: 20px auto;
  }
}

.main-details-sidenav {
  margin-top: 20px;
  margin-right: 5%;
  float: right;
}

.main-search-sidenav {
  margin-top: 20px;
  margin-left: 5%;
  float: left;
}

.background-highlight .compliance {
  font-weight: 900;
  color: darkolivegreen !important;
  text-decoration: underline;
}

.sensor-name-1,
.sensor-name-2,
.sensor-name-3 {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: green;
    border: 1px solid darkgreen;
    right: 4px;
  }
}

.sensor-name-4,
.sensor-name-5 {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: yellow;
    border: 1px solid darkgoldenrod;
    right: 4px;
  }
}

.sensor-name-6,
.sensor-name-7,
.sensor-name-8,
.sensor-name-9 {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: red;
    border: 1px solid darkred;
    right: 4px;
  }
}

.ng-star-inserted {
  color: black;
}

.ng-star-inserted.compliance {
  font-weight: 900;
  color: black;
  text-decoration: underline;

  &:after {
    position: relative;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: green;
    left: 4px;
  }
}

.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

// .btn {
//   display: inline-block;
//   padding: 6px 12px;
//   margin-bottom: 0;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 1.42857143;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   -ms-touch-action: manipulation;
//   touch-action: manipulation;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-image: none;
//   border: 1px solid transparent;
//   border-radius: 4px;
// }

.search-box-container {
  width: 100%;
  height: 85px;
  padding-left: 30px;
}

.mat-button-wrapper {
  font-size: 18px;
  font-weight: 700;
  border: 1px solid red;
}

.margin-left-50 {
  margin-left: 52px;
  position: relative;
}

.margin-right-50 {
  margin-right: 52px;
  position: relative;
}

.details-sidenav {
  .buttons-container {
    .wo-button,
    .open-button {
      .button-label {
        position: absolute;
        margin-right: -12px;
        padding-top: 1px;
        right: 0;
        font-family: FranklinGothic-Light, OpenSans, sans-serif;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0;
      }
    }

    .po-button,
    .open-button {
      .button-label {
        position: absolute;
        margin-right: -5px;
        padding-top: 1px;
        right: 0;
        font-family: FranklinGothic-Light, OpenSans, sans-serif;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0;
      }
    }

    .close-button {
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: 0;

      .mat-icon {
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
        font-size: 24px;
      }
    }
  }
}

.po-button,
.wo-button {
  width: 60%;
  border: none;
  background: transparent;
}

.po-button {
  .mat-icon {
    width: 37px;
    height: 37px;
    margin-left: -7px;
    padding: 0;
  }
}

.wo-button {
  .mat-icon {
    width: 37px;
    height: 37px;
    margin-left: -5px;
    padding: 0;
  }
}

.open-button {
  width: 60%;
  border: none;
  background: transparent;

  .mat-icon {
    width: 27px;
    height: 27px;
    margin: 0 0 0 -4px;
    padding: 0;
  }
}

.wo-button--collapsed,
.po-button--collapsed,
.open-button--collapsed {
  width: 100%;

  .button-label {
    margin-top: -10px;
    margin-left: 2px;
    display: block;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .mat-icon {
    margin-left: auto;
    margin-right: auto;
  }
}

.compliance-page-favorites {
  font-size: 14px;
  color: #fff;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}
