<div class="component-health-container">
  <div class="gauge-meter">
    <!--   You can remove the gradient div and  simply use a border on the METER element if you don't need a gradient.      -->
      <div class="gradient" [ngClass]="gray ? 'gray-bg' : ''"></div>
      <div class="meter"></div>
      <div class="needle-container">
        <div class="needle" id="needle" [style.transform.rotate]=""></div> 
      </div>
  </div>
  <p class="component-health-value main-text-color">{{ health }} %</p>
 
</div>
