.component-health-container {
  position: relative;

  .power-gauge {
    text-align: center;
  }

  .component-health-value {
    width: 100%;
    text-align: center;
    font-size: 37px;
    letter-spacing: 1px;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
  }
}

$width: 230px;

.desc {
  font-size: 12px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.gradient {
  width: $width + 6px;
  height: $width + 8px;
  background: linear-gradient(to right, #ff5252 1%, #ffbb38 40%, #00e893 100%);
  border-radius: 50%;
  position: relative;
  z-index: 0;
  position: absolute;
  z-index: 0;
}

.gray-bg {
  background: linear-gradient(to right, #a8aeb9 1%, #989da7 40%, #8a8d94 100%);
}

.gauge-meter {
  margin: 30px auto 0 auto;
  width: $width + 6px;
  height: $width/2 + 16;
  z-index: 5;
  position: relative;
  overflow: hidden;
}

.needle-container {
  transform: rotate(-100deg);
  height: 53px;
  z-index: 20;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.meter {
  position: absolute;
  z-index: 5;
  left: 25px;
  top: 19px;
  border-radius: 50%;
  width: $width - 44;
  height: $width - 20;
}

.needle {
  width: 3px;
  height: 75%;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 80px solid #000;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 1px);
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom center;
  z-index: 5;
  border-radius: 5px;
}
