.header-icon {
  float: left;
  padding-right: 10px;

  &--document {
    padding-top: 17px;
    padding-left: 5px;
  }
}

.information-icon {
  height: 12px;
  margin-top: 17px;
  margin-left: 4px;
  vertical-align: top;
}

.date-container {
  margin-top: 16px;
}

.details-top-container {
  padding: 5px;
  margin: 5px;

  .col,
  .col-5 {
    height: 320px;
    margin: 0px 10px 0px 5px;
    border-radius: 5px;
  }
}

.charts-filter-container {
  .filter-block {
    border-right: 1px solid #425778;
    display: inline-block;
    height: 24px;
    padding: 0 20px 0 20px;
    width: 20%;
    text-align: left;
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }

    :nth-child(5) {
      border: none;
    }

    .mat-checkbox {
      margin-right: 0;
    }
  }
}

.charts-filter-container {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
}

.asset-pie-chart {
  .nvd3 text {
    font-size: 18px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3-svg .nv-legend-symbol {
    transform: translate(7px, 0);
  }

  .nvd3-svg .nv-legend-text {
    font-size: 18px;
    transform: translate(15px);
    transform: translate(0, 10px);
  }
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}
