<div class="date-container">
  <app-date-range (dateRangeChange)="onDateRangeChange($event)"></app-date-range>
</div>

<div class="charts-filter-container main-gray-text-color">
  <div class="filter-block" *ngFor="let facility of facilityAreas">
    <mat-checkbox [(ngModel)]="facility.checked" (change)="changeFacilityArea($event)">
      <span class="filter-label main-gray-text-color">{{ facility.label }}</span>
      <div [style.background-color]="facility.color" class="circle"></div>
    </mat-checkbox>
  </div>
</div>
<div class="row details-top-container">
  <div class="col-5 svg-map-background asset-pie-chart content-panel">
    <img
      (click)="showChartDialog('alarmsByType')"
      class="header-icon"
      src="./assets/images/compliance/icons/enlarge.svg"
    />
    <span class="chart-title main-gray-text-color">Events by Type</span
    ><img
      class="information-icon"
      matTooltip="Percentage of analytic events by type."
      matTooltipPosition="after"
      matTooltipClass="info-tooltip"
      src="./assets/images/compliance/icons/information-small.svg"
    />

    <div *ngIf="donutChart && donutChart.data.length > 0">
      <nvd3 #alarmsByTypePieChart [options]="donutChart.d3Options" [data]="donutChart.data"></nvd3>
    </div>
    <div *ngIf="donutChart && donutChart.data.length == 0" class="error-container">
      <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
      <p class="error-message main-gray-text-color">
        {{ donutChart.errorMessage }}
      </p>
    </div>
  </div>
  <div class="col svg-map-background content-panel">
    <div class="line-chart-container">
      <img
        (click)="showChartDialog('alarmsByDate')"
        class="header-icon"
        src="./assets/images/compliance/icons/enlarge.svg"
      />
      <span class="chart-title main-gray-text-color">Events by date</span
      ><img
        class="information-icon"
        matTooltip="Count of unique analytic events per day."
        matTooltipPosition="after"
        matTooltipClass="info-tooltip"
        src="./assets/images/compliance/icons/information-small.svg"
      />
      <div id="chart" *ngIf="alarmCountData && alarmCountData.data.length > 0">
        <nvd3
          #alarmsByDateChart
          [options]="alarmCountData.options"
          [data]="alarmCountData.data"
        ></nvd3>
      </div>
    </div>
    <div *ngIf="alarmCountData && alarmCountData.data.length == 0" class="error-container">
      <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
      <p class="error-message main-gray-text-color">
        {{ alarmCountData.errorMessage }}
      </p>
    </div>
  </div>
</div>
