.layout-error-container {
  position: relative;
  text-align: center;
  padding-bottom: 9px;
  padding-left: 8px;
  padding-top: 14px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;

  p {
    margin: 0;
    display: inline-block;
  }
}

.error-text {
  font-family: FranklinGothic-Light;
  color: #767d8b;
  font-size: 16px;
  width: 100%;
}

.error-title {
  color: #70829e;
  font-size: 24px;
}

svg {
  height: 100%;
}

.image-box {
  text-align: center;
}
