.acknowledgement-container {
  position: relative;
}

.acknowledgement-page-header {
  width: 100%;
  color: #f7faff;
  font-size: 20px;
  position: absolute;
  padding: 16px 0 19px 30px;
  background: black;
}

.acknoledge-container {
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;

  table {
    color: white;
  }
}

.acknowledgements-header {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.acknowledge-card {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: #2b3647;
  color: white;
}

.admin-page-header {
  padding-left: 8px;
  padding-top: 14px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.mat-card {
  margin: 10px;
  padding: 20px 0 0 0;
}

.profile-header {
  margin-bottom: 30px;
}

.profile-container {
  background: white;
  font-size: 12px;
}

.mypools-container {
  font-size: 12px;
}

.list-group-flush {
  margin-top: 3px;
  border-right: 0;
  border-left: 0;

  .list-group-item {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;

    &:first-child {
      border-top: 0;
    }
  }
}

.width-10p {
  width: 10%;
}

.width-15p {
  width: 15%;
}

.width-20p {
  width: 20%;
}

.width-30p {
  width: 30%;
}

.width-40p {
  width: 40%;
}

.user-group {
  margin-right: 5px;
}

.alarm-line {
  margin-left: 15px;
  margin-bottom: 0;
}

.alarm-red::before,
.alarm-yellow::before,
.alarm-green::before {
  // position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  left: 0;
  top: 7px;
  margin-right: 5px;
  margin-left: -15px;
}

.alarm-red:before {
  background-color: #ff5252;
  color: #ff5252;
}

.alarm-yellow:before {
  background-color: #ffa817;
  color: #ffa817;
}

.action-btn {
  color: white;
  background-color: #498aef;
  outline: none;
}

.acknowledgements-page-container {
  margin-bottom: 20px;

  .mat-tab-group.mat-primary {
    margin-top: 0;
  }
}
