<!-- <toaster-container></toaster-container> -->
<div class="acknowledgement-container">
  <p class="acknowledgement-page-header">
    Acknowledge
  </p>

  <button (click)="back()" mat-icon-button class="acknowledgement-back-btn">
    <mat-icon aria-label="Close">close</mat-icon>
  </button>

  <div class="acknowledgements-page-container">
    <mat-tab-group mat-align-tabs="end" class="acknowledgements-tabs">
      <mat-tab class="svg-map-background main-text-color" label="Acknowledge">
        <mat-card *ngIf="data.showAcknowledgement" class="acknowledge-card">
          <mat-card-content>
            <p class="acknowledgements-header">
              Event acknowledgements
            </p>
            <div class="acknoledge-container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="">Asset/Sensor/Event</th>
                    <th scope="col" class="width-10p">Acknowledged</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let acknowledgement of data.alarmsLog; let i = index">
                    <td *ngIf="!acknowledgement.isAcknowledged" scope="row">
                      <p [ngClass]="[acknowledgement.class, 'alarm-line']" translate
                        [translateParams]="acknowledgement">
                        {{acknowledgement.description}}</p>
                    </td>
                    <td *ngIf="!acknowledgement.isAcknowledged">
                      <button type="button" (click)="acknowledge(acknowledgement)" class="btn action-btn">
                        Acknowledge
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
        <p *ngIf="!data.showAcknowledgement" class="no-items-message">
          No new events logged.
        </p>
      </mat-tab>


      <mat-tab label="History">
        <mat-card *ngIf="data.showHistory" class="acknowledge-card">
          <mat-card-content>
            <p class="acknowledgements-header">
              Acknowledgements History
            </p>
            <div class="acknoledge-container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="">Asset/Sensor/Event</th>
                    <th scope="col" class="">WO Generated</th>
                    <th scope="col" class="">Downtime schedule</th>
                    <th scope="col" class="width-10p">Acknowledged</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let acknowledgement of data.alarmsLog; let i = index">
                    <td scope="row" *ngIf="acknowledgement.isAcknowledged">
                      <p [ngClass]="[acknowledgement.class, 'alarm-line']" translate
                        [translateParams]="acknowledgement">
                        {{acknowledgement.description}}</p>
                    </td>
                    <td *ngIf="acknowledgement.isAcknowledged">
                      {{acknowledgement.work_order}}
                    </td>
                    <td *ngIf="acknowledgement.isAcknowledged">
                      {{acknowledgement.downtime_schedule | date}}
                    </td>
                    <td *ngIf="acknowledgement.isAcknowledged">
                      <p>
                        {{acknowledgement.alarm_timestamp | date}}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
        <p *ngIf="!data.showHistory" class="no-items-message">
          No new histories logged.
        </p>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
