<div class="main-container content-background">
  <div *ngIf="!error" class=" main-text-color">
    <mat-button-toggle-group class="filter-container" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="all" (change)="filter('1,2,3')" checked="true" class="active-link main-text-color">
        All
      </mat-button-toggle>
      <mat-button-toggle value="failure" (change)="filter('3')" class="active-link main-text-color">
        Failure
      </mat-button-toggle>
      <mat-button-toggle value="potentialFailure" (change)="filter('2')" class="active-link main-text-color">
        Potential failure
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <div *ngIf="errorMessage" class="layout-error-container main-text-color">
      <p class="error-title">{{ errorMessage }}</p>
      <p class="error-text" [innerHTML]="errorDescription"></p>
    </div>
    <div *ngIf="showPngImage">
      <img [src]="imgSrc" class="layout" />
    </div>
    <div #layoutContainer id="map-container" class="row details-top-container svg-map-background svg-box-shadow"></div>
  </div>
</div>