@import '../../../../../styles/themes.scss';

.mat-header-percentage {
  font-size: 20px;
}

.legend-container {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .legend {
    padding: 1px 24px;
    font-size: 14px;
    font-weight: 300;

    &:nth-child(2) {
      border-left: 1px solid #425778;
      border-right: 1px solid #425778;
    }

    .marker {
      width: 12px;
      height: 12px;
      border-radius: 40px;
      display: inline-block;
      margin-left: 11px;
    }
  }
}

.chart-wrapper {
  justify-content: space-between;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 30%); /* 2 */
  grid-gap: 1rem;
  .chart-container {
    min-width: 321px;

    .chart-header {
      font-size: 16px;
      margin-bottom: 8px;
      margin-right: 8px;
      display: flex;
      font-family: FranklinGothic-Book;
      justify-content: space-between;

      .chart-percentage {
        font-size: 20px;
        margin-left: 8px;
        font-size: 16px;
        font-family: FranklinGothic-Medium;
      }

      .chart-text {
        color: #a8aeb9;
        font-family: FranklinGothic-Book;
      }

      .marker {
        width: 12px;
        height: 12px;
        border-radius: 40px;
        display: inline-block;
        margin-left: 11px;
      }
    }

    .chart-description-wrapper {
      background-color: #161f2d;
      padding: 4px 8px 8px 8px;
      border-radius: 3px;

      .description-percentage {
        opacity: 0.8;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}
.chart-title {
  text-transform: capitalize;
  padding: 0;
}

.mat-expansion-panel {
  margin: 10px !important;
  border-radius: 5px;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child {
  margin-bottom: 10px;
  margin-top: 10px;

  &:hover,
  &:active {
    border-radius: 5px !important;
  }
}

.mat-expansion-panel-header {
  height: 56px !important;
  border-radius: 5px;
  flex-direction: row-reverse !important;
  .mat-content {
    padding-left: 12px;
  }
}

.mat-header {
  font-size: 20px;
  line-height: 56px;
  margin-right: 12px;
  margin-left: 12px;
}

.filter-health {
  display: flex;
  align-items: baseline;

  &-title {
    font-size: 13px;
    font-family: FranklinGothic-Light;
    color: #fff;
    padding-right: 10px;
  }
}

.areas-health-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

input,
mat-select {
  height: 32px;
  width: 155px;
  line-height: 32px;
  border: 1px solid #4d8cef;
  border-radius: 8px;
  padding-left: 8px;
}

.mat-expansion-panel-header.areas-health-header {
  cursor: default;
}
