<mat-accordion>
  <mat-expansion-panel class="mat-expansion-panel svg-map-background" [expanded]="true">
    <mat-expansion-panel-header class="mat-expansion-panel-header overal-health-header">
      <mat-panel-title>
        <span class="mat-header"
          >Overall facility health<img
            class="information-icon"
            src="./assets/images/compliance/icons/information-small.svg"
            matTooltip="Percentage of assets in the facility with no detected issues, taking criticality into account."
            matTooltipPosition="after" matTooltipClass="info-tooltip"
        /></span>

        <span class="mat-header-percentage mainTextColor"
          >{{
            overallFacilityHealth?.green_components + overallFacilityHealth?.yellow_components | number: '1.0-2'
          }}%</span
        >
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-percentage-chart
      [bigChart]="true"
      [chartData]="overallFacilityHealth"
    ></app-percentage-chart>
  </mat-expansion-panel>
</mat-accordion>

<div class="legend-container">
  <div class="legend mainTextColor">
    Assets In Severe Condition
    <span class="marker red"></span>
  </div>
  <div class="legend mainTextColor">
    Assets In Moderate Condition
    <span class="marker yellow"></span>
  </div>
  <div class="legend mainTextColor">
    Assets In Normal Condition
    <span class="marker green"></span>
  </div>
</div>

<mat-accordion>
  <mat-expansion-panel disabled class="mat-expansion-panel svg-map-background" [expanded]="true">
    <mat-expansion-panel-header class="areas-health-header">
      <mat-panel-title class="areas-health-title">
        <span class="mat-header"
          >Facility Areas Health<img
            class="information-icon"
            src="./assets/images/compliance/icons/information-small.svg"
            matTooltip="Percentage of assets in facility area with no detected issues, taking criticality into account."
            matTooltipPosition="after" matTooltipClass="info-tooltip"
        /></span>
        <div class="filter-health">
          <p class="filter-health-title">Health</p>
          <mat-select
            matInput
            class="health-select"
            #siteSelect
            [(ngModel)]="activeHealthState"
            (selectionChange)="changeState($event.value)"
          >
            <mat-option *ngFor="let state of healthStates; let i = index" [value]="state.value">
              {{ state.name }}
            </mat-option>
          </mat-select>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="chart-wrapper" *ngIf="facilityAreasHealth">
      <div class="chart-container" *ngFor="let facilityArea of facilityAreasHealth">
        <div class="chart-header">
          <span class="chart-title mainTextColor"
            >{{ facilityArea.name }}</span
          >
          <span class="chart-percentage mainTextColor"
            ><span class="chart-text ">Area Health</span>
            {{ facilityArea?.percentages?.green_components + facilityArea?.percentages?.yellow_components | number: '1.0-2' }}%</span
          >
        </div>
        <app-percentage-chart [chartData]="facilityArea.percentages"></app-percentage-chart>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
