<div class="main-filter-container">
  <p class="filter-header main-gray-text-color" translate>OPERATIONAL_DATES</p>
  <div [ngClass]="isDisabled ? 'date-container date-range-container disabled' : 'date-container date-range-container'">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input
            class="op-dates content-background main-text-color"
            name="dp"
            [value]="formattedDateRange"
            (dateSelect)="onDateSelection($event)"
            (click)="datePickerToggle()"
            [displayMonths]="1"
            [navigation]="'arrows'"
            [dayTemplate]="t"
            outsideDays="visible"
            [readonly]="true"
            ngbDatepicker
            [footerTemplate]="footerTemplate"
            [autoClose]="false"
            [minDate]="minDate"
            [maxDate]="maxDate"
            #dp="ngbDatepicker"
            [disabled]='isDisabled'
          />
          <span class="devider"></span>
          <button
            mat-icon-button
            [disabled]='isDisabled'
            (click)="datePickerToggle()"
            class="calendar-btn"
          >
            <mat-icon
              class="ngx-daterangepicker-action"
              svgIcon="date-range-calendar"
            ></mat-icon>
          </button>
        </div>
      </div>
    </form>
    <ng-template #t let-date let-focused="focused">
      <span
        class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null"
      >
        {{ date.day }}
      </span>
    </ng-template>
    <ng-template #footerTemplate>
      <hr class="my-0" />
      <button class="btn float-felt picker-action-btn" (click)="closePicker()">
        Close
      </button>
      <button
        class="btn float-right picker-action-btn"
        (click)="changeDateRange($event)"
      >
      Apply
      </button>
    </ng-template>
  </div>
</div>
