.main-filter-container {
  margin-left: 13px;
  margin-right: 13px;

  .filter-header {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
.date-container {
  .input-date {
    width: 150px;
    height: 36px;
    margin: 0;
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
    border: 1px solid #498aef;
    border-radius: 35px;

    &:hover {
      border-radius: 35px !important;
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.op-dates {
  width: 240px;
  height: 34px;
  padding-left: 8px;
  font-size: 14px;
  box-shadow: none;
  outline: 0;
  border: 1px solid #9eb5d8;
  background-color: #f7faff;
  border-radius: 8px;
  color: #181a1e;
  font-family: FranklinGothic-Light;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.devider {
  position: absolute;
  height: 22px;
  top: 6px;
  right: 31px;
  border-left: 1px solid #4e8cec;
}

.calendar-btn {
  position: absolute;
  right: 4px;
  top: 2px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 0;

  .mat-icon {
    width: 20px;
    height: 20px;
    line-height: 12px;
    font-size: 22px;
  }
}

.custom-day {
  text-align: center;
  padding: 0.525rem 0.25rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;

  &:focus {
    outline: none !important;
  }
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.disabled {
  opacity: 0.6;
}