@import '~styles/variables';

.dashboard-container {
  padding: 0;

  .health-stats-dashboard {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 28px;
    }

    .dashboard-header {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 0;
      display: inline-block;
      text-transform: capitalize;

      @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
        font-size: 22px;
      }
    }
  }
}

.main-cards-container {
  padding: 0 0 20px 0;
  // display: block;
}

.info-card-box {
  width: 100%;
  display: inline-block;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}

.info-card-box-odd {
  width: 100%;
  float: right;
  margin-right: 0;
}

.main-asset {
  width: 90%;
  height: 90%;
}
