<div class="dashboard-container">
  <div class="health-stats-dashboard main-text-color">
    <p class="dashboard-header">{{ title }}</p>
  </div>

  <div class="row main-cards-container">
    <div class="col-12 col-xl-6" *ngFor="let item of items; let odd = odd">
      <div
        [ngClass]="{
          'info-card-box-odd': odd,
          'info-card-box svg-map-background svg-box-shadow': true
        }"
      >
        <app-health-details [healthInfo]="item"></app-health-details>
      </div>
    </div>
  </div>
</div>
