.description {
  width: 100%;
  height: 100%;
  text-align: left;

  .component-name {
    color: #a8aeb9;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }

  .criticality-info {
    color: #f7faff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  .additional-info {
    margin: 0;
    color: #f7faff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
  }
}

.img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.1s all;

  &:hover {
    transition: 0.1s all;
    filter: invert(82%) sepia(33%) saturate(7497%) hue-rotate(356deg) brightness(97%) contrast(109%);
  }
}

.more-details-btn {
  box-shadow: none;
  outline: 0;
  background: transparent;
  color: #fafafa;
  display: inline-block;
  margin-top: 15px;
  height: 28px;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-left: 0px;
  padding-right: 6px;
  :hover {
    color: #0064ff;
  }

  .more-details-label {
    padding-top: 2px;
    padding-right: 10px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
  }

  img {
    margin-bottom: 3px;
    height: 20px;
  }
}

.img {
  &--conv {
    filter: invert(32%) sepia(87%) saturate(906%) hue-rotate(195deg) brightness(91%) contrast(90%) !important;
  }

  &--belt {
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);

    position: absolute;
    top: 0;
    left: 0;
  }

  &--gearbox {
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
    position: absolute;
    top: 87px;
    left: 661px;
  }

  &--motor {
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
    position: absolute;
    top: 73px;
    left: 668px;

    /* Point-zoom Container */
    // transform-origin: 65% 75%;
    // transition: transform 1s, filter .5s ease-out;

    //   &:hover {
    //     transform: scale(3);
    //     transition: 0.7s all;
    //     filter: invert(44%) sepia(90%) saturate(2860%) hue-rotate(165deg) brightness(100%) contrast(102%);
    //   }
  }

  &--bearing {
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.broken {
  filter: invert(28%) sepia(82%) saturate(6886%) hue-rotate(339deg) brightness(87%) contrast(99%);
}

.broken-pot {
  filter: invert(82%) sepia(33%) saturate(7497%) hue-rotate(356deg) brightness(97%) contrast(109%);
}

.actions {
  margin-top: 50px;
}

.opacity {
  opacity: 0.4;
}

.high {
  opacity: 1;
}

.img-hover-zoom--point-zoom {
  transform-origin: 75% 85%;
  transition: transform 1s, filter 0.5s ease-out;
}

.asset--small {
  width: 376px;
  height: 160px;
  margin: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .img {
    &--conv {
      filter: invert(32%) sepia(87%) saturate(906%) hue-rotate(195deg) brightness(91%) contrast(90%) !important;
    }

    &--belt {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 26.5%;
      left: 3%;
      width: 93%;
    }

    &--eng {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 45.5%;
      left: 60%;
      width: 7%;
    }

    &--motor {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 45%;
      left: 62%;
      width: 13%;
    }

    &--bearing1 {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 44%;
      left: 7%;
      width: 3%;
    }

    &--bearing2 {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 26%;
      left: 4.5%;
      width: 3%;
    }

    &--bearing3 {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 43%;
      left: 93%;
      width: 3%;
    }

    &--bearing4 {
      filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
      position: absolute;
      top: 22%;
      left: 90.5%;
      width: 3%;
    }
  }
  .--red {
    filter: invert(50%) sepia(83%) saturate(1230%) hue-rotate(323deg) brightness(95%) contrast(112%);
  }

  .--yellow {
    filter: invert(90%) sepia(26%) saturate(5011%) hue-rotate(351deg) brightness(105%)
      contrast(101%);
  }

  .--green {
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }
}

// .component-img {
//   margin-left: 20px;
// }

.component-grid-list {
  border-top: 2px solid #181a1e;
  display: flex;
  // justify-content: space-between;
  padding: 35px 15px;
}

.component-grid--image {
  display: flex;
  justify-content: center;
}

.feed-air-container {
  display: flex;
  justify-content: unset;
  align-items: center;
}

.vfd-container {
  height: 260px;
  display: flex;
  align-items: flex-end;
}

.component-img--container {
  animation: eqipment-animation 3s ease-out forwards;
  max-width: 100%;
  position: relative;
}

.component-img {
  // max-width: 100%;
  filter: invert(61%) sepia(24%) saturate(553%) hue-rotate(180deg) brightness(100%) contrast(97%);
}

.motor-img {
  width: 400px;
  animation: motor-animation 3s ease-out forwards;
}

.vfd-img {
  width: 220px;
  position: absolute;
  left: 96px;
  top: -76px;
  animation: motor-animation 3s ease-out forwards;
}

.vfd-motor-img {
  width: 303px;
  animation: motor-animation 3s ease-out forwards;
}

.feed-air-air-img {
  width: 100%;
  max-width: 274px;
  position: relative;
  animation: motor-animation 3s ease-out forwards;
}

.feed-air-nozzle-img {
  max-width: 134px;
  width: 100%;
  position: relative;
  /* left: 0; */
  top: -26px;
  animation: motor-animation 3s ease-out forwards;
}

.chain-img {
  max-width: 280px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.pin_divert-img {
  max-width: 340px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.photo_eye-img {
  max-width: 152px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.vfd_with_motor-img {
  max-width: 215px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.vfd_ab_525-img {
  max-width: 175px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.vfd_ab_755-img {
  max-width: 121px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.frame-balks-img {
  width: 100%;
  max-width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.frame-planks-img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.frame-legs_left-img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.frame-legs_right-img {
  width: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: -0;
  animation: motor-animation 3s ease-out forwards;
}

.gearbox-img {
  max-width: 264px;
  width: 100%;
  height: 217px;
  animation: gearbox-animation 3s ease-out forwards;
}

.bearing-img {
  max-width: 229px;
  width: 100%;
  animation: motor-animation 3s ease-out forwards;
}

.belt-img {
  max-width: 570px;
  width: 100%;
  height: 200px;
  animation: motor-animation 3s ease-out forwards;
}

.--red {
  filter: invert(50%) sepia(83%) saturate(1230%) hue-rotate(323deg) brightness(95%) contrast(112%);
}

.--yellow {
  filter: invert(90%) sepia(26%) saturate(5011%) hue-rotate(351deg) brightness(105%) contrast(101%);
}

.--green {
  filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
}

@keyframes eqipment-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes motor-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gearbox-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes belt-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bearing-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
