<div class="component-grid-list">
  <div class="component-grid--info col-4" *ngIf="needAsset">
    <div class="description main-text-color">
      <p>
        <a class="more-details-btn svg-map-background" [routerLink]="['more-details']">
          <span class="more-details-label">More Details</span>
          <img src="./assets/images/details-icon.svg" />
        </a>
      </p>
    </div>
  </div>
  <div class="component-grid--image col-4" [ngClass]="{ 'vfd-container': isVFDWithMotor }">
    <div class="component-img--container" *ngIf="isGeneric">
      <img [src]="imagePath" alt="" [ngClass]="imgClass" />
    </div>
    <div class="component-img--container" *ngIf="isVFDWithMotor">
      <img
        [src]="item?.value?.path"
        *ngFor="let item of vfdWithMotorInfo | keys"
        [alt]=""
        [ngClass]="item?.value?.class"
      />
    </div>
    <div class="component-img--container" *ngIf="isFrame">
      <img
        [src]="item?.value?.path"
        *ngFor="let item of frameInfo | keys"
        alt=""
        [ngClass]="item?.value?.class"
      />
    </div>
    <div class="component-img--container feed-air-container" *ngIf="isFeedAir">
      <img
        [src]="item?.value?.path"
        *ngFor="let item of feedAirInfo | keys"
        alt=""
        [ngClass]="item?.value?.class"
      />
    </div>
  </div>
</div>
