<div class="info-card health-info" (click)="goToPage(healthInfo)">
  <p class="health-card-header main-text-color">
    {{ healthInfo.name }}
  </p>

  <mat-grid-list cols="5" rowHeight="40px" class="health-legend">
    <mat-grid-tile class="mat-overall-health" [colspan]="2" [rowspan]="2">
      <p [ngClass]="[healthInfo.class, 'overall-health-value']">{{ healthInfo.normal }} %</p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <p class="health-label main-gray-text-color">Assets In Severe Condition</p>
      <p class="health-value main-gray-text-color">
        <mat-icon class="list-icon red-circle" svgIcon="red-circle"></mat-icon>
        {{ healthInfo.num_red_assets }}
      </p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <p class="health-label main-gray-text-color">Assets In Moderate Condition</p>
      <p class="health-value main-gray-text-color">
        <mat-icon class="list-icon yellow-circle" svgIcon="yellow-circle"></mat-icon>
        {{ healthInfo.num_yellow_assets }}
      </p>
    </mat-grid-tile>

    <mat-grid-tile class="mat-overall-health mat-overall-health-text" [colspan]="2" [rowspan]="1">
      <p class="overall-health-label main-gray-text-color" translate>Health</p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <p class="health-label main-gray-text-color">Assets In Normal Condition</p>
      <p class="health-value main-gray-text-color">
        <mat-icon class="list-icon green-circle" svgIcon="green-circle"></mat-icon>
        {{ healthInfo.num_green_assets }}
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
