@import '~styles/variables';

.info-card {
  font-family: FranklinGothic-Light;
  border-radius: 6px;

  .health-card-header {
    padding-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 17px;
    }
  }

  .header-fullname {
    margin-left: 10px;
    font-size: 14px;
  }

  .mat-overall-health {
    border-right: 1px solid #eaecef;
  }

  .mat-overall-health-text {
    margin-top: -1px;
  }

  .overall-health-value {
    width: 100%;
    padding-top: 15px;
    text-align: center;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  .overall-health-label {
    width: 100%;
    text-align: center;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 13px;
    }
  }

  .health-label {
    width: 55%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 13px;
    }
  }

  .health-value {
    height: 20px;
    width: 71px;
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 16px;
    }

    .mat-icon {
      width: 9px;
      height: 9px;
      margin-right: 4px;
    }
  }
}

.info-card-bottom {
  display: flex;
  margin-top: 20px;
}
