.asset-container {
  width: 780px;
  height: 322px;
  position: relative;
}

.asset {
  position: relative;
  margin-top: 43px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.1s all;
  opacity: 0.7;

  &:hover {
    cursor: pointer;
    transition: 0.1s all;
    opacity: 1;
  }
}

.more-details-btn {
  box-shadow: none;
  outline: 0;
  border: 1px solid #0064ff;
  border-radius: 35px;
  background: transparent;
  color: #fafafa;
  display: inline-block;
  margin-top: 15px;
  padding-left: 10px;
}

.img {
  &--conv {
    height: 320px;
    filter: invert(32%) sepia(87%) saturate(906%) hue-rotate(195deg) brightness(91%) contrast(90%) !important;
  }

  &--belt {
    top: 80px;
    left: 18px;
    width: 715px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }

  &--eng {
    top: 151px;
    left: 446px;
    width: 68px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }

  &--motor {
    top: 152px;
    left: 474px;
    width: 110px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }

  &--bearing1 {
    width: 25px;
    top: 140px;
    left: 37px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }

  &--bearing2 {
    top: 78px;
    left: 12px;
    width: 25px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }

  &--bearing3 {
    top: 131px;
    left: 718px;
    width: 25px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }

  &--bearing4 {
    top: 71px;
    left: 696px;
    width: 25px;
    position: absolute;
    filter: invert(66%) sepia(59%) saturate(449%) hue-rotate(108deg) brightness(82%) contrast(86%);
  }
}

.--red {
  filter: invert(50%) sepia(83%) saturate(1230%) hue-rotate(323deg) brightness(95%) contrast(112%);
}

.--yellow {
  filter: invert(90%) sepia(26%) saturate(5011%) hue-rotate(351deg) brightness(105%) contrast(101%);
}

.--green {
  filter: invert(57%) sepia(100%) saturate(949%) hue-rotate(110deg) brightness(102%) contrast(101%);
}

.broken {
  filter: invert(28%) sepia(82%) saturate(6886%) hue-rotate(339deg) brightness(87%) contrast(99%);
}

.broken-pot {
  filter: invert(82%) sepia(33%) saturate(7497%) hue-rotate(356deg) brightness(97%) contrast(109%);
}

.actions {
  margin-top: 50px;
}

.opacity {
  opacity: 0.4;
}

.high {
  opacity: 1;
}

.img-hover-zoom--point-zoom {
  transform-origin: 75% 85%;
  transition: transform 0.5s, filter 0.5s ease-out;
}
