<mat-accordion multi="true" class="region-accordion">
  <mat-expansion-panel
    #facilitiesExpansionPanel
    *ngFor="let facility of facilityList"
    [expanded]="facility.openedByClick || facility.isOpen"
    (opened)="setOpened(facility, true)"
    (closed)="setOpened(facility, false)"
    class="side-menu-background"
    [attr.id]="facility.site"
    hideToggle
  >
    <mat-expansion-panel-header
      (click)="expandPanel(facility, facilitiesExpansionPanel, $event)"
      [collapsedHeight]="'40px'"
      [expandedHeight]="'40px'"
    >
      <mat-panel-title
        [ngClass]="{ 'active-facility': facility.isActive, 'facility-panel-title': true }"
      >
        <img class="accordion-icon" [src]="facility.icon" />
        <span class="expansion-indicator">
          <img
            *ngIf="facility.panelOpenState"
            class="expansion-indicator"
            src="./assets/images/compliance/icons/arrow-collapse.svg"
          />
          <img
            *ngIf="!facility.panelOpenState"
            class="expansion-indicator"
            src="./assets/images/compliance/icons/arrow-expand.svg"
          />
        </span>
        <span class="panel-label">{{ facility.name }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-assets
      [facilityAreaInputList]="facility.facilityAreas"
      [url]="facility.url"
      [facilitiesElementRef]="facilitiesExpansionPanel"
    ></app-assets>
  </mat-expansion-panel>
</mat-accordion>
