@import '~styles/variables';

.facility-panel-title {
  display: inline-block;
  height: 40px;
  padding-top: 5px;
  padding-left: 45px;
  margin: 0;
  border-left: 2px solid transparent;
}

.panel-label {
  text-transform: capitalize;
}
