<div *ngIf="isLoading" class="overlay">
  <img src="assets/images/compliance/icons/loader.svg" />
</div>

<div *ngIf="sortedData && sortedData.length > 0" class="asset-event-log">
  <table mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="svg-map-background event-log-box">
    <ng-container matColumnDef="severity">
      <th mat-sort-header="status" class="mat-header mat-header-row--sticky" mat-header-cell *matHeaderCellDef>Status</th>
      <td class="main-text-color" mat-cell *matCellDef="let element">
        <div [ngClass]="element.class"></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="component_type">
      <th mat-sort-header="component_type" class="mat-header component-type-cell mat-header-row--sticky" mat-header-cell *matHeaderCellDef>
        Component
      </th>
      <td class="main-text-color component-type-cell" mat-cell *matCellDef="let element">
        {{ element.component.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th class="mat-header mat-header-row--sticky" mat-header-cell *matHeaderCellDef>Event Description</th>
      <td
        class="main-text-color"
        mat-cell
        *matCellDef="let element"
        translate
        [translateParams]="element"
      >
        {{ element.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dataTimestamp">
      <th mat-sort-header="dataTimestamp" class="mat-header mat-header-row--sticky" mat-header-cell *matHeaderCellDef>Date</th>
      <td class="main-text-color" mat-cell *matCellDef="let element" [appTimezone]="element.started_at"> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; let even = even; columns: displayedColumns"
      (click)="goToAlarm(row)"
      [ngClass]="{ gray: even }"
    ></tr>
  </table>
</div>

<div *ngIf="dataSource && dataSource.length == 0" class="error-container">
  <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
  <p class="error-message main-gray-text-color">No events detected in this time interval</p>
</div>
