table {
  width: 100%;
}

.asset-event-log {
  overflow: auto;
  height: 248px;
  tr.mat-row {
    &:hover {
      background: #173b74;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    border-left: 1px solid #425778;
    border-right: 1px solid #425778;
  }

  &::-webkit-scrollbar-thumb {
    background: #0064ff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #014dbe;
  }
}

.mat-header-row--sticky {
  position: sticky;
  top: 0;
  background: #2b3647;
  z-index: 100;
}

.component-type-cell {
  min-width: 115px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;

  &--red {
    background-color: #ff5252;
  }

  &--yellow {
    background-color: #ffcd0b;
  }
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.mat-row {
  background-color: rgba(77, 101, 140, 0.2);
}

.gray {
  background-color: rgba(77, 101, 140, 0.4);
}
