@import '~styles/variables';

.sensors-container {
  padding-left: 0;
  padding-top: 0;

  .mat-list-item {
    height: 40px;
  }
}

.sensor-link {
  width: 100%;
  height: 40px;
  display: block;
  padding-top: 8px;
  padding-left: 85px;
  border-left: 2px solid transparent;
  border-bottom: 1px solid #181a1e;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  font-weight: 300;

  &:hover {
    display: block;
    // border-radius: 15px;
    cursor: pointer;
  }
}

.sensor-red {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    right: 7px;
  }
}

.sensor-yellow {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    right: 7px;
  }
}

.sensor-green {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    right: 7px;
  }
}
