<mat-list role="list" class="role-list sensors-container main-text-color">
  <mat-list-item role="listitem" *ngFor="let component of componentList">
    <span
      (click)="goToComponentPage(component)"
      [ngClass]="{
        'active-component': component.isActive,
        'sensor-red': component.class === 'red',
        'sensor-yellow': component.class === 'yellow',
        'sensor-green': component.class === 'green',
        'sensor-link main-text-color': true
      }"
    >
      <img class="accordion-icon" [src]="component.icon" />
      <span class="sensor-panel-label">{{ component.name }}</span>
    </span>
  </mat-list-item>
</mat-list>
