.bg-slide {
  background-image: url(../../assets/images/login-bg.jpg);
  transition: background-color 1s;
  background-size: cover;
}

.form-text {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding-bottom: 60px;
  color: #f7faff;
}

.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:first-child {
    margin-bottom: 52px;
  }
}

.form-block {
  padding-bottom: 40px;
}

.login-page {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  position: relative;
}
.login-page .form-group {
  border-radius: 10px;
  padding: 32px 19px;
  border-radius: 8px;
  background-color: rgba(43, 54, 71, 0.7);
  box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  margin: auto;
  left: 93px;
  width: 100%;
  max-width: 382px;
  position: absolute;
}
.login-page .form-group .btn-group {
  margin-bottom: 5px;
  width: 100%;
}

.login-page .form-group inpu {
  display: block;
  padding: 5px 10px;
  margin: 15px 0;
  width: 100%;
  border: 1px solid #9eb5d8;
  border-radius: 8px;
  background-color: #f7faff;
  color: #181a1e;
  font-weight: lighter;
  box-sizing: border-box;
}

button.colored-button,
.colored-button {
  width: 160px;
  text-align: center;
  font-size: 16px;
  background-color: #0064ff;
  border: 0;
  border-radius: 17px;
  color: #f7faff;
  padding: 0 23px;
  height: 40px;
  line-height: 40px;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

a.forgot-link {
  text-decoration: underline;
  color: #f7faff;
  text-align: right;
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
}

.forgot-link-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.oval {
  position: absolute;
  right: 0;
  height: 1180px;
  width: 1016px;
  opacity: 0.5;
  background-color: #19202b;
  border-radius: 50%;
}

.form-container {
  width: 636px;
  position: absolute;
  left: 0;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.nav-bar {
  color: black;
  font-family: FranklinGothic-Medium;
  font-size: 18px;
  ul {
    width: 100%;
    height: 80px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      display: inline-block;
      *display: inline;
      /*IE7*/
      *zoom: 1;
      /*IE7*/
      color: white;
      margin-right: 10px;

      &.active {
        font-weight: bold;
        border-bottom: 4px solid white;
      }

      .logout-bnt {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 11px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .site-dropdown {
      margin-left: auto;

      .mat-form-field-infix .mat-select-value {
        color: black;
      }
    }
  }
}

.active-site-name {
  font-size: 14px;
}

.user-avatar {
  height: 28px;
  width: 28px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;

  #Icon {
    width: 20px;
  }
}

.main-menu {
  float: right;
}

.user-container {
  display: inline-block;
  vertical-align: top;

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    background: #181a1e;
    padding: 5px;
  }

  .sort-btn {
    padding: 0 20px;
    display: inline-block;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
    border: none;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    line-height: 20px;
  }

  .dropdown-btn {
    padding: 8px 20px 8px 30px;
    display: inline-block;
    box-shadow: none;
    outline: 0;
    margin-bottom: 2px;
    font-size: 13px;
    box-shadow: none;
    font-weight: normal;
    font-family: FranklinGothic-Light;
    text-transform: capitalize;
  }
}

.flag {
  width: 25px;
  height: 20px;
}

.dropdown-toggle:after {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 0 8px 3px 8px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  color: #3b7dff;
  position: absolute;
  right: 0;
  top: 31%;
}

.dropdown {
  position: static;
}

.user-box-container {
  position: relative;
}

.header-menu {
  width: 243px;
  text-align: left;
}

.header-menu:hover {
  background: #2b3648 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  .sort-btn:hover {
    background: transparent !important;
  }
}

.dropdown-btn {
  position: relative;
}

.dropdown-btn:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  position: absolute;
  left: 13px;
  top: 13px;
}

.main-menu-btn {
  background: transparent !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}
