<nav class="nav-bar">
  <ul>
    <li class="logo">
      <img src="./assets/images/theme-dark-logo.svg" class="mhs-logo" />
    </li>
    <li class="user-box-container header-menu">
      <div class="dropdown user-container main-text-color">
        <button
          class="btn btn-secondary main-menu-btn dropdown-toggle sort-btn main-background main-text-color cursor-pointer"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Service & Support
        </button>
        <div
          class="dropdown-menu content-background input-field-border-color input-field-box-shadow"
          aria-labelledby="dropdownMenu2"
        >
          <button
            class="dropdown-item dropdown-btn content-background main-text-color"
            translate
          >
            Service & Support
          </button>
        </div>
      </div>
    </li>
  </ul>
</nav>
<div class="login-page bg-slide">
  <div class="form-container">
    <div class="oval"></div>
    <div class="form-group">
      <p class="form-text">Welcome to the MHS Insights, please sign in</p>
      <form class="secure-login">
        <div class="form-block">
          <input
            class="form-input"
            type="text"
            placeholder="Username/email"
            [(ngModel)]="username"
            name="username"
            required="required"
          />
          <input
            class="form-input"
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
            required="required"
          />
          <div class="forgot-link-container"><a class="forgot-link">Forgot password?</a></div>
        </div>
        <div class="button-container">
          <button class="colored-button" (click)="signIn()" type="submit">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
