.runtime-tooltip {
  white-space: pre-line;
}

::ng-deep .mat-tooltip {
  white-space: pre-line; // Allow line break
}

.chart-wrapper {
  justify-content: space-between;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 30%); /* 2 */
  grid-gap: 1rem;

  .chart-container {
    min-width: 321px;

    .chart-header {
      margin-bottom: 12px;

      .chart-title {
        color: #f7faff;
        font-weight: 300;
        line-height: 24px;
      }

      .chart-percentage {
        color: #f7faff;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-left: 10px;
      }

      .chart-text {
        color: #a8aeb9;
        font-size: 14px;
      }

      .marker {
        width: 12px;
        height: 12px;
        border-radius: 40px;
        display: inline-block;
        margin-left: 11px;
      }
    }

    .chart-description-wrapper {
      background-color: #161f2d;
      padding: 4px 8px 8px 8px;
      border-radius: 3px;

      .description-percentage {
        opacity: 0.8;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.error-bell-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.timeline-container,
.labels-container {
  position: relative;
  height: 40px;
}

.labels-container {
  margin-bottom: 30px;
  &:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #8d9cc2;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.time-line {
  position: absolute;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.time-line,
.time-label {
  display: inline-block;
  height: 20px;
}

.time-label {
  position: relative;
  color: #8d9cc2;
  &:before {
    content: '';
    width: 1px;
    height: 10px;
    background: #8d9cc2;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:first-child,
  &:last-child {
    position: absolute;
    width: 0 !important;
  }

  &:first-child {
    left: 0;
  }

  &:last-child {
    right: 0;
  }
}

.timeline-label {
  position: absolute;
  color: #8d9cc2;
}

.label-text {
  position: absolute;
  right: 0;
  width: 1px;
  transform: translate(-10px) rotate(10deg);
  font-family: FranklinGothic-Light, sans-serif;
  font-size: 10px;
  line-height: 12px;
  margin-top: 9px;
  color: #8d9cc2;
}

.timeline-descr {
  margin: 0;
  color: #f7faff;
  font-size: 10px;
  font-weight: 300;
  line-height: 20px;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.time-start {
  width: 10px;
  position: absolute;
  height: 20px;
  left: -5px;
  z-index: 1;
  &:hover {
    background: antiquewhite;
    opacity: 0.5;
  }
}

.color-code {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 3px;
  // border-radius: 50%;
  vertical-align: middle;
}

.state-text {
  vertical-align: middle;
}

.state-container {
  text-align: center;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.state-block {
  display: inline-block;
  &:first-child {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #f7faff;
  }
}

.timeline-descr-container {
  padding-bottom: 30px;
}

.ON {
  background: #00c87a;
}

.OFF {
  background: #a8aeb9;
}
