<div id="d3-timeline">
  <div class="timeline-descr-container">
    <div class="timeline-descr">
      <div class="color-code ON"></div>
      <span class="state-text">ON time: {{onTime?.percent | number: '1.0-0'}}% ({{onTime?.duration}})</span>
    </div>
    <div class="timeline-descr">
      <div class="color-code OFF"></div>
      <span class="state-text">OFF time: {{offTime?.percent | number: '1.0-0'}}% ({{offTime?.duration}})</span>
    </div>
  </div>
  <div class="timeline-container" *ngIf="assetStatuses && assetStatuses.data.length !== 0">
    <ng-template  ngFor let-assetStatus [ngForOf]="assetStatuses.data">
      <div class="time-line" 
          [matTooltip]="assetStatus.status + '\n Start: ' + assetStatus.start + '\n End: ' + assetStatus.end"
          matTooltipPosition="after"
          matTooltipClass="timeline-tooltip info-tooltip runtime-tooltip" 
          [ngClass]="assetStatus.status" 
          [style.width.%]="assetStatus.percent" 
          [style.marginLeft.%]="assetStatus.margin">
      </div>
    </ng-template>
  </div>
  <div class="labels-container" *ngIf="timeLabels && timeLabels.length !== 0">
    <div class="time-label" [style.width.%]="timeLabel.percent" *ngFor="let timeLabel of timeLabels">
      <span class="label-text">{{timeLabel?.label}}</span>
    </div>
  </div>
  <!-- <svg width='700'></svg> -->
</div>
