<div class="compliance-page-favorites">
  <!-- <toaster-container></toaster-container -->
  <!-- <mat-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo"> -->
  <ul class="fav-list">
    <li class="nav-item" *ngFor="let item of favList">
      <a
        class="main-text-color"
        (click)="goToPage(item)"
        [ngClass]="item.url === href ? 'active' : ''"
        mdbWavesEffect
        ><app-fav-button [status]="true" [url]="item.url" [title]="item.title"></app-fav-button
        ><span class="fav-name">{{ item.title }}</span></a
      >
    </li>
  </ul>
  <!-- </mat-navbar> -->
</div>
