.fav-list {
  margin: -2px;
  padding: 0 0 0 20px;
  height: 40px;
  li {
    display: inline-block;
    position: relative;
    font-size: 14px !important;
    padding: 0 17px 0 0;
    margin: 4px 15px 4px 0;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 24px;
      margin: auto;
      width: 1px;
      background: #425778;
    }
    &:last-child:after {
      background: transparent;
    }
    a {
      font-family: FranklinGothic-Light;
      padding: 5px 10px 0px 0;
      display: inline-block;
      color: #fff;
      cursor: pointer;
      &:hover {
        color: #007bff;
      }
      mat-icon {
        font-size: 16px;
      }
      &.active {
        border-bottom: 1px solid #007bff;
        .fav-name {
          font-family: FranklinGothic-Medium;
        }
      }
    }
  }
}

.fav-name {
  display: inline-block;
  padding-left: 4px;
}
