.info-card {
  font-family: FranklinGothic-Light;
  width: 300px;
  height: 105px;
  border-radius: 6px;
  cursor: pointer;

  .title-text {
    font-weight: bold;
    font-size: 22px;
    padding: 12px 0 0 18px;
    margin: 0;
    // color: $mainTextColor;
    font-weight: 600;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
  }

  .info-card-container {
    position: relative;

    .component-icon {
      position: absolute;
      right: 12px;
      top: 15px;

      img {
        height: 30px;
        width: 48px;
      }
    }

    .info-card-text {
      &.bottom {
        position: absolute;
        bottom: 10px;
        font-family: FranklinGothic-Light, OpenSans, sans-serif;
        left: 22px;
        font-size: 14px;
        // color: $mainGrayTextColor;

        .card-desc {
          width: 100%;
          display: inline-block;
          text-align: left;
        }
      }
    }

    .info-card-bold-text {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 18px;

      &.mid-section {
        margin-bottom: 10px;
      }
    }

    &.bottom {
      height: 50px;
    }
  }
}

.my-button {
  text-align: center;
  font-family: FranklinGothic-Medium;
  font-weight: Bold;
  color: white;
  border: none;
  cursor: pointer;

  &.primary {
    width: 100%;
    display: block;
    height: 50px;
    margin: auto;
    font-size: 14px;
    border-radius: 100px;
  }

  &.secondary {
    width: 50%;
    display: flex;
    padding: 0;
    margin: 0;
    height: 35px;
    font-size: 12px;
    justify-content: center;

    &.right-btn {
      border-right: 1px solid black;
    }

    &.left-btn {
      border-left: 1px solid black;
    }
  }
}

.info-card-bottom {
  display: flex;
  margin-top: 20px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
