<div class="info-card svg-box-shadow svg-map-background" (click)="goToAlertAsset(item)">
  <p class="title-text main-text-color">{{ item.assetName }}</p>
  <div class="info-card-container bottom">
    <div class="component-icon" [ngClass]="{ dark: item.priority == 2 || item.priority == 4 }">
      <img [src]="item.icon" />
    </div>
    <div class="info-card-text bottom main-gray-text-color">
      <div translate>ASSET</div>
    </div>
  </div>
</div>
