@import '~styles/variables';

:host {
  display: block;
}

.compliance-page-header {
  p {
    margin: 0;
  }
}

.map-box {
  min-height: 362px;
  transition: height 0.15s ease-out;
}

#map-container {
  width: 95%;
  height: 95%;
}

.region-map-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-right: 1px dashed;
  text-align: center;
}

.main-container {
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
    padding-left: 12px;
  }
}

.region-map-container {
  padding: 5px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;

  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
    display: block;
  }

  .region-map-container,
  .pie-chart-container {
    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      width: 48%;
      display: inline-block;
    }
  }
}

// .compliance-page-header {

// }

.pie-chart-legend {
  text-align: center;

  .pie-chart-overall-value {
    font-size: 20px;
    text-align: center;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 22px;
    }
  }

  .chart-header {
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 13px;
    }
  }
}

// .health-value {
//   height: 20px;
//   font-size: 12px;
//   font-weight: 600;
//   letter-spacing: 1px;
//   line-height: 20px;

//   .mat-icon {
//     width: 9px;
//     height: 9px;
//     margin-right: 4px;
//   }
// }

.oh-pie-chart-container {
  margin-top: 20px;
}

.alert-blue,
.alert-red,
.alert-yellow {
  display: inline-block;
  font-size: 15px;

  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    top: -1px;
    right: 7px;
  }
}

.pie-legend-labels {
  text-align: center;

  .health-value {
    display: inline-grid;
    text-align: left;
  }
}

.error-asset-header {
  padding-bottom: 9px;
  padding: 35px 20px 5px 0;
  font-size: 16px;
  font-weight: 600;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;

  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
    padding: 22px 20px 5px 0;
    font-size: 17px;
  }
}

.error-asset-container {
  padding-bottom: 30px;
}

.info-card-box {
  margin: 0 20px 20px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.details-top-container {
  padding: 5px 5px 5px 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.health-container {
  @import '~styles/variables';

  .dashboard-container {
    padding: 0;

    .health-stats-dashboard {
      padding-top: 20px;
      font-size: 22px;
      font-weight: 600;

      @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
        font-size: 28px;
      }

      .dashboard-region-header {
        font-size: 20px;
        font-weight: 600;
        display: inline-block;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          font-size: 22px;
        }
      }
    }
  }

  .main-cards-container {
    padding: 0 0 20px 0;
    // display: block;
  }

  .info-card-box {
    width: 100%;
    display: inline-block;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    padding-bottom: 10px;
  }

  .info-card-box-odd {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  .main-asset {
    width: 90%;
    height: 90%;
  }
}
