<div class="compliance-page-header main-text-color">
  <p>
    <app-fav-button [status]="isFavorite" [url]="href" [title]="regionLabel"></app-fav-button
    >{{ regionLabel }}
  </p>
</div>
<div class="main-container content-background">
  <!-- <toaster-container></toaster-container> -->

  <div class="row map-box details-top-container svg-map-background svg-box-shadow">
    <div
      #regionMapContainer
      id="map-container"
      class="row main-cards-container justify-content-center no-margin asset-map"
    ></div>
  </div>

  <div class="region-health health-container" *ngIf="showRegionHealth">
    <div class="dashboard-container">
      <div class="health-stats-dashboard main-text-color">
        <p class="dashboard-region-header">All Facilities</p>
      </div>
      <div class="row main-cards-container">
        <div class="col-12 col-xl-6">
          <div class="info-card-box svg-map-background svg-box-shadow">
            <app-health-details [healthInfo]="regionHealthInfo"></app-health-details>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-health-dashboard [items]="facilityList" [title]='facilityListTitle'></app-health-dashboard>
</div>