@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(./assets/fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: FranklinGothic-Light;
  src: url(./assets/fonts/URW/FranklinGothicURWLig.ttf);
}

@font-face {
  font-family: FranklinGothic-Heavy;
  src: url(./assets/fonts/URW/FranklinGothicURWHea.ttf);
}

@font-face {
  font-family: FranklinGothic-Medium;
  src: url(./assets/fonts/URW/FranklinGothicURWMed.ttf);
}

@font-face {
  font-family: FranklinGothic-Book;
  src: url(./assets/fonts/URW/FranklinGothicURWBoo.ttf);
}
