$themes: (
  light: (
    mainBackground: #ffffff,
    contentBackground: #eff6ff,
    sideMenuBackground: #f7faff,
    menuItemBorderColor: #e6eaf4,
    activeMenuItemBackground: #ddecff,
    mainTextColor: #4c4c4c,
    mainTextColorHover: #181a1e,
    mainGrayTextColor: #8699aa,
    borderColor: #e1e6f3,
    inputFieldColor: #82858c,
    inputFieldBorderColor: transparent,
    inputFieldBoxShadow: 0 2px 10px 0 rgba(193, 218, 234, 0.65),
    svgMapBackgroud: #ffffff,
    svgBoxShadow: 0 2px 10px 0 rgba(193, 218, 234, 0.65),
    svgHoverBoxShadow: 0 2px 10px 0 rgba(115, 168, 201, 0.65),
    dialogBackground: #ffffff,
    dialogBorderColor: #9eb5d8,
    dialogLabelColor: #425778,
    dialogTitleBackground: #dfecff,
    filterColor: #dae6f5,
    filterHoverBackground: #dae6f5,
    pieChartDevider: #dae6f5,
    mainRedColor: #e65566,
    mainGreenColor: #179f6d,
    mainYellowColor: #ffa817,
    mainBlueColor: #3b7dff,
    darkerBlueColor: #0064ff,
    detailsBlueColor: #4e8cec,
    headerBackground: #ffffff,
    headerDevider: #d5e4f9,
    tabHeaderBackground: #ffffff,
    mainGrayColor: #dae2f2,
    mainGrayBackgroundColor: #dae2f2,
    sidenavGrayColor: #748ca8,
    mainIconColor: #4e8cec,
    chartBackground: #dae2f2,
    matHeaderColor: #a8aeb9,
    eventBackground: #dae2f2,
    sparePartsBackground: #f0f6ff,
    tableCheckboxColor: #f0f6ff,
  ),
  dark: (
    mainBackground: #181a1e,
    contentBackground: #212936,
    sideMenuBackground: #19202b,
    menuItemBorderColor: #181a1e,
    activeMenuItemBackground: #181a1e,
    mainTextColor: #f7faff,
    mainTextColorHover: #ffffff,
    mainGrayTextColor: #8d9cc2,
    borderColor: #2b3648,
    inputFieldColor: #8d9cc2,
    inputFieldBorderColor: #3a4961,
    inputFieldBoxShadow: 0 2px 10px 0 rgba(28, 36, 46, 0.2),
    svgMapBackgroud: #2b3647,
    svgBoxShadow: 0 2px 10px 0 rgba(30, 38, 56, 0.8),
    svgHoverBoxShadow: 0 2px 10px 0 #11151f,
    dialogBorderColor: #425778,
    dialogLabelColor: #a8aeb9,
    dialogBackground: #2b3747,
    dialogTitleBackground: #191a1e,
    filterColor: #2b3648,
    filterHoverBackground: #19202b,
    pieChartDevider: #3d557a,
    mainRedColor: #ff5252,
    mainGreenColor: #00e893,
    mainYellowColor: #ffcd0b,
    mainBlueColor: #3b7dff,
    darkerBlueColor: #0064ff,
    detailsBlueColor: #4e8cec,
    headerBackground: #181a1e,
    headerDevider: #425778,
    tabHeaderBackground: #181a1e,
    mainGrayColor: #dae2f2,
    mainGrayBackgroundColor: #314159,
    sidenavGrayColor: #748ca8,
    mainIconColor: #4e8cec,
    chartBackground: #161f2d,
    matHeaderColor: #a8aeb9,
    eventBackground: #1d222d,
    sparePartsBackground: #212936,
    tableCheckboxColor: #f7faff,
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
