<div [ngClass]="runtimeChart && !calculated ? '' : 'chartBackground description-wrapper'">
  <div
    class="description-percentage mainTextColor"
    [ngStyle]="{
      width: (chartData?.red_components | number: '1.0-2') + '%'
    }"
    *ngIf="chartData?.red_components > 0"
  >
    <span class="percent-label" [ngClass]="bigChart ? 'main-chart' : ''"
      >{{ chartData?.red_components | number: '1.0-2' }}%</span
    >
    <div class="description-percentage-border red"></div>
  </div>
  <div
    class="description-percentage mainTextColor"
    [ngStyle]="{
      width: (chartData?.yellow_components | number: '1.0-2') + '%'
    }"
    *ngIf="chartData?.yellow_components > 0"
  >
    <span
      class="percent-label"
      [style.opacity]="isTooltipNeeded() ? '0' : '1'"
      [ngClass]="bigChart ? 'main-chart' : ''"
      >{{ chartData?.moderateLabel }}{{ chartData?.yellow_components | number: '1.0-2' }}%</span
    >
    <span
      *ngIf="isTooltipNeeded()"
      class="percent-label-float"
      [ngClass]="bigChart ? 'main-chart' : ''"
    >
      <span class="marker yellow"></span>
      <span class="percent-hover-text">Potential failure</span>
      <span class="percent-hover-num">
        {{ chartData?.moderateLabel }}{{ chartData?.yellow_components | number: '1.0-2' }}%
      </span>
    </span>
    <div class="description-percentage-border yellow"></div>
  </div>
  <div
    class="description-percentage mainTextColor"
    [ngStyle]="{ width: (chartData?.green_components | number: '1.0-2') + '%' }"
    *ngIf="chartData?.green_components > 0"
  >
    <span
      class="percent-label"
      [ngClass]="bigChart ? 'main-chart' : ''"
      [style.opacity]="chartData?.normalLabel && chartData?.green_components < 30 ? '0' : '1'"
    >
      {{ chartData?.normalLabel }}{{ chartData?.green_components | number: '1.0-2' }}%
    </span>
    <span
      class="percent-label on-small"
      [ngClass]="bigChart ? 'main-chart' : ''"
      *ngIf="chartData?.normalLabel && chartData?.green_components < 30"
    >
      {{ chartData?.normalLabel }}{{ chartData?.green_components | number: '1.0-2' }}%
    </span>
    <div class="description-percentage-border green"></div>
  </div>
</div>
<div class="calculation-error" *ngIf="runtimeChart && !calculated">
  Unable to calculate
</div>
