.description-wrapper {
  border-radius: 4px;
  padding: 8px;
  display: flex;
}
.mat-header-percentage {
  font-size: 32px;
  padding-top: 4px;
}

.description-percentage {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  width: 33%;
  position: relative;

  &:first-child {
    .description-percentage-border {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
  &:last-child {
    .description-percentage-border {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  .percent-label-float {
    display: none;
  }

  &:hover {
    .percent-label-float {
      display: block;
      background: #0b264f;
      padding: 4px 16px 4px 6px;
      box-shadow: 2px 3px 7px 0 #181a1e;
      border-radius: 6px;
      position: absolute;
      bottom: 11px;
      margin: auto;
      left: 75px;
      transform: translate(-50%, 0);
      white-space: nowrap;
      z-index: 1;
      &:after {
        border-left: solid transparent 8px;
        border-right: solid transparent 8px;
        border-top: solid #0b264f 7px;
        bottom: -7px;
        content: ' ';
        height: 0;
        left: 25%;
        margin-left: -13px;
        position: absolute;
        width: 0;
        z-index: -1;
      }
    }
  }

  .marker {
    width: 12px;
    height: 12px;
    border-radius: 40px;
    display: inline-block;
    margin-left: 11px;
  }
}

.percent-hover-num {
  font-size: 20px;
  line-height: 20px;
  font-family: FranklinGothic-Medium;
}

.percent-hover-text {
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
  font-family: FranklinGothic-Light;
  padding-right: 16px;
  padding-left: 14px;
}

.description-percentage-border {
  height: 8px;
}

.main-chart {
  font-size: 18px;
}

.percent-label {
  white-space: nowrap;
}

.on-small {
  position: absolute;
  right: 0;
  top: 0;
}

.calculation-error {
  font-size: 14px;
  color: #8d9cc2;
}
