<div class="reports-filter-container main-gray-text-color">
  <div class="filter-time-item date-title">
    <p class="filter-time-title">Period</p>
    <mat-select
      matInput
      class="period-select"
      #siteSelect
      [(ngModel)]="activePeriodType"
      (selectionChange)="changePeriod($event.value)"
    >
      <mat-option *ngFor="let periodType of periodTypes; let i = index" [value]="periodType.value">
        {{ periodType.label }}
      </mat-option>
    </mat-select>
  </div>
  <div class="back-button-container">
    <button (click)="goToHomePage()" class="back-button">
      <img src="./assets/images/compliance/icons/chevron-left.svg" />
      <span class="main-text-color">Home</span>
    </button>
  </div>
</div>
<mat-accordion class="filter-container charts-filter-container"> 
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header class="filter-title">
      <mat-panel-title> {{ siteTitle }}</mat-panel-title>
      <mat-panel-description>
        <span class="panel-description">Filters</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list class="filter-grid" cols="4" rowHeight="35px">
      <!-- filter title -->
      <mat-grid-tile class="filter-options filter-header-items">
        <div class="filter-options-title charts-filter-container">
          <mat-checkbox
            aria-label=""
            [checked]="allEventLevelsSelected"
            [indeterminate]="indeterminateEventLevels"
            (change)="toggleSelectAll($event, 'eventLevels')"
          >
            Event Level
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" class="filter-options filter-header-items">
        <div class="filter-options-title charts-filter-container">
          <mat-checkbox
            aria-label=""
            [checked]="allEventTypesSelected"
            [indeterminate]="indeterminateEventTypes"
            (change)="toggleSelectAll($event, 'eventTypes')"
          >
            Event Type
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="filter-options filter-header-items">
        <div class="filter-options-title charts-filter-container">
          <mat-checkbox
            aria-label=""
            [checked]="allAnalyticTypesSelected"
            [indeterminate]="indeterminateAnalyticTypes"
            (change)="toggleSelectAll($event, 'analyticTypes')"
          >
            Analytic Type
          </mat-checkbox>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="130px">
      <mat-grid-tile class="filter-items">
        <fieldset class="filter-options">
          <div class="filter-checkboxes charts-filter-container" *ngFor="let item of eventLevels">
            <mat-checkbox
              [checked]="filterSettings.eventLevels[item.id]"
              (change)="itemChanged(item, $event, filterSettings.eventLevels, 'eventLevels')"
            >
              {{ item.val }}
            </mat-checkbox>
          </div>
        </fieldset>
      </mat-grid-tile>
      <mat-grid-tile  [colspan]="2" class="filter-items">
        <fieldset class="filter-options" [ngClass]="{'third-filter': eventTypes.length > 4}">
          <div class="filter-checkboxes charts-filter-container" *ngFor="let item of eventTypes">
            <mat-checkbox
              [checked]="filterSettings.eventTypes[item.id]"
              (change)="itemChanged(item, $event, filterSettings.eventTypes, 'eventTypes')"
            >
              {{ item.val }}
            </mat-checkbox>
          </div>
        </fieldset>
      </mat-grid-tile>
      <mat-grid-tile class="filter-items big-list" >
        <fieldset class="filter-options">
          <div
            class="filter-checkboxes charts-filter-container filter-checkboxes--analytic"
            *ngFor="let item of analyticTypes"
          >
            <mat-checkbox
              [checked]="filterSettings.analyticTypes[item.id]"
              (change)="itemChanged(item, $event, filterSettings.analyticTypes, 'analyticTypes')"
            >
              {{ item.val }}
            </mat-checkbox>
          </div>
        </fieldset>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="buttons-container">
      <div>
        <button mat-button (click)="resetToFactory()" class="border-button">
          Default Filters
        </button>
        <button mat-button (click)="clearAll()" class="border-button">Clear All</button>
      </div>
      <div>
        <button mat-raised-button (click)="applyFilters()" class="colored-button">Apply</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="pagination" *ngIf="metricCount > metricsPerPage">
  <ngb-pagination [collectionSize]="metricCount" [(page)]="page" [maxSize]="3" [pageSize]="metricsPerPage" [rotate]="true" (pageChange)="onChangePage($event)">
  </ngb-pagination>
</div>
<p class="empty-title" *ngIf="!pageIsLoading && (!assets || assets.length == 0)">
  No events detected for {{ siteTitle }} with selected parameters
</p>

<div *ngIf="pageIsLoading == true" class="lds-ellipsis">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<p
  *ngIf="pageIsLoading == true"
  class="loading-message error-message main-gray-text-color"
>
  Loading ...
</p>
<div id="capture">
  <mat-accordion *ngFor="let asset of assets[pageIndex]; let i = index" class="alarm-accordion">
    <mat-expansion-panel [expanded]="true" class="alarm-container">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="asset-title">
            Asset: {{ asset.asset['name'] }}
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div *ngFor="let alarmGroup of asset.alarmGroups; let groupIndex = index" class="alarm-item">
          <div class="alarm-content">
            <div>
            <mat-checkbox
              [(ngModel)]="assetSelectedList[alarmGroup.assetId]?.metrics[alarmGroup.metricId].checked"
              (change)="changeSelected(alarmGroup.assetId, alarmGroup.metricId, alarmGroup.chartId)"
            ></mat-checkbox>
            </div>
            <div class="alarm-info">
              <div class="alarm-details">
                <p class="health-value main-gray-text-color">
                  <span class="alarm-title">{{ alarmGroup.component.name }}</span>
                  <span class="circle" [ngClass]="alarmGroup.class"></span>
                </p>
                <p class="alarms-description" translate [translateParams]="alarmGroup">
                  {{ alarmGroup.metricName }}
                </p>
                <p class="alarms-description description-small" translate [translateParams]="alarmGroup">
                  Last event: {{ alarmGroup.description }}.
                </p>
              </div>
              <div class="alarm-chart" [id]="alarmGroup.chartId">
                <div
                  *ngIf="alarmGroup.chartData && alarmGroup.chartData.data && alarmGroup.chartData.data.length > 0"
                  class="line-chart-container"
                >
                  <span class='chart-units'>{{ alarmGroup.units }}</span>
                  <nvd3
                    [options]="alarmGroup.chartData.options"
                    [data]="alarmGroup.chartData.data"
                  ></nvd3>
                </div>
                <div
                  *ngIf="
                    alarmGroup.chartData &&
                    alarmGroup.chartData.data &&
                    alarmGroup.chartData.data.length == 0 &&
                    !alarmGroup.VFDChartError
                  "
                  class="chart-nodata main-text-color"
                >
                  No data available.
                </div>
                <div
                  *ngIf="alarmGroup && alarmGroup.VFDChartError"
                  class="error-text chart-nodata main-text-color"
                >
                  {{ alarmGroup.VFDChartError }}
                </div>
                <div *ngIf="alarmGroup.loading == true" class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <p
                  *ngIf="alarmGroup.loading == true"
                  class="loading-message error-message main-gray-text-color"
                >
                  Loading ...
                </p>
              </div>
            </div>
          </div>
          <div class="alarm-editor" *ngIf="alarmGroup.checked">
            <p class="editor-title">Comment</p>
            <textarea [(ngModel)]="alarmGroup.comment"></textarea>

          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="btn-container">
    <span (click)="generateSelectedData(actionTypes.download)">
      <button
      [disabled]="!alarmGroupSelected"
      title="Please select events"
      mat-raised-button
      class="pdf-btn border-button"
    >
      <span class="pdf-btn--content">
        <img class="pdf-btn--icon" src="./assets/images/compliance/icons/report-download.svg" />
        <span>Generate Report</span>
      </span>
    </button>
    </span>
  </div>
</div>

<div id="charts"></div>