.reports-filter-container {
  margin-bottom: 16px;
  margin-top: 16px;
  text-align: left;

  .date-range-container {
    width: 268px;
    display: inline-block;
  }

  .mat-checkbox {
    margin-right: 30px;
  }

  .filter-label {
    height: 24px;
    width: 53px;
    font-size: 14px;
    font-family: FranklinGothic-Light;
    font-weight: 300;
    margin-right: 15px;
  }
}

.filter-title {
  height: 45px !important;
}

.third-filter {
  display: flex;
  flex-wrap: wrap;
  .filter-checkboxes {
    width: 33%;
  }
}

fieldset.filter-options,
.filter-options-title {
  padding-top: 5px;
  margin-left: calc(-10% + 20px);
  font-size: 12px;
  font-weight: 300;
}

.filter-grid {
  margin-top: -15px;
}

.filter-time-title,
.pagination-text {
  font-size: 15px;
  margin-right: 10px;
}

.pagination {
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
  .prev-button {
    margin-right: 10px;
  }
  &-text {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.chart-units {
  color: #8d9cc2;
  font-size: 11px;
  position: absolute;
  text-align: center;
  left: 10px;
}

.circle {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 6px;

  &--red {
    background-color: #ff5252;
  }

  &--yellow {
    background-color: #ffcd0b;
  }
}

input,
mat-select {
  height: 32px;
  width: 100px;
  line-height: 32px;
  border: 1px solid #4d8cef;
  border-radius: 8px;
  padding-left: 8px;
}

mat-select.period-select {
  width: 120px;
}

.example-radio-button {
  margin: 5px;
}

.filter-container .mat-expansion-panel-header {
  background-color: #181a1e;

  .mat-expansion-panel-header-title {
    text-transform: capitalize;
    color: #fff;
  }

  .panel-description {
    width: 100%;
    display: inline-block;
    text-align: right;
    color: #fff;
  }
}

.filter-container .mat-expansion-panel-content,
.filter-container .mat-expansion-panel {
  background-color: #181a1e;
}

.big-list .filter-checkboxes {
  width: 50%;
  display: inline-block;

  &--analytic {
    width: 100%;
  }
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.alarm-accordion {
  > .mat-expansion-panel-spacing:last-child,
  > .mat-expansion-panel-spacing:first-child {
    margin-top: 16px;
  }

  .mat-expansion-panel-header {
    flex-direction: row-reverse !important;
  }

  .mat-checkbox {
    margin-right: 10px;
    margin-top: 2px;
  }

  .mat-expansion-panel-header-title {
    margin-right: 12px;
    margin-left: 12px;
    font-family: FranklinGothic-Book;
    font-size: 20px;
    color: #a8aeb9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

textarea {
  width: 100%;
  min-height: 130px;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  padding: 15px;
}

.editor-title {
  font-family: FranklinGothic-Book;
  font-size: 20px;
  color: #a8aeb9;
}

.chart-nodata {
  color: #8d9cc2;
  font-size: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
}

.asset-title {
  font-size: 22px;
}

.alarm-container {
  // border: 1px dotted pink;
  margin: 12px;
  background-color: #2b3647;
  border-radius: 8px;

  .health-value {
    display: flex;
    align-items: center;
  }

  .alarm-content {
    display: flex;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .alarm-title {
      font-family: FranklinGothic-Book;
      font-size: 20px;
    }
  }

  .alarm-item {
    border-bottom: 2px solid #181a1e;
    margin-bottom: 36px;
    padding-bottom: 20px;
  }

  .alarm-info {
    flex: 0 0 calc(100% - 28px);
  }

  .alarm-details {
    flex: 0 0 35%;
    margin-bottom: 10px;

    .health-value,
    .alarm-asset {
      height: 24px;
      color: #a8aeb9;
      font-family: FranklinGothic-Light;
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;

      .mat-icon {
        width: 9px;
        height: 9px;
        margin-right: 4px;
      }
    }

    .alarm-asset {
      font-family: FranklinGothic-Light;
    }

    .criticality-level {
      height: 20px;
      color: #f7faff;
      font-family: FranklinGothic-Medium;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    .alarms-description {
      color: #f7faff;
      font-family: FranklinGothic-Light;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      width: 80%;
      margin: 0;
    }
    .description-small {
      font-size: 15px;
    }
  }

  .alarm-chart {
    flex: 1;
    position: relative;
    background-color: #161f2d;
    margin-bottom: 16px;
    border-radius: 4px;
  }
}

.empty-title {
  text-align: center;
  font-size: 20px;
  color: #f7faff;
  padding-top: 20px;
}

.filter-container .mat-expansion-panel-header-title {
  font-size: 20px;
  font-family: FranklinGothic-Medium;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #425778;
  padding-top: 0;

  button {
    margin: 10px;
  }
}

.border-button,
.colored-button {
  border-radius: 15px;
  color: #f7faff;
  padding: 0 15px;
  height: 26px;
  font-family: 'Franklin Gothic Light', sans-serif;
  font-size: 13px;
  line-height: 26px;
  background-color: transparent;
}

.border-button {
  border: 1px solid #0064ff;
}

.colored-button {
  background-color: #0064ff;
  font-weight: bold;
}

.next-button {
  transform: rotate(180deg);
}

.filter-container .mat-expansion-panel-body {
  padding: 15px 8px;
}

.filter-time-item {
  display: flex;
  align-items: baseline;
  margin: 0 16px;

  .date-title {
    font-size: 18px;
    font-family: FranklinGothic-Light;
    color: #fff;
  }
}

.lds-ellipsis {
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}

.loading-message {
  text-align: center;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.report-button {
  background: transparent;
  border: 0;
}

.btn-container {
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
  height: 60px;

  button {
    margin: 12px;
  }
}

.pdf-btn.border-button,
.pdf-btn.colored-button {
  border-radius: 12px;
  color: #f7faff;
  padding: 0 23px 0 12px;
  height: 32px;
  line-height: 32px;
  background-color: transparent;
}

.pdf-btn {
  &--icon {
    margin-right: 8px;
  }
  &--content {
    display: flex;
  }
}

.border-button {
  border: 1px solid #0064ff;
}

.colored-button {
  background-color: #0064ff;
  font-weight: bold;
}

.back-button-container {
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 35px;
}

.show-scroll::-webkit-scrollbar,
.show-scroll::-moz-scrollbar,
.show-scroll::-o-scrollbar,
.show-scroll::-ms-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  display: block;
}
.show-scroll::-webkit-scrollbar-thumb,
.show-scroll::-moz-scrollbar-thumb,
.show-scroll::-o-scrollbar-thumb,
.show-scroll::-ms-scrollbar-thumb {
  border-radius: 4px;
  background-color: #9999 !important;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.show-scroll::-webkit-scrollbar-track,
.show-scroll::-moz-scrollbar-track,
.show-scroll::-o-scrollbar-track,
.show-scroll::-ms-scrollbar-track {
  background-color: #9993 !important;
}

.show-scroll {
  overflow-y: scroll;
  height: calc(100% - 461px);
  margin: 12px;
}
