<table mat-table [dataSource]="dataSource" class="svg-map-background">
  <ng-container matColumnDef="severity">
    <th class="mat-header" mat-header-cell *matHeaderCellDef>Status</th>
    <td class="main-text-color" mat-cell *matCellDef="let element">
      <div [ngClass]="element.class"></div>
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th class="mat-header" mat-header-cell *matHeaderCellDef>Description</th>
    <td class="main-text-color" mat-cell *matCellDef="let element" translate [translateParams]="element">
      {{element.description}}
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th class="mat-header" mat-header-cell *matHeaderCellDef>Date and time</th>
    <td class="main-text-color" mat-cell *matCellDef="let element">{{element.date | date:'medium'}} UTC</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToAlarm(row)"></tr>
</table>