table {
  width: 100%;
}

.asset-event-log {
  tr.mat-row {
    &:hover {
      background: #173b74;
    }
  }
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;

  &--red {
    background-color: #ff5252;
  }

  &--yellow {
    background-color: #ffcd0b;
  }
}
