@import '~styles/variables';

.asset-group {
  display: inline-block;
  height: 40px;
  padding-top: 5px;
  padding-left: 60px;
  margin: 0;
  border-left: 2px solid transparent;
}

.asset-item {
  display: inline-block;
  height: 40px;
  padding-top: 5px;
  padding-left: 75px;
  margin: 0;
  border-left: 2px solid transparent;
}
