<mat-accordion multi="true" class="region-accordion">
  <mat-expansion-panel
    #assetGroupExpansionPanel
    *ngFor="let facilityArea of facilityAreas"
    [expanded]="facilityArea.openedByClick || facilityArea.isOpen"
    (opened)="setOpened(facilityArea, true)"
    (closed)="setOpened(facilityArea, false)"
    [attr.id]="facilityArea.name + '-' + facilityArea.site"
    hideToggle
  >
    <mat-expansion-panel-header
      (click)="expandPanel(facilityArea, assetGroupExpansionPanel, $event)"
      [collapsedHeight]="'40px'"
      [expandedHeight]="'40px'"
    >
      <mat-panel-title
        [ngClass]="{ 'active-asset-group': facilityArea.isActive, 'asset-group': true }"
      >
        <img class="accordion-icon" [src]="facilityArea.icon" />
        <span class="expansion-indicator">
          <img
            *ngIf="facilityArea.panelOpenState"
            class="expansion-indicator"
            src="./assets/images/compliance/icons/arrow-collapse.svg"
          />
          <img
            *ngIf="!facilityArea.panelOpenState"
            class="expansion-indicator"
            src="./assets/images/compliance/icons/arrow-expand.svg"
          />
        </span>
        <span class="panel-label">{{ facilityArea.label }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion multi="true" class="region-accordion">
      <mat-expansion-panel
        #assetExpansionPanel
        *ngFor="let asset of facilityArea.assets"
        [expanded]="asset.openedByClick || asset.isOpen"
        (opened)="setOpened(asset, true)"
        (closed)="setOpened(asset, false)"
        [attr.id]="asset.id"
        hideToggle
      >
        <mat-expansion-panel-header
          (click)="expandPanel(asset, assetExpansionPanel, $event)"
          [collapsedHeight]="'40px'"
          [expandedHeight]="'40px'"
        >
          <mat-panel-title
            [ngClass]="{
              'active-asset-group': asset.isActive,
              'asset-item': true
            }"
          >
            <img class="accordion-icon" [src]="asset.icon" />
            <span class="expansion-indicator">
              <img
                *ngIf="asset.panelOpenState"
                class="expansion-indicator"
                src="./assets/images/compliance/icons/arrow-collapse.svg"
              />
              <img
                *ngIf="!asset.panelOpenState"
                class="expansion-indicator"
                src="./assets/images/compliance/icons/arrow-expand.svg"
              />
            </span>
            <span class="panel-label">{{ asset.name }}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <app-component-items [components]="asset.components"></app-component-items>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
