<div mat-dialog-content class="chart-dialog line-chart-container">
  <img
    (click)="onNoClick()"
    class="header-icon"
    src="./assets/images/compliance/icons/minimise.svg"
  />
  <span class="chart-title main-gray-text-color">{{ data.title }}</span>

  <div *ngIf="data.description" class="alarm-description main-gray-text-color">
    <mat-grid-list cols="15" rowHeight="40px">
      <mat-grid-tile>
        <div [ngClass]="data.description.class"></div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" class="type-name">
        {{ data.description.component.type_name }}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="8" translate [translateParams]="data.description">
        {{ data.description.description }}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4">
        {{ data.description.started_at | date: 'medium' }} UTC
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div id="chart-dialog-peak" class="with-3d-shadow with-transitions">
    <nvd3
      #dialogChart
      [options]="chartData.options"
      [data]="chartData.data"
      id="linechart"
      api="api"
    ></nvd3>
  </div>

  <div class="error-text">{{ data.error }}</div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="'confirm'" cdkFocusInitial>
    Ok
  </button>
</div> -->
