.header-icon {
  float: left;
  cursor: pointer;
}

.mat-dialog-content {
  margin: 0;
}

.type-name .mat-figure {
  text-transform: capitalize;
}

.error-text {
  color: #8d9cc2;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;

  &--red {
    background-color: #ff5252;
  }

  &--yellow {
    background-color: #ffcd0b;
  }
}

pre#data {
  display: none;
}

