.zero-marg-padd {
  padding: 0;
  margin: 0;
}

.full-width {
  width: 100%;
}

.lang-switcher {
  float: right;
  margin-top: 20px;
}

.main-container {
  // height: 100vh; // calc(100vh - 80px);
  padding: 0;
}

:host {
  app-nav-bar {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  main {
    flex: 1;
    position: relative;
  }

  /deep/ router-outlet ~ * {
    // position: absolute;
    width: 100%;
    height: 100%;
  }
}
