<div [className]="'container-fluid zero-marg-padd main-background ' + theme">
  <app-top-nav></app-top-nav>
  <div class="full-width">
    <toaster-container [toasterconfig]="config"></toaster-container>
    <div *ngIf="isSessionExpired" class="overlay-session"></div>
    <mat-sidenav-container
      [ngClass]="isLogIn ? 'login-page' : ''"
      class="main-app-container main-container example-container content-background"
      fullscreen
    >
      <mat-sidenav
        #rightMenuSidenav
        mode="side"
        position="end"
        [opened]="false"
        (opened)="setChangeScreenWidthEvents('open!')"
        (closed)="setChangeScreenWidthEvents('close!')"
        [mode]="'over'"
        class="details-sidenav side-menu-background"
      >
        <button (click)="rightMenuSidenav.toggle()" mat-icon-button class="search-toggle-btn">
          <mat-icon aria-label="Close">close</mat-icon>
        </button>
        <app-event-log></app-event-log>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
