:host {
  display: block;
}

.compliance-page-header {
  p {
    margin: 0;
  }
}

.facilities-page-container {
  // margin-top: 80px;

  .mat-tab-group.mat-primary {
    margin-top: 0;
  }
}

.compliance-page-header {
  position: absolute;
  z-index: 2;
  background: transparent;
  // width: 100%;
}

.view-all-btn {
  position: absolute;
  right: 15px;
  top: 41px;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  outline: 0;
  border: 1px solid #498aef;
  border-radius: 35px;
  height: 26px;
  color: #f7faff;
  font-family: FranklinGothic-Light;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  background-color: transparent;
}
