<div class="compliance-page-header main-text-color">
  <app-fav-button
    [status]="isFavorite"
    [url]="href"
    [title]="header"
    [selectedIndex]="selectedIndex"
  ></app-fav-button>
  <span>
    <span class="facility-header">{{ header }}</span> Compliance
  </span>
</div>
<div class="facilities-page-container" *ngIf="activeTabDefined">
  <mat-tab-group
    mat-stretch-tabs
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="changeActiveTab($event)"
  >
    <mat-tab class="svg-map-background" label="Overview">
      <app-facility-overview></app-facility-overview>
    </mat-tab>
    <mat-tab class="svg-map-background" label="Analysis">
      <app-facility-analysis></app-facility-analysis>
    </mat-tab>
    <mat-tab class="svg-map-background" label="Layout">
      <app-facility-layout></app-facility-layout> 
    </mat-tab>
  </mat-tab-group>
</div>
