<mat-sidenav-container class="example-container content-background">
  <mat-sidenav
    #sidenav
    mode="side"
    mwlResizable
    [enableGhostResize]="true"
    (resizeEnd)="onResizeEnd($event)"
    [resizeEdges]="{ right: true }"
    [ngStyle]="style"
    [(opened)]="opened"
    (opened)="setChangeScreenWidthEvents('open!')"
    (closed)="setChangeScreenWidthEvents('close!')"
    class="search-sidenav side-menu-background"
  >
    <button
      (click)="sidenav.toggle()"
      mat-icon-button
      class="search-toggle-btn"
    >
      <mat-icon aria-label="Close">close</mat-icon>
    </button>
    <p class="left-menu-header">MHS World</p>
    <app-left-menu></app-left-menu>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="contentStyle">
    <app-favorites></app-favorites>
    <div
      *ngIf="!sidenav.opened"
      class="left-expand-btn-container side-menu-background"
    >
      <button
        *ngIf="!sidenav.opened"
        (click)="sidenav.toggle()"
        mat-icon-button
        class="search-toggle-btn"
      >
        <mat-icon aria-label="Close" class="main-gray-text-color">
          menu
        </mat-icon>
      </button>
    </div>
    <div
      [ngClass]="{
        'sidenav-content content-background margin-left-50': !sidenav.opened,
        'sidenav-content content-background': sidenav.opened
      }"
      [@fadeOutAnimation]="getRouterOutletState(o)"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
