<div class="compliance-page-header main-text-color">
  <button (click)="goBack()" class="back-button">
    <img src="./assets/images/compliance/icons/chevron-left.svg" />
    <span class="main-text-color">Back</span>
  </button>
  <div class="component-title">
    <app-fav-button
      [status]="isFavorite"
      [url]="href"
      [title]="assetName + ' ' + componentName"
      [selectedIndex]="selectedIndex"
    ></app-fav-button>
    <span class="page-title">{{ assetName }} {{ componentName }}</span>
  </div>
</div>

<app-component-header *ngIf="details" [details]="details"></app-component-header>

<div class="asset-page-container">
  <mat-tab-group
    mat-stretch-tabs
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="changePageHeader($event)"
    class="component-overview"
  >
    <mat-tab class="svg-map-background" label="Overview">
      <app-component-overview [alarms]="alarms" *ngIf="details" [health]="componentHealth" ></app-component-overview>
    </mat-tab>
    <mat-tab class="svg-map-background" label="Analyze">
      <div>
        <app-component-analyze
          *ngIf="details"
          (voted)="onVoted($event)"
          (loading)="onLoading($event)" 
          [metricsList]="metricsList"
          [metricIds]="metricIds"
          [details]="details"
        >
        </app-component-analyze>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- <div class="btn-container">
  <app-acknowledgement
    [alarms]="alarms"
    [acknowledgements]="acknowledgements"
  ></app-acknowledgement>
</div> -->
