:host {
  display: block;
}

.header-container {
  width: 100%;
  height: 100%;
}

.component-container {
  padding-left: 9px;
  padding-right: 9px;
}

.compliance-page-header {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.description {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  text-align: left;
  font-size: 16px;
}

.component-title {
  border-left: 2px solid #222a36;
  padding-left: 16px;
  margin-left: 16px;
  display: inline-block;
  z-index: 10;
  position: relative;
  vertical-align: middle;
}

.btn-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: black;
  height: 60px;
  padding: 12px;
}
