<p (click)="goToHomePage()" class="tree-header-company main-gray-text-color">
  {{activeSiteName}}
</p>
<div *ngIf="levels == 4">
  <app-countries [countries]="menuData"></app-countries>
</div>
<div *ngIf="levels == 2">
    <app-facilities [facilities]="menuData" [levels]="levels" [url]=""></app-facilities>
</div>

