.region-accordion {
  .mat-expansion-panel {
    box-shadow: none;

    .mat-expansion-panel-header {
      padding: 0px 20px 0px 0px;
    }
  }
}

.tree-header-company {
  margin-top: 12px;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.tree-header {
  margin-left: 20px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
