.fav-item {
  border-radius: 8px;
  padding: 8px 16px 8px 12px;
  font-size: 14px;
  color: #f7faff !important;
  background: #181a1e;
}

a:hover {
  cursor: pointer;
  color: #3b7dff;
}
a.active {
  color: #3b7dff;
  &:hover {
    cursor: pointer;
    color: #3b7dff;
  }
}

.star {
  cursor: pointer;
  color: #3b7dff;
  vertical-align: middle;
  &:hover {
    opacity: 0.8;
  }
}

.fav-container {
  position: relative;
}

.fav-page-header {
  width: 100%;
  color: #f7faff;
  font-size: 20px;
  position: absolute;
  padding: 16px 0 19px 30px;
  background: black;
}

.acknoledge-container {
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;

  table {
    color: white;
  }
}

.favs-header {
  margin-left: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.width-10p {
  width: 10%;
}

.width-15p {
  width: 15%;
}

.width-20p {
  width: 20%;
}

.width-30p {
  width: 30%;
}

.width-40p {
  width: 40%;
}

.user-group {
  margin-right: 5px;
}

.alarm-line {
  margin-left: 15px;
  margin-bottom: 0;
}

.favs-page-container {
  margin-bottom: 20px;
  padding-top: 80px;
  margin-left: 16px;
  .mat-tab-group.mat-primary {
    margin-top: 0;
  }
}

.fav-text {
  font-size: 14px;
  font-family: FranklinGothic-Light;
  line-height: 20px;
  color: #f7faff;
}

.fav-text-block {
  margin-bottom: 24px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #425778;
  padding-top: 24px;
  button {
    margin: 10px;
  }
}

.border-button,
.colored-button {
  border-radius: 12px;
  color: #f7faff;
  padding: 0 23px;
  height: 32px;
  line-height: 32px;
  background-color: transparent;
}

.border-button {
  border: 1px solid #0064ff;
}

.colored-button {
  background-color: #0064ff;
  font-weight: bold;
}
