<div class="fav-container">
  <p class="fav-page-header">
    Favorite Tabs Limit
  </p>
  <div class="favs-page-container">
    <div class="fav-text-block">
      <p class="fav-text main-text-color">
        You have reached the limit of 5 favorite tabs.
      </p>
      <p class="fav-text main-text-color">
        You can replace one of existing tabs:
      </p>
    </div>
    <div>
      <div>
        <p
          *ngFor="let item of data.list"
          (click)="toggleFavorite(item.url, item.title)"
        >
          <a
            [ngClass]="selectedFavUrl == item.url ? 'active' : ''"
            class="fav-item main-background"
          >
            <span class="star">
              <mat-icon>star</mat-icon>
            </span>
            <span>{{ item.title }}</span>
          </a>
        </p>
      </div>
    </div>
    <div class="buttons-container">
      <button mat-button class="border-button" (click)="onNoClick()">
        Cancel
      </button>
      <button
        mat-raised-button
        class="colored-button"
        (click)="onSubmit()"
        cdkFocusInitial
      >
        Replace
      </button>
    </div>
  </div>
</div>
