<div class="log-container">
  <div class="log-header main-text-color">Event Log</div>
  <div class="log-content">
    <div *ngFor="let optimization of optimizationLog">
      <div
        *ngIf="optimization.type == 'done'"
        class="issue-container optimization-event event-card eventBackground"
        [ngClass]="'alarm-' + optimization.type"
      >
        <p
          (click)="goToSpareParts(optimization.id)"
          class="optimization-title title-text main-text-color"
        >
          Spare parts optimization is completed.
        </p>
        <span
          class="hide-event main-text-color"
          (click)="deleteOptimizationFromCookies(optimization.id)"
        >
          <mat-icon aria-label="Close">close</mat-icon>
        </span>
      </div>
      <div
        *ngIf="optimization.type == 'error'"
        class="issue-container optimization-event event-card eventBackground"
        [ngClass]="'alarm-' + optimization.type"
      >
        <p
          (click)="goToSpareParts(optimization.id)"
          class="optimization-title title-text main-text-color"
        >
          Spare parts optimization was unsuccessful, please try again.
        </p>
        <span
          class="hide-event main-text-color"
          (click)="deleteOptimizationFromCookies(optimization.id)"
        >
          <mat-icon aria-label="Close">close</mat-icon>
        </span>
      </div>
    </div>

    <div
      class="issue-container event-card eventBackground"
      [ngClass]="asset.class"
      *ngFor="let asset of allErrorLog"
    >
      <p (click)="goToAsset(asset)" class="title-text main-text-color">Asset: {{ asset.assetName }}</p>
      <div translate class="isue-item" [translateParams]="asset" *ngFor="let issue of asset.issues">
        <p class="issue-counter">Events: {{ issue.counter }}</p>
        <div class="issue-text">
          <span class="issue-text-item">
            <div class="component-icon">
              <img [src]="issue.icon" (error)="onImgError($event, issue)"/>
            </div>
            <span (click)="goToComponentOverview(asset, issue)" class="issue-component">
              {{ issue.componentName }}
            </span>
          </span>
          <div class="issue-text-item issue-text-ellipse">
            <span
              (click)="goToComponentAnalize(asset, issue)"
              class="issue-description"
              translate
              [translateParams]="error"
            >
              {{ issue.description }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
