.log-container {
  // min-width: 300px;
  height: 700px;

  .log-header {
    height: 60px;
    padding: 10px 0 0 15px;
    border-bottom: 2px solid #425778;
    font-size: 20px;
    background-color: black;
  }
}

.issue-counter {
  color: #7f8796;
  font-size: 14px;
  margin-bottom: 0;
}

.isue-item {
  padding-bottom: 24px;
}

.isue-item:last-child {
  padding-bottom: 0;
}

.issue-container {
  position: relative;
  margin-top: 20px;
  padding: 12px;
  font-family: FranklinGothic-Book;
  max-width: 336px;
  height: max-content;
  .issue-text {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
  .component-icon {
    display: inline-block;
    margin-right: 4px;
  }
  .issue-component {
    border-bottom: 1.3px solid;
  }
  .issue-description {
    font-size: 13px;
    border-bottom: 1.3px solid;
  }
}

.log-content {
  padding: 0 10px;
}

.hide-event {
  position: absolute;
  top: 4px;
  right: 7px;
  cursor: pointer;
  mat-icon {
    font-size: 12px;
    height: 12px;
    width: 12px;
  }
}

.event-card {
  border-radius: 8px;
  .title-text {
    font-size: 16px;
    text-transform: capitalize;
    border-bottom: 1.3px solid;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
  }
  .optimization-title {
    margin-bottom: 0;
    border-bottom: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  .subtitle-text {
    font-size: 13px;
    margin-bottom: 10px;
    &:hover {
      border: none;
      cursor: default;
    }
  }
}

.alarm-red,
.alarm-yellow,
.alarm-green,
.alarm-done,
.alarm-error {
  border-width: 2px;
  border-style: solid;
}

.alarm-link:hover {
  text-decoration: none;
}

.issue-text-item {
  flex: 1;
}

.issue-text-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
