<mat-accordion multi="true" class="region-accordion">
  <mat-expansion-panel
    #regionExpansionPanel
    *ngFor="let region of regionList"
    [expanded]="region.openedByClick || region.isOpen"
    (opened)="setOpened(region, true)"
    (closed)="setOpened(region, false)"
    [attr.id]="region.id"
    class="side-menu-background"
    hideToggle
  >
    <mat-expansion-panel-header
      (click)="expandPanel(region, regionExpansionPanel, $event)"
      [collapsedHeight]="'40px'"
      [expandedHeight]="'40px'"
    >
      <mat-panel-title [ngClass]="{ 'active-region': region.isActive, 'region-panel-title': true }">
        <img class="accordion-icon" [src]="region.icon" />
        <span class="expansion-indicator">
          <img
            *ngIf="region.panelOpenState"
            class="expansion-indicator"
            src="./assets/images/compliance/icons/arrow-collapse.svg"
          />
          <img
            *ngIf="!region.panelOpenState"
            class="expansion-indicator"
            src="./assets/images/compliance/icons/arrow-expand.svg"
          />
        </span>
        <span class="panel-label">{{ region.name }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-facilities
      [facilities]="region.facilities"
      [levels]="'4'"
      [url]="region.name"
    ></app-facilities>
  </mat-expansion-panel>
</mat-accordion>
