<mat-accordion multi="true" class="region-accordion">
  <mat-expansion-panel
    #sitesExpansionPanel
    *ngFor="let site of siteList"
    [attr.id]="site.name"
    class="side-menu-background"
    hideToggle
  >
    <mat-expansion-panel-header
      (click)="expandPanel(site, sitesExpansionPanel, $event)"
      [collapsedHeight]="'40px'"
      [expandedHeight]="'40px'"
    >
      <mat-panel-title class="country-panel-title">
        <img class="accordion-icon" [src]="site.icon" />
        <img
          *ngIf="site.panelOpenState"
          class="expansion-indicator"
          src="./assets/images/compliance/icons/arrow-collapse.svg"
        />
        <img
          *ngIf="!site.panelOpenState"
          class="expansion-indicator"
          src="./assets/images/compliance/icons/arrow-expand.svg"
        />
        <span class="panel-label">{{ site.title }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list role="list" class="role-list sensors-container main-text-color">
      <mat-list-item role="listitem">
        <span
          (click)="goToReports(site.id)"
          [ngClass]="{ 'active-asset': site.isReportsActive, 'report-item main-text-color': true }"
        >
          <img class="accordion-icon" [src]="'assets/images/compliance/icons/report-item.svg'" />
          <span class="sensor-panel-label">Reports</span>
        </span>
      </mat-list-item>

      <!--<mat-list-item role="listitem">-->
      <!--<span (click)="goToTrends(site.name)"-->
      <!--[ngClass]="{'active-asset':site.isTrendsActive, 'report-item main-text-color':true}">-->

      <!--<img class="accordion-icon" [src]="'assets/images/compliance/icons/report-item.svg'">-->
      <!--<span class="sensor-panel-label">Trends</span>-->
      <!--</span>-->
      <!--</mat-list-item>-->
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
