@import '~styles/variables';

.sensors-container {
  padding-left: 0;
  padding-top: 0;

  .mat-list-item {
    height: 40px;
  }
}

.report-item {
  width: 100%;
  height: 40px;
  display: block;
  padding-top: 8px;
  padding-left: 24px;
  border-left: 2px solid transparent;
  border-bottom: 1px solid #181a1e;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  font-weight: 300;

  &:hover {
    display: block;
    // border-radius: 15px;
    cursor: pointer;
  }
}

.sensor-red {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    right: 7px;
  }
}

.sensor-yellow {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    right: 7px;
  }
}

.sensor-green {
  &:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    right: 7px;
  }
}

.region-accordion
  .mat-expansion-panel
  .mat-expansion-panel-header
  .mat-expansion-panel-header-title {
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 0;
}

.panel-label {
  text-transform: capitalize;
}
