.event-card {
  border-radius: 8px;
  .title-text {
    font-size: 16px;
    border-bottom: 1.3px solid;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.alarm-red,
.alarm-yellow,
.alarm-green {
  border-width: 2px;
  border-style: solid;
}

.issue-header {
  margin-top: 26px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.issue-counter {
  color: #7f8796;
  font-size: 14px;
  margin-bottom: 0;
}

.isue-item {
  padding-bottom: 24px;
}

.isue-item:last-child {
  padding-bottom: 0;
}

.issue-container {
  position: relative;
  margin-top: 20px;
  padding: 12px;
  font-family: FranklinGothic-Book;
  max-width: 336px;
  height: max-content;
  .issue-text {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
  .component-icon {
    display: inline-block;
    margin-right: 4px;
  }
  .issue-component {
    border-bottom: 1.3px solid;
  }
  .issue-description {
    font-size: 13px;
    border-bottom: 1.3px solid;
  }
}

.alarm-link:hover {
  text-decoration: none;
}

.issue-region-header {
  margin: 8px 0 5px 20px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.event-list {
  border-radius: 5px;
  justify-content: space-between;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 30%); /* 2 */
  grid-gap: 1rem;
  padding: 0;
  .sub-title {
    margin: 20px 0 0 0;
  }

  .issue-list {
    margin: 0;
    padding: 0;
    height: 55px;
  }

  h2 {
    text-align: center;
    font-size: 26px;
    margin: 0;
    padding: 0;
  }

  .red-circle {
    width: 12px;
    height: 12px;
    padding-top: 2px;
  }

  dl dt {
    text-align: center;
    height: 40px;
    padding: 0;
    font-size: 16px;
    color: #555454;
  }

  dl dd {
    height: 40px;
    padding: 5px 0 0 0;
    text-align: left;
    font-family: FranklinGothic-Book;
    font-size: 14px;
    line-height: 20px;
  }

  .mat-list-item {
    height: 35px;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 13px;
    color: #555454;
  }

  .possibe-remedies {
    .mat-list-item-content {
      border: 1px dotted red;
      padding: 0;
    }

    .mat-icon {
      width: 10px;
      font-size: 11px;
      padding: 15px 10px 0 0;
    }
  }
}

.mat-expansion-panel {
  margin: 25px 10px;
  border-radius: 5px;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child {
  margin-bottom: 10px;
  margin-top: 10px;

  &:hover,
  &:active {
    border-radius: 5px !important;
  }
}

.mat-expansion-panel-header {
  height: 56px !important;
  border-radius: 5px;
  flex-direction: row-reverse !important;
  .mat-content {
    padding-left: 12px;
  }
}

.mat-header {
  font-size: 20px;
  line-height: 56px;
  margin-right: 12px;
  margin-left: 12px;
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.issue-text-item {
  flex: 1;
}

.issue-text-ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
