<div class="content-background region-container">
  <mat-accordion>
    <mat-expansion-panel class="mat-expansion-panel svg-map-background" [expanded]="true">
      <mat-expansion-panel-header class="mat-expansion-panel-header">
        <mat-panel-title>
          <span class="mat-header" translate>
            FACILITY_EVENT_LOG<img
              class="information-icon"
              src="./assets/images/compliance/icons/information-small.svg"
              matTooltip="List of events detected by analytics for each asset in facility."
              matTooltipPosition="after"
              matTooltipClass="info-tooltip"
            />
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngIf="allErrorLog && allErrorLog.length == 0" class="error-container">
        <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
        <p class="error-message main-gray-text-color">No events detected in this time interval.</p>
      </div>

      <div *ngIf="allErrorLog && allErrorLog.length > 0" class="col event-list">
        <div
          class="issue-container event-card eventBackground"
          [ngClass]="error.class"
          *ngFor="let error of allErrorLog"
        >
          <p (click)="goToAsset(error)" class="title-text main-text-color">
            Asset-{{ error.asset }}
          </p>
          <div
            translate
            class="isue-item"
            [translateParams]="error"
            *ngFor="let issue of error.issues"
          >
            <p class="issue-counter">Events: {{ issue.counter }}</p>
            <div class="issue-text">
              <span class="issue-text-item">
                <div class="component-icon">
                  <img [src]="issue.icon" />
                </div>
                <span (click)="goToComponentOverview(error, issue.asset)" class="issue-component">{{
                  issue.asset
                }}</span>
              </span>
              <div class="issue-text-item issue-text-ellipse">
                <span
                  (click)="goToComponentAnalize(error, issue.asset)"
                  class="issue-description"
                  translate
                  [translateParams]="error"
                >
                  {{ issue.description }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
