<div class="main-filter-container">
  <app-date-range (dateRangeChange)="onDateRangeChange($event)"></app-date-range>
</div>

<div class="row details-container">
  <div class="col-5 svg-map-background asset-pie-chart">
    <img
      (click)="showChartDialog('alarmsByType')"
      class="header-icon"
      src="./assets/images/compliance/icons/enlarge.svg"
    />
    <span class="chart-title main-gray-text-color">Events by Type</span>
    <img
      class="information-icon"
      matTooltip="Percentage of analytic events by type."
      matTooltipPosition="after"
      matTooltipClass="info-tooltip"
      src="./assets/images/compliance/icons/information-small.svg"
    />
    <div *ngIf="donutChart && donutChart.data.length > 0">
      <nvd3 #alarmsByTypePieChart [options]="donutChart.d3Options" [data]="donutChart.data"></nvd3>
    </div>
    <div *ngIf="donutChart && donutChart.data.length == 0" class="error-container">
      <p *ngIf="donutChart.loading == false" class="error-message main-gray-text-color">
        <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
        {{ donutChart.errorMessage }}
      </p>
      <div *ngIf="donutChart.loading == true" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p *ngIf="donutChart.loading == true" class="error-message main-gray-text-color">
        Loading ...
      </p>
    </div>
  </div>

  <div class="col svg-map-background">
    <div class="line-chart-container component-alarms-chart">
      <img
        (click)="showChartDialog('alarmsByDate')"
        class="header-icon"
        src="./assets/images/compliance/icons/enlarge.svg"
      />
      <span class="chart-title main-gray-text-color">Events by date</span>
      <img
        class="information-icon"
        matTooltip="Count of unique analytic events per day."
        matTooltipPosition="after"
        matTooltipClass="info-tooltip"
        src="./assets/images/compliance/icons/information-small.svg"
      />
      <div *ngIf="alarmDateCounts && alarmDateCounts.data.length > 0">
        <nvd3
          #alarmsByDateChart
          [options]="alarmDateCounts.options"
          [data]="alarmDateCounts.data"
        ></nvd3>
      </div>
    </div>
    <div *ngIf="alarmDateCounts && alarmDateCounts.data.length == 0" class="error-container">
      <!-- <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg">
      <p class="error-message main-gray-text-color">No data available. </p> -->

      <p *ngIf="alarmDateCounts.loading == false" class="error-message main-gray-text-color">
        <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
        No events detected in this time interval
      </p>
      <div *ngIf="alarmDateCounts.loading == true" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p *ngIf="alarmDateCounts.loading == true" class="error-message main-gray-text-color">
        Loading ...
      </p>
    </div>
  </div>
</div>

<div class="row details-top-container chart-container details-container details-container--bottom">
  <div class="col-12 metric-chart svg-map-background" *ngFor="let chart of genericChartDataList">
    <div class="line-chart-container">
      <img
        (click)="showChartDialog('generic', chart.metricId)"
        class="header-icon"
        src="./assets/images/compliance/icons/enlarge.svg"
      />
      <span class="chart-title main-gray-text-color">{{ chart.title }}</span>
      <img
        class="information-icon"
        [matTooltip]="'Measurements for the ' + chart.title + ' of a monitored asset.'"
        matTooltipPosition="after"
        matTooltipClass="info-tooltip"
        src="./assets/images/compliance/icons/information-small.svg"
      />
      <div class="period-type-group">
        <mat-radio-group  
          [matTooltip]="!selectedToday ? 'Options not available for past dates.' : ''"
          matTooltipPosition="after"
          matTooltipClass="info-tooltip"
          [(ngModel)]="chart.selectedPeriod" 
          [disabled]="!selectedToday"
        >
          <mat-radio-button *ngFor="let option of periodTypes" [value]="option.value" (change)="radioChange($event, chart)">{{option.name}}</mat-radio-button>
          <mat-radio-button *ngIf="chart.selectedPeriod" [value]="null" (change)="radioChange($event, chart)">
            <span  class="period-type-close">
              <mat-icon>close</mat-icon>
            </span>
          </mat-radio-button>
          
        </mat-radio-group>
      </div>
      <div class="chart-time-title" *ngIf="chart && chart.selectedPeriod && chart.data.length > 0 && chart.loading == false">
        {{chart.sampleRate}} Data
      </div>
      <div class="chart-container" [id]="setChartId(chart.metricName)" *ngIf="chart && chart.data.length > 0">
        <app-metric-line-chart #genericDataChart [chart]="chart"></app-metric-line-chart>
      </div>
    </div>
    <div *ngIf="chart && chart.data.length == 0" class="error-container">
      <p *ngIf="chart.loading == false" class="error-message main-gray-text-color">
        <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
        No data available.
      </p>
      <div *ngIf="chart.loading == true" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p *ngIf="chart.loading == true" class="error-message main-gray-text-color">Loading ...</p>
    </div>
  </div>
</div>
