.details-container {
  padding: 0;
  margin: 8px 16px;

  .asset-pie-chart,
  .vibration-chart {
    margin-right: 16px;
  }

  &--bottom {
    margin-top: 24px;
  }

  .col,
  .col-5 {
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  }
}

.header-icon {
  float: left;
  cursor: pointer;
}

.chart-container {
  padding-top: 15px;
}

.main-filter-container {
  margin: 0 0 15px 13px;
}

.filter-header {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.date-container {
  .input-date {
    width: 150px;
    height: 36px;
    margin: 0;
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
    border: 1px solid #498aef;
    border-radius: 35px;

    &:hover {
      border-radius: 35px !important;
    }
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.op-dates {
  // width: 240px;
  // height: 34px;
  // margin: 0;
  // padding: 8px;
  // display: inline-block;
  // font-size: 14px;
  // box-shadow: none;
  // outline: 0;
  // // border: 1px solid #498aef;
  // border: 1px solid #9EB5D8;
  // background-color: #F7FAFF;
  // border-radius: 8px;

  // color: #181A1E;
  // font-family: FranklinGothic-Light;
  // font-size: 16px;
  // font-weight: 300;
  // line-height: 20px;

  width: 240px;
  height: 34px;
  /* margin: 0; */
  padding-left: 8px;
  /* vertical-align: middle; */
  /* border: 1px solid red; */
  /* display: inline-block; */
  font-size: 14px;
  box-shadow: none;
  outline: 0;
  border: 1px solid #9eb5d8;
  background-color: #f7faff;
  border-radius: 8px;
  color: #181a1e;
  font-family: FranklinGothic-Light;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.devider {
  position: absolute;
  height: 22px;
  top: 6px;
  right: 31px;
  border-left: 1px solid #4e8cec;
}

.calendar-btn {
  position: absolute;
  right: 4px;
  top: 2px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 0;

  .mat-icon {
    width: 20px;
    height: 20px;
    line-height: 12px;
    font-size: 22px;
  }
}

.custom-day {
  text-align: center;
  padding: 0.525rem 0.25rem;
  display: inline-block;
  height: 3rem;
  width: 3rem;

  &:focus {
    outline: none !important;
  }
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
}

.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.charts-filter-container {
  text-align: center;
}

.asset-pie-chart {
  .nvd3 text {
    font-size: 18px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3-svg .nv-legend-symbol {
    transform: translate(7px, 0);
  }

  .nvd3-svg .nv-legend-text {
    font-size: 18px;
    transform: translate(15px);
    transform: translate(0, 10px);
  }
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.vibration-switcher {
  position: absolute;
  right: 14px;
  top: 11px;

  label {
    height: 20px;
    width: 40px;
    border-radius: 16px;
    border: none;
    background-color: #222a36;
  }

  label.active {
    background-color: #4e8cec;
  }

  .switcher-label {
    color: #f7faff;
    font-family: FranklinGothic-Light;
    font-size: 14px;
    font-weight: 500;
    line-height: 11px;
    text-align: center;
  }
}

.error-bell-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.details-top-container {
  padding: 0;
  margin: 8px 16px 8px 16px;

  .asset-pie-chart,
  .vibration-container {
    margin-right: 16px;
  }

  .col,
  .col-5,
  .col-6,
  .metric-chart {
    min-height: 315px;
    // margin: 0px 10px 0px 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  }
}

.line-chart-container {
  position: relative;
}

.period-type-close {
  position: absolute;
  top: 4px;
  .mat-icon {
    height: 14px;
    width: 14px;
    font-size: 14px;
    color: #4e8cec;
  }
}

.chart-time-title {
  position: absolute;
  display: block;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 10px;
  text-transform: capitalize;
  color: #8d9cc2;
  font-size: 12px;
}

.chart-container .metric-chart:nth-child(odd) {
  margin: 8px 16px 8px 0;
  max-width: calc(100% - 16px);
}

.chart-container .metric-chart:nth-child(even) {
  margin: 8px 16px 8px 0;
  max-width: calc(100% - 16px);
}

// .chart-container {
//   /* margin: 0; */
//   width: calc(100% - 16px);
//   margin: 0 16px 50px 16px;
// }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
