<div class="upload-page">
  <!-- <toaster-container></toaster-container> -->
  <div class="asset-row">
    <div class="col-md-7 asset-box">
      <div>
        <app-asset-header *ngIf="!component || component.length === 0"></app-asset-header>
        <app-component-header

          *ngIf="component && component.length > 0 && details"
          [needAsset]="false"
          [details]="details"
        ></app-component-header>
      </div>
    </div>
    <div class="col">
      <p class="top-title" *ngIf="asset && asset.length > 0">
        Asset-{{ asset }}
        <span *ngIf="component && component.length > 0">{{ component }}</span>
      </p>
      <button (click)="goBack()" class="back-button">
        <img src="./assets/images/compliance/icons/chevron-left.svg" />
        <span class="main-text-color">Back</span>
      </button>
    </div>
  </div>
  <div class="asset-row">
    <div class="col-md-7 files-box svg-map-background svg-box-shadow">
      <div class="files-container">
        <p class="file-container-title">
          <img class="title-icon" src="./assets/images/doc-icon.svg" />
          <span class="title-text">Documents</span>
        </p>
        <div class="files-list" appDragDrop (onFileDropped)="handleFileInput($event)">
          <ng-container *ngFor="let file of fileList" >
            <div class="files-item" *ngIf="!isImage(file.file_name)">
              <span class="file-delete" (click)="deleteFile(file.file_name)"
                ><mat-icon>close</mat-icon></span
              >
              <p (click)="openFile(file.file_name)">
                <img src="./assets/images/file-icon.svg" />
              </p>
              <p (click)="openFile(file.file_name, file.file_content, file.file_type)"
                  class="file-name main-text-color">
                {{ file.file_name }}
              </p>
            </div>
          </ng-container>
        </div>
        <p class="file-container-footer">
          <img class="title-icon" src="./assets/images/drop-icon.svg" />
          <span class="title-text"
            >Drop files to attach, or <label class="file-link" for="file-docs">browse</label></span
          >
        </p>
        <input
          type="file"
          id="file-docs"
          class="visuallyhidden"
          (change)="handleFileInput($event.target.files)"
          accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf"
        />
      </div>
    </div>
    <div class="col-md-7 files-box svg-map-background svg-box-shadow">
      <div class="files-container">
        <p class="file-container-title">
          <img class="title-icon" src="./assets/images/image-icon.svg" />
          <span class="title-text">Images</span>
        </p>
        <div class="files-list" appDragDrop (onFileDropped)="handleFileInput($event)">
          <ng-container *ngFor="let file of fileList"> 
            <div class="files-item" *ngIf="isImage(file.file_name)">
              <span class="file-delete" (click)="deleteFile(file.file_name)"
                ><mat-icon>close</mat-icon></span
              >
              <p (click)="openImage(file.file_name)">
                <img src="./assets/images/file-image-icon.svg" />
              </p>
              <p (click)="openImage(file.file_name, file.file_content)" class="file-name main-text-color">
                {{ file.file_name }}
              </p>
            </div>
          </ng-container>
        </div>
        <p class="file-container-footer">
          <img class="title-icon" src="./assets/images/drop-icon.svg" />
          <span class="title-text"
            >Drop files to attach, or <label class="file-link" for="file-imgs">browse</label></span
          >
        </p>
        <input
          type="file"
          id="file-imgs"
          class="visuallyhidden"
          (change)="handleFileInput($event.target.files)"
          accept="image/*"
        />
      </div>
    </div>
  </div>
</div>
