:host {
  display: block;
}

.file-container-title {
  padding: 16px;
  font-size: 20px;
  color: #a8aeb9;
}

.asset-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.top-title {
  color: #a8aeb9;
  font-size: 20px;
}

.asset-box {
  border: 1px solid #253c46;
}

.asset-box,
.files-box {
  min-width: 823px;
}

.asset-grid-list {
  border-top: 0;
}

.files-list {
  display: flex;
  margin-bottom: 20px;
}

.files-item {
  text-align: center;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.file-delete {
  color: #498aef;
  position: absolute;
  top: 0;
  right: 0;
}

.files-list {
  display: flex;
  margin-bottom: 20px;
  min-height: 110px;
}

.title-icon {
  margin-right: 14px;
  display: inline-block;
  vertical-align: middle;
}

.title-text {
  vertical-align: middle;
}

.file-container-footer {
  position: absolute;
  bottom: 16px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  color: #f7faff;
  margin-bottom: 0;
}

.files-container {
  padding-bottom: 40px;
  position: relative;
  min-height: 170px;
}

.files-box {
  margin-bottom: 24px;
}

.upload-page {
  padding: 16px;
}

.file-link {
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.file-name {
  max-width: 90px;
  overflow: hidden;
}

.back-button {
  margin-top: 15px;
}

.info-tooltip {
  max-width: 100%;
  width: auto;
}

.drop-active {
  cursor: pointer;
  background-color: rgba(73, 138, 239, 0.23) !important;
  border: 2px dashed #498aef;
  border-radius: 6px;
  background-image: url(/assets/images/drop-icon.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  .files-item {
    opacity: 0;
  }
}
