<mat-card class="acknowledge-card acknoledge-container"> 
  <!-- <toaster-container></toaster-container> -->
  <mat-card-content>
    <p class="acknowledgement-page-header">
      Acknowledge
    </p>
    <p class="issue-text" translate [translateParams]="alarm">
      {{alarm.description}}
    </p>
    <p class="issue-text">
      Event type: PF-Serious
    </p>
    <mat-card class="wo-card-groups">
      <label id="wo-generated" class="wo-generated">Wo Generated?</label>
      <mat-radio-group
        aria-labelledby="wo-generated"
        class="example-radio-group"
        [(ngModel)]="acknowledge.woGenerated">
        <mat-radio-button 
          class="example-radio-button"
          color="primary"
          *ngFor="let booleanOption of booleanOptions"
          [value]="booleanOption"
          (change)="woGeneratedChange($event)">
          {{booleanOption}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline" class="wo-form-field">
        <mat-label>Work order</mat-label>
        <input matInput
          type="text"
          class="form-contol"
          id="wo"
          name="wo"
          [maxLength]="20"
          required
          [minlength]="4"
          [(ngModel)]="acknowledge.work_order"
          #wo="ngModel" />
      </mat-form-field>
      <mat-error *ngIf="(wo.invalid && (wo.dirty || wo.touched)) && wo.errors.required">
        Work order is required.
      </mat-error>
      <mat-error *ngIf="(wo.invalid && (wo.dirty || wo.touched)) && wo.errors.minlength">
        Work order must be at least 4 characters long.
      </mat-error>
    </mat-card>
    <mat-card class="dt-card-groups">
      <label id="downtime-schedule" class="downtime-schedule">Downtime Schedule?</label>
      <mat-radio-group aria-labelledby="downtime-schedule" class="example-radio-group"
        [(ngModel)]="acknowledge.downTime">
        <mat-radio-button class="example-radio-button" color="primary" *ngFor="let booleanOption of booleanOptions"
          [value]="booleanOption">
          {{booleanOption}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field appearance="outline" class="example-full-width downtime-form-field">
        <mat-label>Down time *</mat-label>
        <input
          matInput
          [matDatepicker]="downtimeSchedule"
          [value]="startD"
          (dateChange)="changeDowntimeSchedule('change', $event)"
          class="input-date content-background main-text-color"
          [readonly]="true" >
        <mat-datepicker-toggle matSuffix [for]="downtimeSchedule"></mat-datepicker-toggle>
        <mat-datepicker #downtimeSchedule></mat-datepicker>
      </mat-form-field>

      <div>
        <ngb-timepicker class="ngb-timepicker" [(ngModel)]="acknowledge.time" [ngModelOptions]="{standalone: true}"
          required>
        </ngb-timepicker>
      </div>
    </mat-card>
    <div class="wo-lead-container">
      <mat-form-field appearance="outline" class="wo-lead-form-field">
        <mat-label>Work order Lead</mat-label>
        <input matInput
          type="text"
          class="form-contol"
          id="wo-lead"
          name="woLead"
          [(ngModel)]="acknowledge.work_order_lead"
          #woLead="ngModel"
          required
          [minlength]="4"
          [maxLength]="20" />
      </mat-form-field>
      <mat-error class="wo-lead-error" *ngIf="(woLead.invalid && (woLead.dirty || woLead.touched)) && woLead.errors.required">
        Work order lead is required.
      </mat-error>
      <mat-error class="wo-lead-error" *ngIf="(woLead.invalid && (woLead.dirty || woLead.touched)) && woLead.errors.minlength">
        Work order lead must be at least 4 characters long.
      </mat-error>
    </div>

    <div *ngIf="!isFormValid" class="error-container">
      Please fill all required fields '*'.
    </div>

    <div class="buttons-container">
      <button mat-button (click)="back()" class="back-btn">
        Back
      </button>
      <button
        mat-raised-button
        (click)="save()"
        class="action-btn"
        [disabled]="wo.invalid || woLead.invalid">
        Acknowledge
      </button>
    </div>
  </mat-card-content>
</mat-card>
