.acknowledge-card {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: #2b3647;
  color: white;
}

.acknowledge-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.issue-text {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.acknowledge-container {
  .mat-form-field {
    width: 40%;
    margin-right: 30px;
  }
}

.wo-card-groups,
.dt-card-groups {
  height: 160px;
  margin-bottom: 10px;
}

.wo-form-field,
.downtime-form-field {
  width: 200px;
  position: absolute;
  left: 20px;
  top: 73px;
}

.ngb-timepicker {
  display: inline-block;
  position: absolute;
  left: 270px;
  bottom: 21px;
}

.wo-lead-container {
  height: 90px;
  position: relative;
  padding-left: 20px;
  padding-top: 18px;
}

// .wo-lead-form-field {
//   width: 200px;
//   position: absolute;
//   left: 0;
// }

.wo-generated,
.downtime-schedule {
  width: 241px;
  font-size: 14px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.buttons-container {
  margin-top: 50px;
  text-align: right;
  padding-right: 14px;
}

.example-radio-group {
  // display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.action-btn {
  margin-left: 10px;
  color: white;
  background-color: #498aef;
  outline: none;
}

.error-container {
  margin-top: 75px;
  font-size: 14px;
  font-weight: 600;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
  color: #e65566;
}

.acknowledgement-container {
  position: relative;
}

.acknowledgement-page-header {
  width: 100%;
  color: #f7faff;
  font-size: 20px;
  position: absolute;
  padding: 16px 0 19px 30px;
  background: black;
}

.acknoledge-container {
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;

  table {
    color: white;
  }
}

.acknowledgements-header {
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.mat-card {
  background: #2b3647;
  color: white;
}
