<mat-accordion multi="true" class="region-accordion">
  <mat-expansion-panel
    #countriesExpansionPanel
    *ngFor="let country of countryList"
    [expanded]="country.openedByClick || country.isOpen"
    (opened)="setOpened(country, true)"
    (closed)="setOpened(country, false)"
    [attr.id]="country.id"
    class="side-menu-background"
    hideToggle
  >
    <mat-expansion-panel-header
      (click)="expandPanel(country, countriesExpansionPanel, $event)"
      [collapsedHeight]="'40px'"
      [expandedHeight]="'40px'"
    >
      <mat-panel-title
        [ngClass]="{ 'active-country': country.isActive, 'country-panel-title': true }"
      >
        <img class="accordion-icon" [src]="country.icon" />
        <img
          *ngIf="country.panelOpenState"
          class="expansion-indicator"
          src="./assets/images/compliance/icons/arrow-collapse.svg"
        />
        <img
          *ngIf="!country.panelOpenState"
          class="expansion-indicator"
          src="./assets/images/compliance/icons/arrow-expand.svg"
        />
        <span class="panel-label">{{ country.name }}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-regions [regions]="country.regions"></app-regions>
  </mat-expansion-panel>
</mat-accordion>
