@import '~styles/variables';

:host {
  display: block;
}

#map-container {
  width: 95%;
  height: 95%;
}

.map-box {
  min-height: 362px;
  transition: height 0.15s ease-out;
}

.nvd3-svg {
  margin-left: auto;
  margin-right: auto;
}

.show-modal-chart {
  position: absolute;
  top: 25px;
  right: 22%;

  mat-icon {
    font-size: 17px;
  }
}

.compliance-page-header {
  // padding-bottom: 9px;
  // padding-left: 8px;
  // padding-top: 14px;
  // font-size: 22px;
  // font-weight: 600;
  // margin-bottom: 50px;

  p {
    margin: 0;
  }
}

.compliance-page-header {
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
    margin-left: 0;
  }
}

.details-top-container {
  padding: 5px 5px 5px 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.error-asset-header {
  padding-bottom: 9px;
  padding: 35px 20px 5px 0;
  font-size: 16px;
  font-weight: 600;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;

  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
    padding: 22px 20px 5px 0;
    font-size: 17px;
  }
}

.error-asset-container {
  padding-bottom: 30px;
}

.info-card-box {
  margin: 0 20px 20px 0px;
  border-radius: 5px;
}

.facility-name-group {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.health-container {
  @import '~styles/variables';

  .dashboard-container {
    padding: 0;

    .health-stats-dashboard {
      padding-top: 20px;
      font-size: 22px;
      font-weight: 600;

      @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
        font-size: 28px;
      }

      .dashboard-region-header {
        font-size: 20px;
        font-weight: 600;
        display: inline-block;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          font-size: 22px;
        }
      }
    }
  }

  .main-cards-container {
    padding: 0 0 20px 0;
    // display: block;
  }

  .info-card-box {
    width: 100%;
    display: inline-block;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    padding-bottom: 10px;
  }

  .info-card-box-odd {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  .main-asset {
    width: 90%;
    height: 90%;
  }
}
