<div class="compliance-page-header main-text-color">
  <p>
    <!-- <span translate>ASSET_COMPLIANCE</span> -->
    <app-fav-button [status]="isFavorite" [url]="href" [title]="countryLabel"></app-fav-button>
    <!-- <span class="star"><mat-icon>star_border</mat-icon></span> -->
    {{ countryLabel }}
  </p>
</div>
<div class="main-container content-background">
  <!-- <toaster-container></toaster-container> -->

  <div class="row map-box details-top-container svg-map-background svg-box-shadow">
    <div
      #mapContainer
      id="map-container"
      class="row main-cards-container justify-content-center no-margin asset-map"
    ></div>
    <mat-grid-list cols="5" rowHeight="100px" class="region-legend">
      <mat-grid-tile *ngFor="let region of regions">
        <span class="legend-color" [style.background]="region.color">&nbsp;</span>
        <p class="legend-text">{{ region.name }}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="country-health health-container" *ngIf="showCountryHealth">
    <div class="dashboard-container">
      <div class="health-stats-dashboard main-text-color">
        <p class="dashboard-region-header">{{ countryHealthTitle }}</p>
      </div>
      <div class="row main-cards-container">
        <div class="col-12 col-xl-6">
          <div class="info-card-box svg-map-background svg-box-shadow">
            <app-health-details [healthInfo]="countryHealthInfo"></app-health-details>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-health-dashboard [items]="regionList"></app-health-dashboard>
</div>
