<!--<mat-card>-->
<!--<mat-card-header>-->
<div [class]="theme">
  <h4 mat-dialog-title class="dialog-title">
    <span translate>SETTINGS</span>
    <img (click)="onNoClick()" class="dialog-close" src="./assets/images/close-dialog-icon.svg" />
  </h4>
  <div class="themed-dialog">
    <div class="dialog-content" mat-dialog-content>
      <div>
        <div class="row settings-container settings-row">
          <!--<mat-form-field>-->
          <label class="form-label col" for="language">Language</label>

          <div class="col-4">
            <mat-select
              matInput
              id="language"
              [(value)]="currentLanguage"
              placeholder="Language"
              (selectionChange)="switchLanguage($event.value)"
            >
              <mat-option *ngFor="let key of languageKeys" [value]="key">
                {{ languages[key] }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="row settings-container settings-row">
          <!--<mat-form-field>-->
          <label class="form-label col" for="language">Time Zone</label>

          <div class="col-4">
            <mat-select
              matInput
              id="timezone"
              [(value)]="currentTimezone"
              placeholder="Time Zone"
              (selectionChange)="switchTimezone($event.value)"
            >
              <mat-option *ngFor="let key of timezoneKeys" [value]="key">
                {{ timezones[key] }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <!-- <div class="row settings-container settings-row">
          
          <label class="form-label col" for="theme">Theme</label>

          <div class="col-4">
            <mat-select
              matInput
              id="theme"
              [(value)]="theme"
              placeholder="Theme"
              (selectionChange)="changeTheme($event.value)"
            >
              <mat-option value="theme-dark">
                Dark Theme
              </mat-option>
              <mat-option value="theme-light">
                Light Theme
              </mat-option>
            </mat-select>
          </div>
        </div> -->
      </div>

      <!-- <div class="buttons-container">
            <button mat-button (click)="onNoClick()" class="border-button">
              Cancel
            </button>
            <button mat-raised-button type="submit" class="colored-button">
              Send Request
            </button>
          </div> -->
    </div>
  </div>
</div>
