.theme-dark .mat-dialog-content {
  background: #2b3747;
}
.theme-light .mat-dialog-content {
  background: #fff;
}

.theme-light .dialog-title {
  color: #425778;
  background-color: #dfecff;
  border-bottom: 2px solid #9eb5d8;
}

.theme-dark .dialog-title {
  color: #a8aeb9;
  background-color: #191a1e;
  border-bottom: 2px solid #425778;
}

.user-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    background: #181a1e;
    padding: 5px;
    min-width: 100%;
  }

  .sort-btn {
    padding: 0 24px 0 8px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
    border: none;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    line-height: 20px;
  }

  .dropdown-btn {
    padding: 8px 20px 8px 30px;
    display: inline-block;
    box-shadow: none;
    outline: 0;
    margin-bottom: 2px;
    font-size: 13px;
    box-shadow: none;
    font-weight: normal;
    font-family: FranklinGothic-Light;
    text-transform: capitalize;
  }
}

.flag {
  width: 25px;
  height: 20px;
}

.mat-dialog-container .chart-dialog .chart-title {
  color: #fff;
}

.mat-dialog-content {
  padding: 24px;
  margin: 0;
}

.dropdown-toggle:after {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: auto;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  color: #3b7dff;
  position: absolute;
  right: 5px;
  top: -4px;
  bottom: 0;
  height: 8px;
  width: 8px;
}

.dropdown {
  position: static;
}

.dropdown-btn {
  position: relative;
}

.dropdown-btn:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  position: absolute;
  left: 13px;
  top: 13px;
}

/* animation keyframes */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.task-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
}
.fx-spacer {
  flex: 1 1 auto;
}

.mat-dialog-title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 20px;
  font-family: FranklinGothic-Medium;
}

.mat-dialog-content {
  padding: 16px 20px 24px 20px;
  margin: 0;
}

input,
mat-select {
  height: 32px;
  line-height: 32px;
  border: 1px solid #4d8cef;
  border-radius: 8px;
  background-color: #f7faff;
  padding-left: 8px;
  width: 100%;
}

.form-label {
  font-size: 16px;
  font-family: FranklinGothic-Book;
  font-weight: normal;
  display: block;
}

.mat-select .mat-select-value,
.mat-select .mat-select-placeholder {
  font-size: 13px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #425778;
  padding-top: 24px;
  button {
    margin: 10px;
  }
}

mat-button-toggle-group {
  border-radius: 16px;
  display: flex;
  background-color: #222a36;
  mat-button-toggle {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 16px;
    border-bottom: none;
    min-width: 90px;
    height: 30px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 1;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: #f7faff;
    label {
      display: inline-block;
      margin-bottom: 0;
    }
  }
  .mat-button-toggle-checked {
    background: transparent;
  }
  .mat-button-toggle-checked.active {
    background: #007bff;
  }
}

mat-button-toggle.active {
  background: #007bff;
}

input#part_costs:after {
  content: '$';
  font-size: 13px;
  color: #fff;
  //position: absolute;
  //left: 0;
  //top: 0;
  //width: 10px;
  //height: 10px;
}

.mat-select-arrow {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: -6px 8px 0 8px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
}

mat-dialog-container {
  background-color: #2b3647;
}

.mat-form-field {
  width: 100%;
}

.chart-container {
  background-color: #2b3646;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.row {
  margin-bottom: 16px;
}

.margin-right {
  margin-right: 10px;
}

input {
  width: 100%;
}

.half-select {
  padding-left: 0;
}

.border-button,
.colored-button {
  border-radius: 12px;
  color: #f7faff;
  padding: 0 23px;
  height: 32px;
  line-height: 32px;
  background-color: transparent;
}

.border-button {
  border: 1px solid #0064ff;
}

.colored-button {
  background-color: #0064ff;
  font-weight: bold;
}

.mat-button-toggle-label {
  margin-bottom: 0px;
}

.mat-select-trigger {
  margin-top: -1px;
}

.mat-select-arrow-wrapper {
  border-left: 1px solid #007bff;
}

.mat-select-arrow {
  color: #007bff;
}

.small,
small {
  font-size: 13px;
  font-weight: 400;
}

.settings-container:after {
  width: 100%;
  height: 2px;
  background: #425778;
  margin: 27px 15px;
}

.settings-container:last-child:after {
  margin-bottom: 0;
}
