<nav class="nav-bar">
  <ul>
    <li class="logo">
      <img (click)="goToHome()" [src]="logo" class="mhs-logo" />
    </li>
    <li (click)="toggleEventLog()" class="bell-box user-box-container cursor-pointer">
      <img src="./assets/images/notification.svg" />
      <span *ngIf="notificationCount && notificationCount > 0" class="count red tada">
        {{ notificationCount }}
      </span>
    </li>
    <li class="hover-button user-box-container header-menu">
      <div class="dropdown user-container main-text-color">
        <button
          class="btn btn-secondary main-menu-btn dropdown-toggle sort-btn main-background main-text-color cursor-pointer"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <mat-icon
            class="user-avatar main-text-color border-main-text-color"
            svgIcon="user-icon"
          ></mat-icon>
          <span>{{ user }}</span>
        </button>
        <div
          class="dropdown-menu user-menu content-background input-field-border-color input-field-box-shadow"
          aria-labelledby="dropdownMenu2"
        >
          <button
            (click)="showSettingsDialog()"
            class="dropdown-item dropdown-btn content-background main-text-color"
            translate
          >
            Settings
          </button>
          <!-- HIDE THEME [hidden]="true" -->
          <!-- <button
            (click)="changeTheme()"
            class="dropdown-item dropdown-btn content-background main-text-color"
            translate
          >
            {{ theme }}
          </button> -->
          <button
            (click)="logout()"
            class="dropdown-item dropdown-btn content-background main-text-color"
            type="button"
            translate
          >
            LOGOUT
          </button>
        </div>
      </div>
    </li>

    <li class="hover-button user-box-container">
      <div class="dropdown user-container main-text-color">
        <button
          class="btn btn-secondary dropdown-toggle sort-btn main-background main-text-color"
          type="button"
          id="companies-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ activeCustomerName }}
        </button>
        <div
          class="dropdown-menu content-background input-field-border-color input-field-box-shadow"
          aria-labelledby="companies-menu"
        >
          <button
            *ngFor="let customer of customerList"
            (click)="setCustomer(customer.id)"
            class="dropdown-item dropdown-btn content-background main-text-color"
          >
            {{ customer.name }}
          </button>
        </div>
      </div>
    </li>

    <li class="hover-button user-box-container" *ngIf="customerListAll && customerListAll.length > 0">
      <div class="dropdown user-container main-text-color">
        <button
          class="btn btn-secondary dropdown-toggle sort-btn main-background main-text-color"
          type="button"
          id="companies-menu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Actions
        </button>
        <div
          class="dropdown-menu content-background input-field-border-color input-field-box-shadow"
          aria-labelledby="companies-menu"
        >
          <button
            (click)="goToReporting()"
            *ngIf="customerListAll && customerListAll.length > 0"
            class="dropdown-item dropdown-btn content-background main-text-color"
            translate
          >
            Generate report
          </button>
        </div>
      </div>
    </li>
  </ul>
</nav>
