.nav-bar {
  color: black;
  font-family: FranklinGothic-Book;
  font-size: 18px;
  ul {
    width: 100%;
    height: 55px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;

    .logo {
      position: absolute;
      left: 0;
      top: 2px;
      justify-content: center;
      width: 120px;
      height: 57px;
      padding: 0;
      margin: 0;

      .mhs-logo {
        padding: 10px;
        height: 100%;
        max-width: 190px;
        object-fit: contain;
      }

      .back-btn {
        width: 25px;
        height: 25px;
        margin-top: 24px;
      }
    }

    li {
      display: inline-block;
      *display: inline;
      /*IE7*/
      *zoom: 1;
      /*IE7*/
      color: white;
      padding-right: 17px;
      padding-left: 10px;

      // a {
      //   color: black;
      // }

      &.active {
        font-weight: bold;
        border-bottom: 4px solid white;
      }

      .logout-bnt {
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: 11px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .site-dropdown {
      margin-left: auto;

      .mat-form-field-infix .mat-select-value {
        color: black;
      }
    }

    .search-bar {
      margin-left: auto;

      input {
        font-size: 18px;
        background: white;
        border: none;
        margin: 15px 10px;
        color: black;
        direction: RTL;

        &:focus {
          color: black;
          outline: none;
          background: white;
        }
      }

      img {
        padding-top: 5px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.active-site-name {
  font-size: 14px;
}

.user-avatar {
  height: 28px;
  width: 28px;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  margin-right: 8px;

  #Icon {
    width: 20px;
  }
}

.main-menu {
  float: right;
}

.user-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;

  .dropdown-menu {
    border: 0;
    border-radius: 0;
    background: #181a1e;
    padding: 5px;
    min-width: 100%;
  }

  .user-menu {
    min-width: 75%;
    left: auto;
    right: 11px;
  }

  .sort-btn {
    padding: 0 24px 0 8px;
    height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
    border: none;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    line-height: 20px;
  }

  .dropdown-btn {
    padding: 8px 20px 8px 30px;
    display: inline-block;
    box-shadow: none;
    outline: 0;
    margin-bottom: 2px;
    font-size: 13px;
    box-shadow: none;
    font-weight: normal;
    font-family: FranklinGothic-Light;
    text-transform: capitalize;
  }
}

.flag {
  width: 25px;
  height: 20px;
}

.dropdown-toggle:after {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: auto;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  color: #3b7dff;
  position: absolute;
  right: 5px;
  top: -4px;
  bottom: 0;
  height: 8px;
  width: 8px;
}

.dropdown {
  position: static;
}

.user-box-container {
  position: relative;
}

.header-menu {
  width: 243px;
  text-align: left;
}

.dropdown-btn {
  position: relative;
}

.dropdown-btn:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  position: absolute;
  left: 13px;
  top: 13px;
}

.main-menu-btn {
  background: transparent !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.count {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 2px;
  right: 17px;
  font-size: 10px;
  line-height: 17px;
  font-family: FranklinGothic-Medium;
  font-weight: 400;
  color: #fff;
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.bell-box:hover .count.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

.bell-box {
  overflow: auto;
  img {
    height: 35px;
  }
}

/* animation keyframes */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.nav-bar ul li.logo {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

span.logo-devider {
  color: transparent;
  width: 1px;
  height: 26px;
  border-right: 1px solid #aaa;
  margin-right: 10px;
  line-height: 30px;
}

span.logo-text {
  color: #eb2027;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
}
