.acknowledgements-btn {
  width: 222px;
  height: 36px;
  margin: 0;
  display: inline-block;
  font-size: 17px;
  box-shadow: none;
  outline: 0;
  border: 1px solid #498aef;
  border-radius: 35px;
  background: black;
  color: white;
}
