/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular2-toaster/toaster';
@import '~nvd3/build/nv.d3.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'styles/themes.scss';
@import 'styles/fonts.scss';
@import '~styles/variables';

body {
  margin: 0;
  font-family: FranklinGothic-Book, OpenSans;
}

.mat-expansion-panel-header {
  font-family: FranklinGothic-Medium, sans-serif;
  font-weight: 300;
}

.mat-expansion-panel-content {
  font-family: FranklinGothic-Medium, sans-serif;
}

.mat-checkbox-layout {
  font-weight: 300;
}

.d-flex {
  height: 100px;

  @include themify($themes) {
    background: themed('mainBackground');
  }
}

.info-tooltip {
  border-radius: 2px;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 2px 10px 0 rgba(193, 218, 234, 0.65);
  color: #fff;
  font-size: 14px;
  text-align: left;
}

.timeline-tooltip {
  font-size: 10px;
  padding: 5px;
}

.mat-table,
table.mat-table {
  font-family: FranklinGothic-Light, Roboto, sans-serif;
}

.mat-drawer-container[fullscreen] {
  top: 55px !important;
}

.login-page.mat-drawer-container[fullscreen] {
  top: 0px !important;
}

.mainBackground,
.main-background {
  @include themify($themes) {
    background: themed('mainBackground');
  }
}

.mat-raised-button.mat-primary {
  border-radius: 16px;

  @include themify($themes) {
    background-color: themed('mainBlueColor');
  }
}

.no-margin {
  margin: 0;
}

.priority-1 {
  color: #f1f1f1;
  -webkit-box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);
  box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);

  &:hover {
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:active {
    background: #660c03;
  }

  .info-card-divider {
    margin: 10px 10px 0 10px;
  }

  .my-button {
    background: linear-gradient(#ce2e10, #a01507);
    box-shadow: inset 0 1px 0px #660c03, 0 3px 0px #660c03;

    &:hover {
      box-shadow: inset 0 1px 0px #660c03;
    }
  }
}

.page-title {
  text-transform: capitalize;
}

.priority-2 {
  color: black;
  -webkit-box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);
  box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);

  &:hover {
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:active {
    background: #757702;
  }

  .info-card-divider {
    border-top: 1px solid #b0b200;
    margin: 10px 10px 0 10px;
  }

  .my-button {
    background: linear-gradient(#dddf00, #b0b200);
    box-shadow: inset 0 1px 0px #757702, 0 3px 0px #757702;

    &:hover {
      box-shadow: inset 0 1px 0px #757702;
    }
  }
}

.priority-3 {
  color: #f1f1f1;
  -webkit-box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);
  box-shadow: -4px 11px 53px -6px rgba(0, 0, 0, 0.57);

  &:hover {
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .info-card-divider {
    margin: 10px 10px 0 10px;
  }

  .my-button {
    background: linear-gradient(#28a745, #19682b);
    box-shadow: inset 0 1px 0px #19682b, 0 3px 0px #19682b;

    &:hover {
      box-shadow: inset 0 1px 0px #19682b;
    }
  }
}

.priority-3-blue {
  background: #00a5e3;
  color: #f1f1f1;

  &:hover {
    background: #056f97;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:active {
    background: #035473;
  }

  .info-card-divider {
    border-top: 1px solid #056f97;
    margin: 10px 10px 0 10px;
  }

  .my-button {
    background: linear-gradient(#00a5e3, #056f97);
    box-shadow: inset 0 1px 0px #035473, 0 3px 0px #035473;

    &:hover {
      box-shadow: inset 0 1px 0px #035473;
    }
  }
}

.priority-4 {
  background: #f1f1f1;
  color: #424242;

  &:hover {
    background: #a2a2a2;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &:active {
    background: #828282;
  }

  .info-card-divider {
    border-top: 1px solid #056f97;
    margin: 10px 10px 0 10px;
  }

  .my-button {
    background: linear-gradient(#00a5e3, #056f97);
    box-shadow: inset 0 1px 0px #035473, 0 3px 0px #035473;

    &:hover {
      box-shadow: inset 0 1px 0px #035473;
    }
  }
}

.component-health-container {
  .meter {
    @include themify($themes) {
      background: themed('svgMapBackgroud');
    }
  }
}

text {
  font-family: FranklinGothic-Light;
  font-size: 14px;
  fill: #4a4a4a;
}

.nvd3 g.nv-groups path.nv-point {
  display: block;
}

// .nvd3 g.nv-groups path.nv-line {
//   stroke-width: 3px;
//   fill: red;
// }

.nvd3 .nv-axis.nv-x path.domain,
.nvd3 .nv-axis.nv-y path.domain {
  stroke-opacity: 1;
  stroke-width: 1px;
  stroke: #9ba3af;
}

.nvd3 .nv-axis path {
  fill: #e4b447;
  stroke: #e4b447;
}

// .mat-tab-labels {
//   float: right;

//   mat-icon {
//     width: 45px;
//     height: 45px;
//   }

//   .list-icon {
//     width: 28px;
//     height: 28px;
//   }
// }

.nav-bar {
  @include themify($themes) {
    background-color: themed('headerBackground');
  }
}

.mat-tab-list {
  background-color: #424242;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: transparent;
  margin-top: 37px;
}

.mat-checkbox .mat-checkbox-frame {
  border-width: 1px;
  border-radius: 4px;

  @include themify($themes) {
    border-color: themed('mainBlueColor');
    background-color: themed('mainTextColor');
  }
}

.mat-checkbox .mat-checkbox-inner-container {
  height: 16px;
  width: 16px;
}

#sparePartsDialog {
  padding-bottom: 0px;
  max-width: 520px;
  margin: auto;

  .mat-select-trigger {
    margin-top: -1px;
  }

  .mat-select-arrow-wrapper {
    border-left: 1px solid #007bff;
  }

  .mat-select-arrow {
    color: #007bff;
  }
}

.pagination {
  .page-link,
  .page-item.disabled .page-link {
    color: #fff;
    background-color: transparent;
    border: 0;
    font-size: 13px;
  }
  .page-item.active .page-link {
    background-color: transparent;
    color: #0064ff;
  }
  .page-item:first-child .page-link,
  .page-item.disabled:first-child .page-link,
  .page-item:last-child .page-link {
    color: transparent;
    position: relative;
  }

  .page-item:first-child .page-link:before,
  .page-item.disabled:first-child .page-link:before,
  .page-item.disabled:last-child .page-link:before,
  .page-item:last-child .page-link:before {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: auto;
    border-style: solid;
    border-width: 0 1.5px 1.5px 0;
    content: '';
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    color: #3b7dff;
    position: absolute;
    height: 8px;
    width: 8px;
  }

  .page-item:first-child .page-link:before,
  .page-item.disabled:first-child .page-link:before {
    transform: rotate(135deg);
    right: 10px;
    top: -1px;
    bottom: 0;
  }

  .page-item.disabled:last-child .page-link:before,
  .page-item:last-child .page-link:before {
    transform: rotate(-45deg);
    right: 10px;
    top: -2px;
    bottom: 0;
  }

  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    z-index: 2;
    color: #3b7dff;
    background-color: transparent;
    border-color: transparent;
  }
}

// mat-sidenav-content.mat-drawer-content.mat-sidenav-content.reports-content::-webkit-scrollbar {
//   display: block;
// }
/* width */
mat-sidenav-content.mat-drawer-content.mat-sidenav-content.reports-content::-webkit-scrollbar {
  width: 16px;
}

/* Track */
mat-sidenav-content.mat-drawer-content.mat-sidenav-content.reports-content::-webkit-scrollbar-track {
  border-left: 1px solid #425778;
  border-right: 1px solid #425778;
}

/* Handle */
mat-sidenav-content.mat-drawer-content.mat-sidenav-content.reports-content::-webkit-scrollbar-thumb {
  background: #0064ff;
  border-radius: 10px;
}

/* Handle on hover */
mat-sidenav-content.mat-drawer-content.mat-sidenav-content.reports-content::-webkit-scrollbar-thumb:hover {
  background: #014dbe;
}

.filter-health {
  .mat-select-value,
  .mat-select-placeholder {
    font-size: 13px;
    font-family: FranklinGothic-Light;
  }
}

.confidence-level .mat-button-toggle-label-content {
  padding: 0;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.confidence-level .active .mat-button-toggle-label-content {
  font-family: FranklinGothic-Medium;
}

.group-button label {
  margin-bottom: 0;
}

.mat-tab-group.mat-primary {
  margin-top: 37px;

  .mat-tab-list {
    background-color: transparent;
    margin-right: 14px;
  }
}

.component-overview.mat-tab-group.mat-primary {
  margin-top: 0;
  margin-bottom: 65px;

  .mat-tab-list {
    background-color: transparent;
    margin-right: 14px;
  }
}

div.assettooltip {
  width: 170px;
  border-radius: 2px;
  position: absolute;
  padding: 10px;
  background-color: #333333;
  box-shadow: 0 2px 10px 0 rgba(193, 218, 234, 0.65);
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  pointer-events: none;
}

div.asset-region-tooltip {
  width: 170px;
  border-radius: 2px;
  position: absolute;
  padding: 10px;
  background-color: #333333;
  box-shadow: 0 2px 10px 0 rgba(193, 218, 234, 0.65);
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  pointer-events: none;
}

svg#svg2 {
  background-color: white;
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
  color: #a7adb3;
}

.btn-outline-primary {
  color: #a7adb3;
  border: 1px solid #a7adb3;
}

.cms-container {
  .mat-fab .mat-button-wrapper {
    padding: 8px 0;
    line-height: 10px;
  }
}

.mat-select-content {
  font-size: 12px;
}

.date-slider-label .mat-figure {
  font-size: 17px;
  color: #757575;
}

.start-date-value {
  .mat-figure {
    justify-content: left !important;
    padding-left: 16% !important;
  }
}

.end-date-value {
  .mat-figure {
    justify-content: right !important;
    padding-right: 16% !important;
  }
}

.mat-select-panel .mat-optgroup .mat-optgroup-label {
  font-size: 17px;
  font-weight: 700;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.nvtooltip.xy-tooltip {
  z-index: 3000;
}

.langing-chart-container .nvd3 g.nv-groups path.nv-line {
  stroke-width: 1px;
}

.langing-chart-container rect {
  fill: #3e3e3e;
}

.cms-container .mat-list .mat-list-item .mat-list-text {
  max-height: 50px;
}

// .nvd3 .nv-axis path {
//   fill: none;
//   stroke: black;
//   stroke-opacity: 0 !important;
//   shape-rendering: crispEdges;
// }

.oh-pie-chart-container {
  .nvd3 text {
    font-size: 30px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3.nv-legend {
    transform: translate(0, 20px);

    .nv-series:first-child {
      transform: translate(-50px, -25px);
    }

    .nv-series:nth-child(2) {
      transform: translate(-50px, 0px);
    }

    .nv-series:last-child {
      transform: translate(-50px, 25px);
    }
  }

  .nvd3-svg .nv-legend-symbol,
  .nvd3-svg .nv-legend-text {
    display: block;
    font-size: 14px;
  }
}

.details-sensor-container,
.nvd3-svg .nv-legend-text {
  .nvd3 text {
    font-size: 18px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3-svg .nv-legend-symbol {
    transform: translate(7px, 0);
  }

  .nvd3-svg .nv-legend-text {
    font-size: 14px;
    transform: translate(15px);

    @include themify($themes) {
      fill: themed('mainTextColor');
    }
  }
}

.region-container {
  .nvd3-svg .nv-legend-text {
    transform: translate(10px);
    font-size: 15px;
  }
}

.select-sensor-container,
.select-component-container,
.select-tag-container {
  @include themify($themes) {
    color: themed('inputFieldColor');
  }

  .mat-form-field-label {
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 14px;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 17px;
    }

    @include themify($themes) {
      color: themed('inputFieldColor');
    }
  }

  .mat-input-element {
    @include themify($themes) {
      color: themed('inputFieldColor');
    }
  }

  .search-form-field {
    border-radius: 17px;
    height: 34px;
    padding: 0;
    margin: 0;
    border: 1px solid;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      height: 44px;
      border-radius: 22px;
    }

    @include themify($themes) {
      border-color: themed('borderColor');
    }

    .mat-form-field-wrapper {
      height: 34px;
      padding: 0;

      .mat-form-field-flex {
        height: 34px;
        padding: 0;
        margin: 0;
        display: block;

        .mat-icon {
          font-size: 19px;
          margin-left: 7px;
          margin-top: 3px;

          @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
            margin-top: 10px;
            font-size: 22px;
          }
        }
      }

      .mat-form-field-infix {
        margin-top: -40px;
        height: 34px;
        margin-left: 32px;
        font-size: 15px;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          height: 44px;
          margin-top: -38px;
          margin-left: 40px;
          padding-top: 3px;
        }
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .select-component-form-field,
  .select-tag-form-field {
    width: 100%;

    .mat-form-field-label {
      height: 22px;
      text-align: center;

      mat-label {
        margin-top: 2px;
        display: inline-block;
      }
    }
  }

  .select-component-form-field,
  .select-tag-form-field,
  .select-sensor-form-field {
    border-radius: 17px;
    height: 34px;
    padding: 0;
    margin: 0;
    border: 1px solid #498aef;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      height: 44px;
      border-radius: 22px;
    }

    // @include themify($themes) {
    //   border-color: themed('borderColor');
    // }

    .mat-form-field-wrapper {
      height: 34px;
      display: inline-block;
      padding: 0;

      .mat-form-field-flex {
        height: 34px;
        padding: 0;
        margin: 0;
        display: block;

        .mat-icon {
          color: gray;
          font-size: 19px;
          margin-left: 10px;
          margin-top: 7px;

          @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
            margin-top: 10px;
            font-size: 22px;
          }
        }
      }

      .mat-form-field-infix {
        height: 34px;
        padding: 10px 20px 0px 20px;
        margin: 0;
        border: none;
        font-size: 15px;
        font-size: 14px;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          height: 44px;
          margin-top: -38px;
          margin-left: 40px;
          padding-top: 3px;
        }
      }

      .mat-form-field-underline {
        display: none;
      }
    }

    // .mat-form-field-label-wrapper {
    //   // top: -21px;
    //   // left: 14px;
    // }
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    margin-top: -60px;
  }

  // .mat-form-field-label-wrapper {
  //   @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation:landscape) {
  //     top: -22px;
  //     overflow: unset;
  //     left: 5px;
  //   }
  // }
}

.compare-chart-container {
  .select-sensor-container .select-sensor-form-field .mat-form-field-wrapper .mat-form-field-infix {
    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
      height: 37px;
      margin-top: 0;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0;
      font-size: 15px;
    }

    .content-background.main-text-color.mat-select {
      @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
        height: 37px;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        font-size: 17px;
      }
    }
  }

  .select-sensor-container
    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
      display: none;
    }
  }

  .select-sensor-container .select-sensor-form-field {
    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
      height: 39px;
    }
  }

  .select-sensor-container .select-sensor-form-field .mat-form-field-label-wrapper {
    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) {
      top: -26px;
    }
  }
}

.compare-chart-container {
  .card {
    border: none;
  }

  .nv-axis .tick line {
    stroke-opacity: 0.3;

    @include themify($themes) {
      stroke: themed('mainGrayTextColor');
    }
  }

  .card .card-header {
    display: none;
  }

  svg.nvd3-svg {
    @include themify($themes) {
      background: themed('svgMapBackgroud');
    }
  }

  .nvd3 .nv-axis .nv-axisMaxMin text {
    display: none !important;
  }

  .mat-form-field {
    font-size: 14px !important;
    padding: 0px;
  }
}

.compare-chart-container .mat-form-field {
  margin-top: 0;
}

.green-icon {
  fill: green;
  color: #19682b;
}

.pie-charts-container {
  margin-top: 30px;

  .pie-chart-container {
    // display: inline-block;
    // width: 25%;
    cursor: pointer;

    .nvd3.nv-pie .nv-pie-title {
      font-size: 45px !important;
    }

    .nvd3.nv-pie path {
      stroke-width: 0;
    }

    &:hover {
      @include themify($themes) {
        background: themed('filterColor');
      }
    }
  }
}

// .mat-sidenav {
//   z-index: 0 !important;
// }

// .mat-sidenav-container {
//   border-top: 1px solid #425778;
// }

.details-sidenav .search-toggle-btn,
.search-sidenav .search-toggle-btn {
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 6px;

  .mat-button-wrapper {
    padding: 0 !important;

    .mat-icon.material-icons {
      font-size: 21px;
      height: 28px;
      color: rgb(133, 142, 153);
    }
  }
}

.fav-list .mat-icon.material-icons {
  font-size: 19px;
  width: 19px;
  height: 19px;
  margin-right: 2px;
  margin-left: -5px;
}

// .search-box-container {
//   float: right;
//   margin-right: 207px !important;
//   margin-top: 15px !important;

//   @include themify($themes) {
//     color: themed('inputFieldColor');
//   }

//   .mat-form-field-label {
//     font-family: OpenSans;
//     font-size: 14px;

//     @include themify($themes) {
//       color: themed('inputFieldColor');
//     }
//   }

//   .mat-input-element {
//     @include themify($themes) {
//       color: themed('inputFieldColor');
//     }
//   }

//   .search-form-field {
//     border-radius: 17px;
//     height: 34px;
//     width: 250px;
//     padding: 0;
//     margin: 0;
//     border: 1px solid;

//     @include themify($themes) {
//       border-color: themed('borderColor');
//     }

//     .mat-form-field-wrapper {
//       height: 34px;
//       padding: 0;

//       .mat-form-field-flex {
//         height: 34px;
//         padding: 0;
//         margin: 0;
//         display: block;

//         .mat-icon {
//           color: gray;
//           font-size: 19px;
//           margin-left: 10px;
//           margin-top: 7px;
//         }
//       }

//       .mat-form-field-infix {
//         margin-top: -40px;
//         height: 34px;
//         margin-left: 32px;
//         font-size: 15px;
//       }

//       .mat-form-field-underline {
//         display: none;
//       }
//     }
//   }

//   .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//     margin-top: -60px;
//   }
// }

.user-box-container {
  float: right;
  // margin-right: 10px !important;
  // margin-top: 15px !important;
  color: gray;
  padding: 0 16px 0 24px;
  border-left: 1px solid #2e3d54;

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  .user-avatar {
    svg {
      width: 20px;

      .cls-1 {
        @include themify($themes) {
          fill: themed('mainTextColor');
        }
      }
    }
  }
}

.possibe-remedies .mat-list-item {
  .mat-list-item-content {
    padding: 0 !important;
  }
}

.nvd3.nv-pie .nv-pie-title {
  font-size: 12px !important;

  @include themify($themes) {
    fill: themed('mainGrayTextColor') !important;
  }
}

.assets-accordion,
.main-factories-accordion {
  .mat-expansion-panel-content.mat-expanded {
    color: #555454;

    @include themify($themes) {
      background: themed('sideMenuBackground');
    }
  }
}

.main-factories-accordion,
.main-region-accordion,
.region-accordion,
.assets-accordion {
  margin-top: 50px;
  box-shadow: none;

  @include themify($themes) {
    background: themed('sideMenuBackground');
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-expansion-panel {
    box-shadow: none;
    box-shadow: none !important;

    @include themify($themes) {
      background: themed('contentBackground');
    }

    .mat-expansion-panel-header {
      padding: 0;

      &:hover {
        background: transparent !important;
      }

      .mat-expansion-panel-header-description,
      .mat-expansion-panel-header-title {
        font-family: FranklinGothic-Light;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        transform: translate3d(0, 0, 0);
        border-bottom: 1px solid;

        @include themify($themes) {
          color: themed('mainTextColor');
          border-bottom-color: themed('menuItemBorderColor');
        }

        .accordion-icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .mat-expansion-panel-header:not([aria-disabled='true']) {
    cursor: default;
  }

  img.expansion-indicator {
    width: 24px;
    height: 24px;
  }

  .mat-expansion-panel-spacing {
    margin: 0;
  }
}

mat-sidenav,
mat-sidenav.md-locked-open,
mat-sidenav.md-closed.md-locked-open-add-active {
  width: 240px;
  max-width: 352px !important;
  min-width: 150px !important;
}

.main-factories-accordion,
.main-region-accordion,
.region-accordion {
  .mat-expansion-panel-header-description,
  .mat-expansion-panel-header-title,
  .sensor-link {
    font-size: 14px;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    transform: translate3d(0, 0, 0);
    padding-top: 4px;
    height: 24px;

    &:hover {
      @include themify($themes) {
        background-color: themed('menuItemBorderColor');
      }
    }

    .sensor-panel-label {
      height: 24px;
      display: inline-block;
      padding-left: 7px;
      vertical-align: middle;
      margin: 0;
      line-height: 21px;
    }
  }
}

.btn-group .btn + .btn {
  margin-left: 0;
}

.line-chart-container {
  .nvd3 text {
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 12px;

    @include themify($themes) {
      fill: themed('mainGrayTextColor');
    }
  }

  .nvd3 .nv-x.nv-axis .tick text {
    transform: translate(-10px) rotate(10deg);
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 10px;
  }

  .nv-focusWrap .nvd3 .nv-axis .tick text {
    transform: translate(1px, 5px);
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 10px;
  }
}

.details-sensor-container .nvd3-svg .nv-legend-text,
.asset-pie-chart .nvd3-svg .nv-legend-text {
  @include themify($themes) {
    fill: themed('mainTextColor');
  }
}

.info-card-box:hover {
  @include themify($themes) {
    box-shadow: themed('svgHoverBoxShadow');
  }
}

.sort-btn:hover {
  @include themify($themes) {
    background: themed('filterColor') !important;
  }
}

.filter-container label:hover {
  @include themify($themes) {
    background: themed('filterColor') !important;
  }
}

.sort-container .sort-btn:hover {
  @include themify($themes) {
    background: themed('filterColor') !important;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  font-size: 13px;

  @include themify($themes) {
    color: themed('mainTextColor');
  }

  content: '>';
}

// Theme switcher
.main-background {
  @include themify($themes) {
    background: themed('mainBackground');
  }
}

.content-background {
  @include themify($themes) {
    background: themed('contentBackground');
  }
}

.side-menu-background {
  @include themify($themes) {
    background: themed('sideMenuBackground');
  }
}

.main-text-color {
  @include themify($themes) {
    color: themed('mainTextColor');
  }
}

.border-main-text-color {
  @include themify($themes) {
    border-color: themed('mainTextColor') !important;
  }
}

.main-gray-text-color {
  @include themify($themes) {
    color: themed('mainGrayTextColor');
  }
}

.input-field-border-color {
  @include themify($themes) {
    border-color: themed('inputFieldBorderColor') !important;
  }
}

.input-field-box-shadow {
  @include themify($themes) {
    box-shadow: themed('inputFieldBoxShadow');
  }
}

.svg-map-background {
  @include themify($themes) {
    background: themed('svgMapBackgroud');
  }
}

.svg-box-shadow {
  @include themify($themes) {
    box-shadow: themed('svgBoxShadow');
  }
}

.filter-color {
  @include themify($themes) {
    background: themed('filterColor');
  }
}

.filter-border-color {
  @include themify($themes) {
    border-color: themed('filterColor') !important;
  }
}

.pie-chart-devider {
  @include themify($themes) {
    border-color: themed('pieChartDevider') !important;
  }
}

.alert-red:before,
.sensor-red:before,
.alarm-red:before,
.alarm-error:before,
.sensor-legend-red:before {
  @include themify($themes) {
    background-color: themed('mainRedColor');
    color: themed('mainRedColor');
    border-color: themed('mainRedColor');
  }
}

.alert-yellow:before,
.sensor-yellow:before,
.alarm-yellow:before,
.sensor-legend-orange:before {
  @include themify($themes) {
    background-color: themed('mainYellowColor');
    color: themed('mainYellowColor');
    border-color: themed('mainYellowColor');
  }
}

.alert-blue:before,
.sensor-legend-blue:before {
  @include themify($themes) {
    background-color: themed('mainBlueColor');
    color: themed('mainBlueColor');
  }
}

.sensor-legend-gray:before {
  @include themify($themes) {
    background-color: themed('mainGrayColor');
    color: themed('mainGrayColor');
  }
}

.sensor-green:before,
.alarm-done:before,
.alarm-green:before {
  @include themify($themes) {
    background-color: themed('mainGreenColor');
    color: themed('mainGreenColor');
  }
}

.alarm-red,
.alarm-error {
  @include themify($themes) {
    border-color: themed('mainRedColor');
  }
}

.alarm-yellow {
  @include themify($themes) {
    border-color: themed('mainYellowColor');
  }
}

.alarm-green,
.alarm-done {
  @include themify($themes) {
    border-color: themed('mainGreenColor');
  }
}

.issues-container .red-circle path {
  @include themify($themes) {
    background-color: themed('mainRedColor');
  }
}

.right-menu {
  padding-left: 16px;
  padding-top: 0;
}

.right-menu .assets-accordion .critical-icon {
  @include themify($themes) {
    color: themed('mainRedColor');
  }
}

.right-menu .assets-accordion .attention-icon {
  @include themify($themes) {
    color: themed('mainYellowColor');
  }
}

.right-menu .assets-accordion .normal-icon {
  @include themify($themes) {
    color: themed('mainGreenColor');
  }
}

.right-menu
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused,
.right-menu
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused,
.right-menu
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:not([aria-disabled='true']):hover,
.right-menu .mat-expansion-panel-header.mat-expanded:hover {
  @include themify($themes) {
    background: themed('sideMenuBackground');
  }
}

.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.facility-area {
  font-size: 18px;
}

.main-app-container {
  @include themify($themes) {
    border-top: 2px solid themed('headerDevider');
  }
}

.oh-pie-chart-container .nvd3.nv-pie path {
  fill-opacity: 1;
}

.date-slider-container .noUi-horizontal {
  height: 9px;

  .noUi-handle {
    width: 8px;
    height: 20px;
    left: -3px;
  }

  .noUi-tooltip {
    bottom: -125%;
    border: none;
    font-size: 14px;
    background: transparent;

    @include themify($themes) {
      color: themed('mainTextColor');
    }
  }

  .noUi-handle:after,
  .noUi-handle:before {
    display: none;
  }
}

.date-slider-container .noUi-target {
  border-radius: 14px;
  border: 1px solid #498aef;
}

.date-slider-container .noUi-connect {
  background: #498aef;
}

.date-slider-container .noUi-base {
  border-radius: 9px;

  @include themify($themes) {
    background: themed('contentBackground');
  }
}

.date-slider-container .noUi-horizontal .noUi-handle:focus {
  outline: none;
}

.progress-bar-container {
  .mat-progress-bar-buffer {
    @include themify($themes) {
      background: themed('contentBackground');
    }
  }

  .mat-progress-bar-fill::after {
    background-color: #498aef;
  }
}

#map-container tspan {
  @include themify($themes) {
    fill: themed('mainTextColor');
  }
}

.date-container .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.date-container .mat-form-field {
  height: 40px;
  padding-right: 20px;

  button:focus {
    outline: none;
  }

  .mat-form-field-wrapper {
    height: 40px;
  }
}

.date-container .mat-form-field-prefix,
.date-container .mat-form-field-suffix {
  position: absolute;
  right: 6px;
  top: 7px;
  padding: 0;
}

.date-container .mat-form-field-infix {
  width: 150px;
  padding: 0;
  border: none;
}

.lang-switcher .dropdown-toggle::after {
  display: none;
}

.mainTextColor,
.mat-cell,
.mat-footer-cell {
  text-align: left;
  @include themify($themes) {
    color: themed('mainTextColor');
    border: none;
  }
}

.asset-event-log {
  .mat-cell,
  .mat-header-cell {
    @include themify($themes) {
      border: none;
    }
  }
}

.event-log-box {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding-right: 10px;
  }
  td.mat-cell:last-child,
  td.mat-footer-cell:last-child,
  th.mat-header-cell:last-child {
    padding-right: 18px;
  }
}

.sparePartsBackground {
  @include themify($themes) {
    background: themed('sparePartsBackground');
  }
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 500;
}

.mat-select-arrow-wrapper .mat-select-arrow {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: -6px 8px 0 8px;
  border-style: solid;
  border-width: 0 1.5px 1.5px 0;
  content: '';
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
}

.mat-fab.mat-accent[disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-flat-button.mat-accent[disabled],
.mat-flat-button.mat-primary[disabled],
.mat-flat-button.mat-warn[disabled],
.mat-flat-button[disabled][disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled],
.mat-button.mat-accent[disabled],
.mat-button.mat-primary[disabled],
.mat-button.mat-warn[disabled],
.mat-button[disabled][disabled],
.mat-icon-button.mat-accent[disabled],
.mat-icon-button.mat-primary[disabled],
.mat-icon-button.mat-warn[disabled],
.mat-icon-button[disabled][disabled],
.mat-stroked-button.mat-accent[disabled],
.mat-stroked-button.mat-primary[disabled],
.mat-stroked-button.mat-warn[disabled],
.mat-stroked-button[disabled][disabled] {
  @include themify($themes) {
    color: themed('mainTextColor');
  }

  opacity: 0.7;
}

.red {
  @include themify($themes) {
    background-color: themed('mainRedColor');
  }
}

.yellow {
  @include themify($themes) {
    background-color: themed('mainYellowColor');
  }
}

.green {
  @include themify($themes) {
    background-color: themed('mainGreenColor');
  }
}

.chartBackground {
  @include themify($themes) {
    background-color: themed('chartBackground');
  }
}

.eventBackground {
  @include themify($themes) {
    background-color: themed('eventBackground');
  }
}

.mat-header {
  @include themify($themes) {
    color: themed('matHeaderColor');
  }
}

.dashed {
  stroke-dasharray: 5, 5;
}

.dotted {
  stroke-dasharray: 1, 1;
}

.stroke-width-two path.nv-line {
  stroke-width: 2px;
}

.theme-light .nvd3 .nv-brushBackground rect {
  opacity: 0.7;
}

.theme-dark .nvd3 .nv-brushBackground rect {
  opacity: 0.3;
}

.mat-expansion-indicator::after {
  @include themify($themes) {
    color: themed('mainIconColor');
  }
}

.stroke-width-one path.nv-line {
  stroke-width: 1px;
}

.stroke-width-zero path.nv-line {
  stroke-width: 0px;
}

.stroke-width-three path.nv-line {
  stroke-width: 3px;
}

.overlay-session {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: gray;
  opacity: 0.4;
}

.overlay {
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(192, 192, 192, 0.4);

  img {
    z-index: 9999;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 48%;
    left: 48%;
  }
}

.main-filter-container .mat-icon-button {
  // @include themify($themes) {
  //   color: themed('mainTextColor');
  // }
  color: #4e8cec;
  line-height: 31px;
}

::-webkit-scrollbar {
  // display: none;
  width: 0;
}

.details-sidenav {
  border-left: 2px solid #425778;
}

.example-container .mat-drawer-content,
.search-sidenav,
.details-sidenav {
  -ms-overflow-style: none;
  overflow: auto;

  @include themify($themes) {
    border-top-color: themed('headerDevider');
  }
}

.search-sidenav {
  @include themify($themes) {
    border-right: 2px solid themed('headerDevider');
  }
}

.dropdown-menu .dropdown-item:hover {
  @include themify($themes) {
    background-color: themed('filterHoverBackground');
  }
}

.pie-charts-container {
  .mat-grid-tile {
    padding-top: 0 !important;
  }

  .mat-grid-list {
    padding-bottom: 0 !important;
  }
}

a.dashboard:focus,
a.dashboard:hover {
  outline: none;
}

.sensor .mat-card-header-text {
  width: 100% !important;
  margin: 0 !important;
}

.active-sensor,
.active-asset,
.active-asset-group,
.active-country,
.active-component,
.active-region,
.active-facility {
  border-left: 2px solid #007aff !important;
  @include themify($themes) {
    background-color: themed('activeMenuItemBackground');
  }
  background-color: #181a1e;
}

.panel-label {
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  line-height: 21px;
  text-transform: capitalize;
}

.sensors-layout-btn,
.sensor-back-btn,
.mat-button {
  &:focus {
    outline: none;
  }
}

.mat-button-focus-overlay {
  display: none;
}

.search-box-container,
.select-sensor-container {
  @include themify($themes) {
    color: themed('inputFieldColor');
  }

  .mat-form-field-label-wrapper {
    top: -12px;
  }

  .mat-form-field-label {
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-size: 14px;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      font-size: 17px;
    }

    @include themify($themes) {
      color: themed('inputFieldColor');
    }
  }

  .mat-input-element {
    @include themify($themes) {
      color: themed('inputFieldColor');
    }
  }

  .search-form-field {
    border-radius: 17px;
    height: 34px;
    padding: 0;
    margin: 0;
    border: 1px solid;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      height: 44px;
      border-radius: 22px;
    }

    @include themify($themes) {
      border-color: themed('borderColor');
    }

    .mat-form-field-wrapper {
      height: 34px;
      padding: 0;

      .mat-form-field-flex {
        height: 34px;
        padding: 0;
        margin: 0;
        display: block;

        .mat-icon {
          font-size: 19px;
          margin-left: 7px;
          margin-top: 7px;
          color: #82858c;

          @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
            margin-top: 10px;
            font-size: 22px;
          }
        }
      }

      .mat-form-field-infix {
        margin-top: -40px;
        height: 34px;
        margin-left: 32px;
        font-size: 15px;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          height: 44px;
          margin-top: -38px;
          margin-left: 40px;
          padding-top: 3px;
        }
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }

  .select-sensor-form-field {
    border-radius: 17px;
    height: 34px;
    padding: 0;
    margin: 0;
    border: 1px solid #498aef;

    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      height: 44px;
      border-radius: 22px;
    }

    .mat-form-field-wrapper {
      height: 34px;
      display: inline-block;
      padding: 0;

      .mat-form-field-flex {
        height: 34px;
        padding: 0;
        margin: 0;
        display: block;

        .mat-icon {
          color: gray;
          font-size: 19px;
          margin-left: 10px;
          margin-top: 7px;

          @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
            margin-top: 10px;
            font-size: 22px;
          }
        }
      }

      .mat-form-field-infix {
        height: 34px;
        padding: 10px 20px 0px 20px;
        margin: 0;
        border: none;
        font-size: 15px;
        font-size: 14px;

        @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
          height: 44px;
          margin-top: -38px;
          margin-left: 40px;
          padding-top: 3px;
        }
      }

      .mat-form-field-underline {
        display: none;
      }
    }

    .mat-form-field-label-wrapper {
      top: -10px;
      left: 14px;
    }
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    margin-top: -60px;
  }

  .mat-form-field-label-wrapper {
    @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
      top: -22px;
      overflow: unset;
      left: 5px;
    }
  }
}

.filter-option {
  .mat-option-text {
    text-align: right;
  }

  .mat-pseudo-checkbox {
    display: none;
  }
}

.mat-select-arrow-wrapper .mat-select-arrow {
  @include themify($themes) {
    color: themed('mainBlueColor');
  }
}

.mat-select .mat-select-value,
.mat-select .mat-select-placeholder {
  font-size: 14px;

  @include themify($themes) {
    color: themed('mainTextColor');
  }
}

.mat-dialog-content {
  .mat-select .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-select .mat-select-placeholder {
    color: #181a1e7d;
  }
}

.compare-chart-container {
  .mat-select-value {
    @include themify($themes) {
      color: themed('mainTextColor');
    }
  }

  .select-sensor-container {
    .mat-form-field-label {
      margin-top: 2px;
    }
  }
}

.cdk-overlay-container .mat-datepicker-content {
  background-color: #f0f7ff;
  border-radius: 10px;
  color: #4c4c4c;
}

@media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
  .cdk-overlay-pane.mat-datepicker-popup {
    top: 50px !important;
    bottom: auto !important;
  }
}

.date-container {
  .input-date {
    opacity: 1 !important;
    -webkit-opacity: 1;

    @include themify($themes) {
      -webkit-text-fill-color: themed('mainTextColor');
    }
  }
}

.wo-card-groups,
.dt-card-groups {
  .mat-radio-label-content {
    font-size: 14px;
    color: #fff;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
  }
}

.acknowledge-card {
  .mat-form-field-label {
    color: #fff;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    border: 1px solid #fff;
    border-radius: 6px;
  }
}

.health-green {
  @include themify($themes) {
    color: themed('mainGreenColor');
  }
}

.health-yellow {
  @include themify($themes) {
    color: themed('mainYellowColor');
  }
}

.health-red {
  @include themify($themes) {
    color: themed('mainRedColor');
  }
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

button:focus {
  outline: none;
}

button.border-button,
.border-button {
  @include themify($themes) {
    border: 1px solid themed('darkerBlueColor');
  }
}

button.colored-button,
.colored-button {
  @include themify($themes) {
    background-color: themed('darkerBlueColor');
  }
}

button.border-button,
.border-button,
button.colored-button,
.colored-button {
  border-radius: 17px;

  @include themify($themes) {
    color: themed('mainTextColor');
  }

  padding: 0 23px;
  height: 32px;
  line-height: 32px;
  background-color: transparent;
}

div.mat-select-value {
  @include themify($themes) {
    color: themed('mainTextColor');
  }
}

.acknowledgements-tabs {
  .mat-tab-list {
    background: transparent;
  }

  .mat-tab-header {
    margin: 0;
  }

  .no-items-message {
    margin: 8px 0 5px 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
  }
}

.acknowledgement-back-btn {
  position: absolute !important;
  z-index: 777;
  right: 9px;
  top: 10px;
  color: white;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  // background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:before,
th[sortable].asc:before {
  content: '';
  display: block;
  // background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
  background-size: 22px;
  width: 22px;
  height: 22px;
  float: left;
  margin-left: -22px;
}

th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.ngb-dp-day.disabled {
  .custom-day {
    color: #8699aa !important;
    background-color: #eff1f3 !important;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
  }
}

.compliance-page-header {
  padding: 5px 30px 5px 30px;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 16px;

  @include themify($themes) {
    background: themed('mainBackground');
  }

  .star {
    margin-right: 3px;
    display: inline-block;
    vertical-align: sub;

    @include themify($themes) {
      color: themed('mainBlueColor');
    }
  }
}

// .date-container {
//   .mat-icon-button {
//     width: 35px;
//     height: 35px;
//     line-height: 35px;
//   }
// }

.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  @include themify($themes) {
    color: themed('mainTextColor');
  }
}

.optime-container {
  .mat-grid-tile {
    height: 230px;
    padding-top: 0 !important;
  }
}

.oh-pie-chart-container {
  .nvd3 text {
    font-size: 30px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3-svg .nv-legend-symbol,
  .nvd3-svg .nv-legend-text {
    display: block;
    font-size: 14px;
  }
}

:root {
  --info: #3b7dff;
}

ngb-datepicker {
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  display: inline-block;

  &-month-view {
    pointer-events: auto;
  }

  &.dropdown-menu {
    padding: 0;
  }
}

.ngb-dp {
  &-body {
    z-index: 1050;
  }

  &-header {
    border-bottom: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    padding-top: 0.25rem;
    background-color: #f8f9fa;
  }

  &-months {
    display: flex;
  }

  &-month {
    pointer-events: none;

    &-name {
      font-size: larger;
      height: 3rem !important;
      line-height: 3rem !important;
      text-align: center;
      background-color: #f8f9fa;
      color: #4c4c4c;
      font-family: FranklinGothic-Medium, OpenSans, sans-serif;
    }

    & + & {
      .ngb-dp-month-name,
      .ngb-dp-week {
        padding-left: 1rem;
      }
    }

    &:last-child .ngb-dp-week {
      padding-right: 0.25rem;
    }

    &:first-child .ngb-dp-week {
      padding-left: 0.25rem;
    }

    .ngb-dp-week:last-child {
      padding-bottom: 0.25rem;
    }
  }
}

ngb-datepicker-month-view {
  display: block;
}

.ngb-dp-week-number,
.ngb-dp-weekday {
  line-height: 3rem !important;
  text-align: center;
  font-style: italic;
}

.ngb-dp-weekday {
  color: #5bc0de;
}

.ngb-dp-week {
  border-radius: 0.25rem;
  display: -ms-flexbox;
  display: flex;
}

.ngb-dp-weekdays {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.ngb-dp-day,
.ngb-dp-week-number,
.ngb-dp-weekday {
  width: 3rem !important;
  height: 3rem !important;
  margin: 1px;
  color: #4c4c4c;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  outline: none;
}

.ngb-dp-day {
  cursor: pointer;
}

.ngb-dp-day.disabled,
.ngb-dp-day.hidden {
  cursor: default;
}

.date-range-container .dropdown-menu {
  border-radius: 5px;

  .picker-action-btn {
    height: 20px;
    padding: 0px 20px;
    margin: 10px 5px;
    display: inline-block;
    border: 1px solid #498aef;
    border-radius: 20px;
    background: white;
    color: #4c4c4c;
    font-size: 12px;
    box-shadow: none;
    outline: 0;
  }
}

.custom-day.focused {
  border: none !important;
  border-color: transparent !important;
  outline: none !important;
}

// .loading-message::after {
//   content: 'Loading…';
//   width: 100px;
//   height: 100px;
//   position: absolute;
//   display: block;
//   top: 48%;
//   left: 51%;
//   font-size: 20px;
//   transform: translate(-50%, -50%);
// }

.nv-axisMin-x,
.nv-axisMax-x {
  display: none;
}

.resize.w,
.resize.e {
  display: block !important;

  rect {
    visibility: visible !important;
    fill: #d7d6d6;
    stroke: #d7d6d6;
    stroke-width: 1px;
  }
}

.toast-close-button {
  position: absolute;
  top: 0;
  right: 10px;
}

.btn-outline-light:hover {
  background-color: #f89406;
}

#toast-container .toaster-icon {
  background-image: none !important;
}

#toast-container > div {
  opacity: 1;
}

.toast-info {
  background-color: #de8405;
}

.toaster-icon {
  position: absolute;
  left: 10px;
  top: auto;
}

.toast-message {
  font-size: 14px;
  .btn {
    font-size: 14px;
  }
}

.loading-gif {
  position: absolute;
  display: block;
  top: 48%;
  left: 51%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  z-index: 777;
}

.overlay-gif {
  position: fixed;
  z-index: 999;
  height: 5em;
  width: 5em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay-gif:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alarm-link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;

    @include themify($themes) {
      color: themed('mainTextColorHover');
    }
  }
}

.details-sensor-container.pie-chart-devider {
  .nvd3-svg {
    height: 200px;
    width: 450px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.mat-error {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.filter-container {
  .mat-button-toggle-label {
    margin-bottom: 0;
  }

  .mat-button-toggle-label-content {
    line-height: 23px;
    font-size: 12px;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
  }
}

.theme-dark .mat-button-toggle-checked {
  background-color: rgba(209, 196, 233, 0.3);
  opacity: 1;
}

.mat-tab-header {
  border-bottom: none;
}

.mat-tab-labels .mat-tab-label {
  height: 30px;
}

.theme-light .mat-tab-label-active {
  border-bottom: 1px solid #4c4c4c;
  background-color: rgba(209, 196, 233, 0.3);
}

.theme-light .mat-tab-label-content {
  color: #4c4c4c;
  font-size: 13px;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.theme-dark .mat-tab-label-active {
  border-bottom: 1px solid #ffffff;
  background-color: rgba(209, 196, 233, 0.3);
  opacity: 1;
}

.theme-dark .mat-tab-label-content {
  color: #ffffff;
  font-size: 13px;
  font-family: FranklinGothic-Light, OpenSans, sans-serif;
}

.chart-grid-list {
  .mat-card {
    width: 97%;
    padding: 0;
    text-align: center;
    box-shadow: none !important;

    .chart-header {
      padding: 0;
      margin: 0;
      font-size: 17px;
      font-weight: 600;
      font-family: FranklinGothic-Medium, OpenSans, sans-serif;
    }
  }

  .nvd3-svg {
    margin-left: auto;
    margin-right: auto;
  }
}

.content-panel {
  -webkit-box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
}

.information-icon {
  height: 12px;
  margin-top: 17px;
  margin-left: 4px;
  vertical-align: top;
}

.top-info-grid {
  // width: 97%;
  // padding: 0;
  // text-align: center;
  // box-shadow: none !important;

  .mat-list .mat-list-item {
    height: 30px;
    padding: 0;
    margin: 0;

    .mat-list-item-content {
      padding: 0;
    }
  }

  .tile-header {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    font-family: FranklinGothic-Medium, OpenSans, sans-serif;
  }
}

.mat-tab-labels .mat-tab-label {
  height: 26px;
}

.asset-page-container .mat-tab-labels,
.acknowledgements-page-container .mat-tab-labels {
  width: 165px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.facilities-page-container .mat-tab-labels {
  width: 270px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.facilities-page-container .mat-tab-group.mat-primary .mat-tab-list {
  @include themify($themes) {
    background: themed('tabHeaderBackground');
  }
  margin-right: 0;
}

.overal-health-header .mat-expansion-panel-header-title {
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  font-family: FranklinGothic-Book;
}

.back-button {
  z-index: 10;
  position: relative;
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  outline: 0;
  border: 1px solid #498aef;
  border-radius: 35px;
  height: 26px;
  color: #f7faff;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  background-color: transparent;

  img {
    height: 24px;
    width: 24px;
    margin-top: 0;
  }

  span {
    display: inline-block;
    margin-left: 12px;
    margin-right: 8px;
    font-size: 16px;
  }
}

.asset-page-container,
.facilities-page-container {
  .mat-tab-labels {
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;

    @include themify($themes) {
      background: themed('svgMapBackgroud');
    }

    .mat-tab-label {
      min-width: 82px;
    }

    .mat-tab-label-active,
    .mat-tab-label:not(.mat-tab-disabled):focus {
      @include themify($themes) {
        background: themed('mainIconColor');
      }

      border-radius: 16px;
      border-bottom: none;
    }
  }
}

.acknowledgements-page-container {
  .mat-tab-body-wrapper {
    border-top: 2px solid #425778;
  }

  .mat-tab-labels {
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    background: #2b3647;
    // @include themify($themes) {
    //   background: themed('svgMapBackgroud');
    // }

    .mat-tab-label {
      min-width: 90px;
      color: white;
    }

    .mat-tab-label-active,
    .mat-tab-label:not(.mat-tab-disabled):focus {
      background: #4e8cec;
      opacity: 1;
      color: white;
      // @include themify($themes) {
      //   background: themed('mainIconColor');
      // }
      border-radius: 16px;
      border-bottom: none;
    }
  }
}

.charts-filter-container,
.alarm-accordion {
  .mat-checkbox {
    margin-right: 20px;
  }

  .filter-label {
    height: 24px;
    width: 53px;
    font-size: 14px;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
    font-weight: 300;
    line-height: 24px;
    margin-right: 5px;
  }

  .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
  }

  .mat-checkbox.mat-accent {
    .mat-checkbox-frame {
      border: 1px solid;
      border-radius: 4px;

      @include themify($themes) {
        border-color: themed('mainIconColor');
      }
    }

    &.mat-checkbox-checked .mat-checkbox-background,
    &.mat-checkbox-indeterminate .mat-checkbox-background {
      background-color: white;
      border: 1px solid;
      border-radius: 4px;

      @include themify($themes) {
        border-color: themed('mainIconColor');
      }
    }

    .mat-checkbox-checkmark-path,
    &.mat-checkbox-indeterminate .mat-checkbox-mixedmark {
      @include themify($themes) {
        background-color: themed('mainIconColor') !important;
        stroke: themed('mainIconColor') !important;
      }
    }
  }
}

// .mat-checkbox-mixedmark {
//   background-color: #4e8cec;
// }

.mat-dialog-container {
  max-height: 410px;
}

.nvd3.nv-noData {
  fill: #8d9cc2;
}

.nv-axisMaxMin-y text {
  fill: #3b7dff;
}

.mat-dialog-container .chart-dialog .tick text {
  fill: #8d9cc2 !important;
}

.asset-pie-chart {
  .nvd3.nv-legend {
    transform: translate(0, 10%);
  }

  .nvd3-svg .nv-legend-symbol,
  .nvd3-svg .nv-legend-text {
    display: block;
    font-size: 14px;

    @include themify($themes) {
      fill: themed('mainTextColor');
    }
  }
}

.acknowledgements-page-container {
  .mat-tab-labels {
    width: 200px;
  }

  .mat-tab-header {
    width: 300px;
    @include themify($themes) {
      background-color: themed('tabHeaderBackground');
    }
    margin-left: auto;
    margin-right: auto;
  }
}

.asset-page-container {
  .mat-tab-header {
    position: absolute;
    width: 100%;
    top: 37px;
    @include themify($themes) {
      background-color: themed('tabHeaderBackground');
    }
  }
}

.asset-accordion {
  .mat-content {
    margin-left: 20px;
  }

  .mat-expansion-indicator {
    position: absolute;

    &::after {
      @include themify($themes) {
        color: themed('detailsBlueColor');
      }
    }
  }
}

// .asset-alarms-chart,
// .component-alarms-chart {
//   .nv-bar.positive {
//     rx: 10px;
//   }
// }

.header-icon {
  padding-top: 13px;
}

.chart-title {
  font-family: FranklinGothic-Book, sans-serif;
  display: inline-block;
  padding-top: 15px;
  color: #a8aeb9;
  font-size: 16px;
}

.panel-title {
  font-family: FranklinGothic-Book, sans-serif;
  display: inline-block;
  color: #a8aeb9;
  font-size: 16px;
}

.panel-info-icon {
  margin-top: 0;
}

.mat-dialog-container {
  @include themify($themes) {
    background: themed('dialogBackground');
  }
  padding: 0 !important;

  .chart-dialog {
    @include themify($themes) {
      background: themed('dialogBackground');
    }
    overflow: visible;
    max-width: 100%;

    .chart-title {
      color: white;
    }

    .tick text {
      fill: white;
    }

    text.nv-legend-text {
      font-size: 17px;
      fill: white;
    }
  }
}

.mat-dialog-content {
  // background-color: #333;
  @include themify($themes) {
    background: themed('dialogBackground');
  }
}

.dialog-title {
  @include themify($themes) {
    color: themed('dialogLabelColor');
    background-color: themed('dialogTitleBackground');
    border-bottom: 2px solid themed('dialogBorderColor');
  }
}

.sensors-container.mat-list {
  .mat-list-item .mat-list-item-content {
    padding: 0;
  }
}

.nv-axis .tick line {
  stroke-width: 1;
  stroke: #425778;
}

.nvd3.nv-pie path {
  stroke-width: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.acknowledge-card.acknoledge-container {
  .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
    border-color: #fff;
  }

  .mat-radio-button.mat-primary .mat-radio-inner-circle {
    background-color: #fff;
  }

  .mat-radio-outer-circle {
    border-color: #fff;
  }

  .mat-focused {
    color: #fff;
    border: none;
  }

  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
    .mat-form-field-outline-thick,
  .mat-form-field.mat-form-field-invalid .mat-form-field-label,
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #fff;
    border: none;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent;
  }

  .mat-form-field-invalid .mat-input-element,
  .mat-warn .mat-input-element {
    caret-color: #fff;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border: none;
  }

  .mat-icon-button svg {
    fill: #fff;
  }

  .action-btn {
    color: white;
    background-color: #498aef;
    outline: none;
  }

  .wo-lead-error {
    left: 20px;
    bottom: -10px;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    padding-top: 10px;
  }
}

.reports-filter-container {
  .mat-radio-outer-circle {
    border-color: #fff;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #fff;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #fff;
  }
}

.filter-options {
  .mat-checkbox-layout .mat-checkbox-label {
    color: #fff;
  }
}

.filter-container {
  .mat-expansion-panel-content {
    background-color: #222a36;
  }

  .mat-expansion-panel-body {
    margin-left: 12px;
    margin-right: 12px;
    padding: 15px 0;
    background-color: #19202b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .mat-grid-tile.filter-items .mat-figure {
    display: block;
    padding-left: 10%;
    border-right: 1px solid #425778;
    color: #f7faff;
    font-family: FranklinGothic-Medium;
    font-size: 14px;
    font-weight: 300;
  }

  .mat-grid-tile.filter-header-items .mat-figure {
    display: block;
    padding-left: 10%;
    border-bottom: 1px solid #425778;
    border-right: 1px solid #425778;
    color: #f7faff;
    font-family: FranklinGothic-Medium;
    font-size: 14px;
    font-weight: 300;
  }

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
  }
}

.alarm-description {
  .mat-grid-tile .mat-figure {
    color: #f7faff;
    font-size: 14px;
    align-items: start;
    padding-top: 10px;
    font-family: FranklinGothic-Light, Roboto, sans-serif;
  }
}

.period-type-group {
  position: absolute;
  right: 20px;
  top: 15px;
  line-height: 25px;
  font-size: 13px;
  display: flex;
  align-items: center;
  .mat-radio-container {
    display: none;
  }
  .mat-radio-label-content {
    @include themify($themes) {
      color: themed('mainTextColor');
    }
    font-weight: 100;
  }
  .mat-radio-checked {
    .mat-radio-label-content {
      @include themify($themes) {
        color: themed('mainBlueColor');
      }
    }
  }
  .mat-radio-disabled {
    .mat-radio-label-content {
      @include themify($themes) {
        color: themed('dialogLabelColor');
      }
    }
  }
  .mat-radio-button {
    padding-left: 15px;
  }
}

.form-label {
  @include themify($themes) {
    color: themed('dialogLabelColor');
  }
}
