<!-- <mat-card> -->
<div mat-dialog-content>
  <h3 class="main-text-color dialog-content">{{ data.message }}</h3>
  <div *ngIf="data.description">
    <mat-list>
      <mat-list-item *ngFor="let description of data.description">
        {{ description }}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="buttons-container">
    <button mat-button class="border-button" (click)="onNoClick()">
      Cancel
    </button>
    <button mat-raised-button [mat-dialog-close]="'confirm'" class="colored-button">
      Ok
    </button>
  </div>
</div>
