 .main-text-color {
   color: #f7faff;
 }

 .mat-dialog-content {
   padding: 40px;
 }

 .buttons-container {
   display: flex;
   justify-content: flex-end;
   button {
     margin: 10px;
   }
 }

 .dialog-content {
   padding: 24px 0;
 }

 .border-button,
 .colored-button {
   border-radius: 12px;
   color: #f7faff;
   padding: 0 23px;
   height: 32px;
   line-height: 32px;
   background-color: transparent;
 }

 .border-button {
   border: 1px solid #0064ff;
 }

 .colored-button {
   background-color: #0064ff;
   font-weight: bold;
 }

 .mat-dialog-content {
   background-color: #2b3647;
   padding: 16px 20px 24px 20px;
   margin: 0;
 }

 mat-dialog-container {
   background-color: #2b3647;
 }