<div mat-dialog-content class="chart-dialog line-chart-container">
  <p class="text">{{ data.text }}</p>
  <div mat-dialog-actions class="buttons-container">
    <button mat-button (click)="onNoClick()" class="border-button">
      Cancel
    </button>
    <button mat-raised-button [mat-dialog-close]="true" class="colored-button">
      Yes
    </button>
  </div>
</div>
