.mat-dialog-content {
  margin: 0;
}

.text {
  color: #8d9cc2;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
  white-space: pre-line;
}

.mat-dialog-content {
  padding: 24px;
  margin: 0;
}

mat-dialog-container {
  background-color: #2b3647;
}

.chart-container {
  background-color: #2b3646;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #425778;
  padding-top: 24px;
  button {
    margin: 10px;
  }
}

.mat-dialog-title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 20px;
  font-family: FranklinGothic-Medium;
}

.mat-dialog-content {
  padding: 16px 20px 24px 20px;
  margin: 0;
}

/* animation keyframes */
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.border-button,
.colored-button {
  border-radius: 12px;
  color: #f7faff;
  padding: 0 23px;
  height: 32px;
  line-height: 32px;
  background-color: transparent;
}

.border-button {
  border: 1px solid #0064ff;
}

.colored-button {
  background-color: #0064ff;
  font-weight: bold;
}
