:host {
  display: block;
}

.filter-header {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 30px;

  .asset-name {
    color: #a8aeb9;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }

  .criticality-info {
    color: #f7faff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  .additional-info {
    margin: 0;
    color: #f7faff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-family: FranklinGothic-Light, OpenSans, sans-serif;
  }
}

.asset-page-container {
  margin-bottom: 20px;

  .mat-tab-group.mat-primary {
    margin-top: 0;
  }
}

.asset-grid-list {
  margin-top: 100px;
}

.compliance-page-header {
  position: absolute;
  z-index: 2;
  top: 37px;
  background: transparent;
  // width: 100%;
}

.more-details-btn {
  box-shadow: none;
  outline: 0;
  background: transparent;
  color: #fafafa;
  display: inline-block;
  margin-top: 15px;
  height: 28px;
  font-family: FranklinGothic-Light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-left: 0px;
  padding-right: 6px;
  :hover {
    color: #0064ff;
  }

  .more-details-label {
    padding-top: 2px;
    padding-right: 10px;
    height: 32px;
    vertical-align: middle;
    display: inline-block;
  }

  img {
    margin-bottom: 3px;
    height: 20px;
  }
}

.btn-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: black;
  height: 60px;
  padding: 12px;
}

.asset-accordion {
  .asset-expansion-panel {
    border-radius: 7px;
  }
}

.details-top-container {
  padding: 0;
  margin: 8px 16px 8px 16px;

  .asset-pie-chart,
  .vibration-container {
    margin-right: 16px;
  }

  .col,
  .col-5,
  .col-6,
  .metric-chart {
    height: 315px;
    // margin: 0px 10px 0px 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  }
}

.chart-container .metric-chart:nth-child(odd) {
  margin: 8px 16px 8px 0;
  max-width: calc(100% - 16px);
}

.chart-container .metric-chart:nth-child(even) {
  margin: 8px 16px 8px 0;
  max-width: calc(100% - 16px);
}

.chart-container {
  /* margin: 0; */
  width: calc(100% - 16px);
  margin: 0 16px 50px 16px;
}

.overview-container {
  padding: 0;
  margin: 8px 16px 55px 16px;

  .asset-pie-chart,
  .vibration-container {
    margin-right: 16px;
  }

  .col,
  .col-5 {
    height: 300px;
    // margin: 0px 10px 0px 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  }
}

.charts-filter-container {
  text-align: center;

  .mat-checkbox {
    margin-right: 30px;
  }
}

.asset-pie-chart {
  .nvd3 text {
    font-size: 18px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3-svg .nv-legend-symbol {
    transform: translate(7px, 0);
  }

  .nvd3-svg .nv-legend-text {
    font-size: 18px;
    transform: translate(15px);
    transform: translate(0, 10px);
  }
}

.header-icon {
  float: left;
  cursor: pointer;
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.legend-container {
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  .legend {
    padding: 4px 0 4px 24px;
    font-size: 14px;
    font-weight: 300;

    &:nth-child(2) {
      border-left: 1px solid #425778;
      border-right: 1px solid #425778;
    }

    .marker {
      width: 12px;
      height: 12px;
      margin-left: 14px;
      margin-right: 32px;
      border-radius: 40px;
      display: inline-block;
    }
  }
}

.vibration-switcher {
  position: absolute;
  right: 14px;
  top: 11px;

  .vibration-оption {
    padding: 0;
  }

  label {
    height: 20px;
    width: 40px;
    border-radius: 16px;
    border: none;
    background-color: #222a36;
  }

  label.active {
    background-color: #4e8cec;
  }

  .switcher-label {
    color: #f7faff;
    font-family: FranklinGothic-Light;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    display: inline-block;
    height: 20px;
  }
}

.error-bell-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.error-text {
  font-family: FranklinGothic-Light;
  color: #767d8b;
  font-size: 16px;
  width: 100%;
}

.error-title {
  color: #70829e;
  font-size: 24px;
  text-align: center;
}

.period-type-group {
  padding-right: 15px;
}

.period-type-close {
  position: absolute;
  top: 4px;
  .mat-icon {
    height: 14px;
    width: 14px;
    font-size: 14px;
    color: #4e8cec;
  }
}

.chart-time-title {
  position: absolute;
  display: block;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  padding-top: 10px;
  text-transform: capitalize;
  color: #8d9cc2;
  font-size: 12px;
}
