<div class="compliance-page-header main-text-color">
  <app-fav-button
    [status]="isFavorite"
    [url]="href"
    [selectedIndex]="selectedIndex"
    [title]="asset"
  ></app-fav-button>
  <span class="page-title">{{ asset }}</span>
</div>
<mat-grid-list class="asset-grid-list" cols="8" rowHeight="350px">
  <mat-grid-tile [colspan]="2">
    <div class="filter-header main-text-color">
      <!-- <p class="asset-name">{{ asset }}</p> -->
      <p *ngIf="criticality" class="additional-info">Criticality level: {{ criticality }}</p>
      <p *ngFor="let info of nameplateInfo" class="additional-info">
        {{ info.label }}: {{ info.value }}
      </p>
      <p>
        <a class="more-details-btn svg-map-background" [routerLink]="['more-details']">
          <span class="more-details-label">More Details</span>
          <img src="./assets/images/details-icon.svg" />
        </a>
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6">
    <app-asset-header></app-asset-header>
  </mat-grid-tile>
  
</mat-grid-list>
<div *ngIf="componentIds.length == 0">
  <div class="layout-error-container main-text-color">
    <p class="error-title">There are no monitored components belonging to this Asset</p>
  </div>
</div>
<div class="asset-page-container">
  <mat-tab-group
    mat-stretch-tabs
    [selectedIndex]="selectedIndex"
    (selectedIndexChange)="changeActiveTab($event)"
  >
    <mat-tab class="svg-map-background" label="Overview">
      <div class="overview-container">
        <mat-accordion [multi]="true" class="asset-accordion">
          <mat-expansion-panel
            [expanded]="true"
            class="asset-expansion-panel svg-map-background svg-box-shadow"
          >
            <mat-expansion-panel-header>
              <mat-panel-title class="mat-header">
                <span class="panel-title main-gray-text-color">Events in Last 24 Hours</span>
                <img
                  class="panel-info-icon information-icon"
                  src="./assets/images/compliance/icons/information-small.svg"
                  matTooltip="List of events detected by analytics."
                  matTooltipPosition="after"
                  matTooltipClass="info-tooltip"
                />
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="assetAlarms && assetAlarms.data.length > 0">
              <app-asset-event-log [assetAlarms]="assetAlarms.data"></app-asset-event-log>
            </div>
            <div *ngIf="assetAlarms && assetAlarms.data.length == 0" class="error-container">
              <p *ngIf="assetAlarms.loading == false" class="error-message main-gray-text-color">
                <img
                  class="error-bell-icon"
                  src="./assets/images/compliance/icons/error-bell.svg"
                />
                No events detected in this time interval
              </p>

              <div *ngIf="assetAlarms.loading == true" class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <p *ngIf="assetAlarms.loading == true" class="error-message main-gray-text-color">
                Loading ...
              </p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel
            [expanded]="true"
            class="asset-expansion-panel svg-map-background svg-box-shadow"
          >
            <mat-expansion-panel-header>
              <mat-panel-title class="mat-header">
                <span class="panel-title main-gray-text-color">Events by date</span>
                <img
                  class="panel-info-icon information-icon"
                  matTooltip="Count of unique analytic events per day."
                  matTooltipPosition="after"
                  matTooltipClass="info-tooltip"
                  src="./assets/images/compliance/icons/information-small.svg"
                />
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              *ngIf="alarmDateCount && alarmDateCount.data && alarmDateCount.data.length > 0"
              class="line-chart-container asset-alarms-chart"
            >
              <nvd3
                #alarmDateCountChart
                [options]="alarmDateCount.options"
                [data]="alarmDateCount.data"
              ></nvd3>
            </div>
            <div
              *ngIf="alarmDateCount && alarmDateCount.data && alarmDateCount.data.length == 0"
              class="error-container"
            >
              <p *ngIf="alarmDateCount.loading == false" class="error-message main-gray-text-color">
                <img
                  class="error-bell-icon"
                  src="./assets/images/compliance/icons/error-bell.svg"
                />
                No events detected in this time interval
              </p>
              <div *ngIf="alarmDateCount.loading == true" class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
              <p *ngIf="alarmDateCount.loading == true" class="error-message main-gray-text-color">
                Loading ...
              </p>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel
            [expanded]="true"
            class="asset-expansion-panel svg-map-background svg-box-shadow"
          >
            <mat-expansion-panel-header>
              <mat-panel-title class="mat-header">
                <span class="panel-title main-gray-text-color">Asset Runtime</span>
                <img
                  class="panel-info-icon information-icon"
                  matTooltip="Percent of time this asset has been actively running."
                  matTooltipPosition="after"
                  matTooltipClass="info-tooltip"
                  src="./assets/images/compliance/icons/information-small.svg"
                />
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-asset-runtime *ngIf="transitions.length > 0" [transitions]="transitions" [runtimeStats]='runtimeStats'></app-asset-runtime>
            <div *ngIf="transitions.length == 0" class="error-container">
              <div class="error-message main-gray-text-color">
                No data available.
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab class="svg-map-background" label="Analyze">
      <app-date-range (dateRangeChange)="onDateRangeChange($event)"></app-date-range>

      <div class="row details-top-container">
        <div class="col-5 svg-map-background asset-pie-chart">
          <img
            (click)="showChartDialog('alarmsByType')"
            class="header-icon"
            src="./assets/images/compliance/icons/enlarge.svg"
          />
          <span class="chart-title main-gray-text-color">Events by Type</span>
          <img
            class="information-icon"
            matTooltip="Percentage of analytic events by type."
            matTooltipPosition="after"
            matTooltipClass="info-tooltip"
            src="./assets/images/compliance/icons/information-small.svg"
          />
          <div *ngIf="donutChart && donutChart.data.length > 0">
            <nvd3
              #alarmsByTypePieChart
              [options]="donutChart.d3Options"
              [data]="donutChart.data"
            ></nvd3>
          </div>
          <div *ngIf="donutChart && donutChart.data.length == 0" class="error-container">
            <p *ngIf="donutChart.loading == false" class="error-message main-gray-text-color">
              <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
              {{ donutChart.errorMessage }}
            </p>
            <div *ngIf="donutChart.loading == true" class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <p *ngIf="donutChart.loading == true" class="error-message main-gray-text-color">
              Loading ...
            </p>
          </div>
        </div>
        <div class="col svg-map-background">
          <div class="line-chart-container asset-alarms-chart">
            <img
              (click)="showChartDialog('alarmsByDate')"
              class="header-icon"
              src="./assets/images/compliance/icons/enlarge.svg"
            />
            <span class="chart-title main-gray-text-color">Events by date</span>
            <img
              class="information-icon"
              matTooltip="Count of unique analytic events per day."
              matTooltipPosition="after"
              matTooltipClass="info-tooltip"
              src="./assets/images/compliance/icons/information-small.svg"
            />
            <div *ngIf="alarmDateCounts && alarmDateCounts.data.length > 0">
              <nvd3
                #alarmsByDateChart
                [options]="alarmDateCounts.options"
                [data]="alarmDateCounts.data"
              ></nvd3>
            </div>
          </div>
          <div *ngIf="alarmDateCounts && alarmDateCounts.data.length == 0" class="error-container">
            <p *ngIf="alarmDateCounts.loading == false" class="error-message main-gray-text-color">
              <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
              {{ alarmDateCounts.errorMessage }}
            </p>
            <div *ngIf="alarmDateCounts.loading == true" class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <p *ngIf="alarmDateCounts.loading == true" class="error-message main-gray-text-color">
              Loading ...
            </p>
          </div>
        </div>
      </div>
      <div class="charts-filter-container main-gray-text-color">
        <mat-checkbox
          *ngFor="let component of components"
          [(ngModel)]="component.checked"
          (change)="changeComponent($event)"
        >
          <span class="filter-label main-gray-text-color">{{ component.label }}</span>
          <div [style.background-color]="component.color" class="circle"></div>
        </mat-checkbox>
      </div>
      <div class="row details-top-container chart-container details-container--bottom"> 
        <div class="col-12 metric-chart svg-map-background" *ngFor="let chart of genericChartDataList">
          <div class="line-chart-container">
            <img
              (click)="showChartDialog('generic', chart.metricName)"
              class="header-icon"
              src="./assets/images/compliance/icons/enlarge.svg"
            />
            <span class="chart-title main-gray-text-color">{{ chart.title }}</span>
            <img
              class="information-icon"
              [matTooltip]="'Measurements for the ' + chart.title + ' of a monitored asset.'"
              matTooltipPosition="after"
              matTooltipClass="info-tooltip"
              src="./assets/images/compliance/icons/information-small.svg"
            />
            <div class="period-type-group">
              <mat-radio-group  
                [matTooltip]="!selectedToday ? 'Options not available for past dates.' : ''"
                matTooltipPosition="after"
                matTooltipClass="info-tooltip"
                [(ngModel)]="chart.selectedPeriod" 
                [disabled]="!selectedToday"
              >
                <mat-radio-button *ngFor="let option of periodTypes" [value]="option.value" (change)="radioChange($event, chart)">{{option.name}}</mat-radio-button>
                <mat-radio-button *ngIf="chart.selectedPeriod" [value]="null" (change)="radioChange($event, chart)">
                  <span  class="period-type-close">
                    <mat-icon>close</mat-icon>
                  </span>
                </mat-radio-button>
                
              </mat-radio-group>
            </div>
            <div class="chart-time-title" *ngIf="chart && chart.selectedPeriod && chart.data.length > 0 && chart.loading == false">
              {{chart.sampleRate}} Data
            </div>
            <div *ngIf="chart && chart.data.length > 0">
              <app-metric-line-chart #genericDataChart [chart]="chart"></app-metric-line-chart>
            </div>
          </div>
          <div *ngIf="chart && chart.data.length == 0" class="error-container">
            <p *ngIf="chart.loading == false" class="error-message main-gray-text-color">
              <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
              {{ chartMessage }}
            </p>
            <div *ngIf="chart.loading == true" class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <p *ngIf="chart.loading == true" class="error-message main-gray-text-color">
              Loading ...
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="acknowledgementAlarms && acknowledgementAlarms.length > 0" class="btn-container">
    <app-acknowledgement
      [alarms]="acknowledgementAlarms"
      [acknowledgements]="acknowledgements"
    ></app-acknowledgement>
  </div>
</div>
