@import '~styles/variables';

.region-container {
  margin: 0;
}

.sensors-layout-btn {
  position: absolute;
  top: 20px;
  right: 180px;

  .mat-icon {
    height: 100%;
    margin-right: 6px;
  }
}

.view-all-btn {
  position: absolute;
  top: 20px;
  right: 14px;

  .mat-icon {
    width: 19px;
    height: 100%;
    margin-right: 10px;
  }
}

.pie-charts-container {
  margin-top: 0;

  .mat-grid-list {
    height: 170px;

    .mat-grid-tile {
      height: 170px;
    }
  }
}

.info-card-box {
  width: 300px;
  margin: 0 15px 30px 15px;
  border-radius: 6px;
}

.btn-container {
  text-align: center;
  margin-top: 20px;

  .view-all-btn {
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
    border: 1px solid #498aef;
    border-radius: 35px;

    &:hover {
      border-radius: 35px !important;
    }
  }
}

.details-sensor-container {
  border-bottom: 1px dashed;

  .nvd3 text {
    font-size: 18px;
  }

  .nvd3.nv-pie path {
    stroke-width: 0;
  }

  .nvd3-svg .nv-legend-symbol {
    transform: translate(7px, 0);
  }

  .nvd3-svg .nv-legend-text {
    font-size: 14px;
    transform: translate(15px);
  }
}

.compliance-page-header {
  @media (min-width: map-get($grid-breakpoints, md)) and (max-width: map-get($grid-breakpoints, lg)) and (orientation: landscape) {
    font-size: 28px;
    margin-bottom: 45px;
  }

  p {
    margin: 0;
  }
}

.row-chart-legend {
  text-align: center;
  margin-left: 0px;
  margin-right: 0;

  .pie-chart-overall-value {
    font-size: 20px;
    text-align: left;
    padding-left: 13%;
    font-family: FranklinGothic-Book;
    font-weight: 600;
    display: block;
    width: 450px;
    margin: auto;

    @media screen and (min-width: 1400px) {
      padding-left: 18%;
    }
    @media screen and (min-width: 1600px) {
      padding-left: 14%;
    }
    @media screen and (min-width: 1900px) {
      padding-left: 13%;
    }
  }

  .chart-header {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    padding-left: 9%;
    letter-spacing: 1px;
    display: block;
    width: 450px;
    margin: auto;

    @media screen and (min-width: 1900px) {
      padding-left: 9%;
    }
  }
}

.error-asset-header {
  padding-bottom: 9px;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: FranklinGothic-Book;
}

.alarm-red::before,
.alarm-yellow::before,
.alarm-green::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  left: 0;
  top: 7px;
}

.error-container {
  height: 80%;
}

mat-tab-header.mat-tab-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 58px;
}
