<div *ngIf="isLoading" class="overlay">
  <img src="assets/images/compliance/icons/loader.svg" />
</div>
<div class="row details-top-container">
  <div class="col-4 svg-map-background component-health">
    <img class="header-icon" src="./assets/images/compliance/icons/enlarge.svg" />
    <span class="chart-title main-gray-text-color">Health Over Last 24 Hours</span>
    <img
      class="information-icon"
      src="./assets/images/compliance/icons/information-small.svg"
      matTooltip="Proprietary determination of how healthy this component is based on analytic outputs for the past 24 hours, not taking into account criticality."
      matTooltipPosition="after"
      matTooltipClass="info-tooltip"
    />
    <div>
      <app-health-gauge [health]="componentHealth"></app-health-gauge>
    </div>
  </div>
  <div class="col svg-map-background">
    <img
      class="header-icon header-icon--document"
      src="./assets/images/compliance/icons/document.svg"
    />
    <span class="chart-title main-gray-text-color">Events in Last 24 Hours</span>
    <img
      class="information-icon"
      src="./assets/images/compliance/icons/information-small.svg"
      matTooltip="List of events detected by analytics."
      matTooltipPosition="after"
      matTooltipClass="info-tooltip"
    />
    <div *ngIf="sortedData && sortedData.length > 0" class="component-event-log">
      <table mat-table [dataSource]="sortedData" matSort (matSortChange)="sortData($event)" class="svg-map-background event-log-box">
        <ng-container matColumnDef="severity"> 
          <th  mat-sort-header="severity" class="mat-header mat-header-row--sticky" mat-header-cell *matHeaderCellDef>Status</th>
          <td class="main-text-color" mat-cell *matCellDef="let element">
            <div [ngClass]="element.class"></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th class="mat-header mat-header-row--sticky" mat-header-cell *matHeaderCellDef>Description</th>
          <td
            class="main-text-color"
            mat-cell
            *matCellDef="let element"
            translate
            [translateParams]="element"
          >
            {{ element.description }}
          </td>
        </ng-container> 
        <ng-container matColumnDef="date">
          <th mat-sort-header="date" class="mat-header mat-header-row--sticky" mat-header-cell *matHeaderCellDef>Date</th>
          <td class="main-text-color" mat-cell *matCellDef="let element" [appTimezone]="element.started_at"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; let even = even; columns: displayedColumns"
          (click)="goToAlarm(row.alarmAllData)"
          [ngClass]="{ gray: even }"
        ></tr>
      </table>
    </div>
    <div *ngIf="dataSource && dataSource.length == 0" class="error-container">
      <img class="error-bell-icon" src="./assets/images/compliance/icons/error-bell.svg" />
      <p class="error-message main-gray-text-color">No events detected in this time interval</p>
    </div>
  </div>
</div>
