.details-top-container {
  padding: 0;
  margin: 8px 16px 10px 16px;

  .component-health {
    margin-right: 16px;
    min-width: 267px;
  }

  .col,
  .col-5,
  .col-3,
  .col-4 {
    // margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0 rgba(24, 26, 30, 0.6);
  }
}

.component-event-log {
  overflow: auto;
  height: 248px;
  margin-bottom: 15px;
  tr.mat-row {
    &:hover {
      background: #173b74;
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    border-left: 1px solid #425778;
    border-right: 1px solid #425778;
  }

  &::-webkit-scrollbar-thumb {
    background: #0064ff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #014dbe;
  }
}

.mat-row {
  background-color: rgba(77, 101, 140, 0.2);
}

.gray {
  background-color: rgba(77, 101, 140, 0.4);
}

.mat-header-row--sticky {
  position: sticky;
  top: 0;
  background: #2b3647;
  z-index: 100;
}

.header-icon {
  float: left;
  padding-right: 10px;

  &--document {
    padding-top: 17px;
    padding-left: 5px;
  }
}

.information-icon {
  height: 12px;
  margin-top: 17px;
  margin-left: 4px;
  vertical-align: top;
}

table {
  width: 100%;
}

.asset-event-log {
  tr.mat-row {
    &:hover {
      background: #173b74;
    }
  }
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;

  &--red {
    background-color: #ff5252;
  }

  &--yellow {
    background-color: #ffcd0b;
  }
}

.error-container {
  text-align: center;
  margin-top: 40px;

  .error-message {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 14px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
